[2018-06-19 15:54] yillkid opened #1 "Place holder issue for issue which does not exist probably deleted in Gitlab"
This is to ensure the issue ids in Gitlab and GitHub are the same

[2018-06-19 15:54] #1 closed

[2018-06-19 15:54] yillkid opened #2 "Porting all content from Gitea to GitLab"
In gitlab by @root on Jan 5, 2018, 15:09

*Created by: yillkid*

Gitea is very poor for supporting web hook :

[[WIP] Issue webhook #908](https://github.com/go-gitea/gitea/pull/908)

[Webhooks implementation #2418](https://github.com/go-gitea/gitea/issues/2418)

Therefore we plan to change issue tracker platform (GitLab maybe).

[2018-06-19 15:54] yillkid commented on #2
In gitlab by @root on Jan 10, 2018, 16:10

Done.

[2018-06-19 15:54] yillkid commented on #2
In gitlab by @root on Jan 10, 2018, 16:10

closed

[2018-06-19 15:54] #2 closed

[2018-06-19 15:54] yillkid opened #3 "Place holder issue for issue which does not exist probably deleted in Gitlab"
This is to ensure the issue ids in Gitlab and GitHub are the same

[2018-06-19 15:54] #3 closed

[2018-06-19 15:54] yillkid opened #4 "Organize TangleId deverlopment note"
In gitlab by @root on Dec 28, 2017, 11:27

*Created by: jkrvivian*

Understand how TangleId works.
According following topics:
* ReactJS
* Redux
* NextJS
* next-redux-wrapper

[2018-06-19 15:54] yillkid commented on #4
In gitlab by @jserv on Feb 2, 2018, 18:18

assigned to @jkrvivian

[2018-06-19 15:54] yillkid commented on #4
In gitlab by @jserv on Feb 7, 2018, 08:30

Split this into minor and workable sub-tickets.

[2018-06-19 15:54] yillkid commented on #4
In gitlab by @jserv on Feb 7, 2018, 08:30

closed

[2018-06-19 15:54] #4 closed

[2018-06-19 15:54] yillkid opened #5 "Place holder issue for issue which does not exist probably deleted in Gitlab"
This is to ensure the issue ids in Gitlab and GitHub are the same

[2018-06-19 15:54] #5 closed

[2018-06-19 15:54] yillkid opened #6 "Need a simple developer guide for create a new page on TangleID"
In gitlab by @root on Dec 25, 2017, 18:33

*Created by: yillkid*

Hi @abalone0204 !

I try to create a new page for showing the claim info, the UI flow as below:

1. List all claims on user page
![](https://i.imgur.com/IdMNBwz.png)

2. Show claim complete content on a new page (NOT WORK !)
![](https://i.imgur.com/Mwu09SL.png)

I past the Git patch file (generate by ```git diff```) to show what the

[2018-06-19 15:54] yillkid commented on #6
In gitlab by @root on Jan 2, 2018, 21:05

*Created by: yillkid*

A TangleID front-end hackathon with DennyKu will be held on 2017-01-07 ~ 2017-01-25.

[2018-06-19 15:55] yillkid commented on #6
In gitlab by @root on Feb 1, 2018, 22:41

closed

[2018-06-19 15:55] #6 closed

[2018-06-19 15:55] yillkid opened #7 "Place holder issue for issue which does not exist probably deleted in Gitlab"
This is to ensure the issue ids in Gitlab and GitHub are the same

[2018-06-19 15:55] #7 closed

[2018-06-19 15:55] yillkid opened #8 "mam.client.js is not working"
In gitlab by @root on Dec 14, 2017, 10:06

*Created by: HexRabbit*

[mam.client.js](https://github.com/iotaledger/mam.client.js/)

There's a bug in MAM.create()
[code]

Action items:
1. File bug in upstream GitHub;
2. Track upstream issues and participate in corresponding discussions;

[2018-06-19 15:55] yillkid commented on #8
In gitlab by @root on Dec 29, 2017, 10:43

*Created by: HexRabbit*

Still no respond from developer.

I found an another usable repo from l3wi, **but the implementation is different**.

(same as the description on medium)

<https://github.com/l3wi/mam.client.js/>

[2018-06-19 15:55] yillkid commented on #8
In gitlab by @jserv on Feb 2, 2018, 18:09

assigned to @HexRabbit

[2018-06-19 15:55] yillkid commented on #8
In gitlab by @jserv on Feb 2, 2018, 18:10

@HexRabbit, Close this ticket after evaluation.

[2018-06-19 15:55] yillkid commented on #8
In gitlab by @HexRabbit on Feb 6, 2018, 16:54

iotaledger has forked the l3wi's MAM repo and deleted the old one.

This version works properly.

[2018-06-19 15:55] yillkid commented on #8
In gitlab by @HexRabbit on Feb 6, 2018, 16:54

closed

[2018-06-19 15:55] #8 closed

[2018-06-19 15:55] yillkid opened #9 "Place holder issue for issue which does not exist probably deleted in Gitlab"
This is to ensure the issue ids in Gitlab and GitHub are the same

[2018-06-19 15:55] #9 closed

[2018-06-19 15:55] yillkid opened #10 "Docs: Illustrate how distributed ledger mechanism works for IOTA"
In gitlab by @root on Dec 13, 2017, 12:24

*Created by: proof.K*

We need informative descriptions of the mechanism how IOTA/Tangle works internally. The ultimate goal is to let people like @lman have fair understanding about Tangle and its crucial concepts.

Action items:
1. Prepare collaborative materials: https://hackmd.io/s/H17mcMKef
2. Illustrate and clarify

[2018-06-19 15:55] yillkid commented on #10
In gitlab by @root on Dec 14, 2017, 23:53

*Created by: jserv*

Related: #16

[2018-06-19 15:55] yillkid commented on #10
In gitlab by @proof.K on Jan 10, 2018, 14:41

add tittle which is "conflicting transactions case in IRI"

[2018-06-19 15:55] yillkid commented on #10
In gitlab by @proof.K on Jan 18, 2018, 11:18

todo:
1.trace IRI and lib.iota.xxx
2.try case 1

[2018-06-19 15:55] yillkid commented on #10
In gitlab by @proof.K on Jan 22, 2018, 13:56

add zero transaction

[2018-06-19 15:55] yillkid commented on #10
In gitlab by @root on Feb 2, 2018, 16:50

We can simulate different tips selection algorithm by [iotavisualization](https://simulation1.tangle.works/)

[2018-06-19 15:55] yillkid commented on #10
In gitlab by @jserv on Feb 2, 2018, 18:19

assigned to @proof.K

[2018-06-19 15:55] yillkid commented on #10
In gitlab by @jserv on Mar 16, 2018, 23:41

changed title from **Illustrate how distributed ledger mechanism works for IOTA** to **{+Docs: +}Illustrate how distributed ledger mechanism works for IOTA**

[2018-06-19 15:55] yillkid commented on #10
In gitlab by @jserv on May 23, 2018, 18:21

@proof.K, Simply edit [Collaborative page](https://hackmd.io/c/rkpoORY4W) and add the above HackMD page as starting point. Then, let's close this task and split into several detailed ones.

[2018-06-19 15:55] yillkid commented on #10
In gitlab by @jserv on May 31, 2018, 23:06

It was resolved out of box.

[2018-06-19 15:55] yillkid commented on #10
In gitlab by @jserv on May 31, 2018, 23:06

closed

[2018-06-19 15:55] #10 closed

[2018-06-19 15:55] yillkid opened #11 "Place holder issue for issue which does not exist probably deleted in Gitlab"
This is to ensure the issue ids in Gitlab and GitHub are the same

[2018-06-19 15:55] #11 closed

[2018-06-19 15:55] yillkid opened #12 "Summarize tech questions and ask IOTA Foundation to clarify"
In gitlab by @root on Dec 13, 2017, 12:03

*Created by: proof.K*

Since `#collab-billabs` channel is established as the bridge between IOTA Foundation and Taiwan development, it is time to summarize technical questions and ask IOTA Foundation to clarify and track for further collaborations.

Action items:
1. Collect questions >> https://hackmd.io/s/H1bjMvz-G
2. Revise and split into effective item

[2018-06-19 15:55] yillkid commented on #12
In gitlab by @root on Dec 14, 2017, 11:48

*Created by: proof.K*

In https://github.com/NONEYMOUS/IOTA-CONSENSUS-PRESENTATION

issue question , and request some simulated data.

[2018-06-19 15:55] yillkid commented on #12
In gitlab by @root on Jan 10, 2018, 16:32

assigned to @proof.K

[2018-06-19 15:55] yillkid commented on #12
In gitlab by @jserv on Mar 16, 2018, 23:09

We don't need such tickets to track or verify our understanding. Always drop questions on IOTAFoundation stack.

[2018-06-19 15:55] yillkid commented on #12
In gitlab by @jserv on Mar 16, 2018, 23:10

closed

[2018-06-19 15:55] #12 closed

[2018-06-19 15:55] yillkid opened #13 "Place holder issue for issue which does not exist probably deleted in Gitlab"
This is to ensure the issue ids in Gitlab and GitHub are the same

[2018-06-19 15:55] #13 closed

[2018-06-19 15:55] yillkid opened #14 "Calculate milestone transaction confirmed average time?"
In gitlab by @root on Dec 12, 2017, 00:54

*Created by: louielu*

I'm wondering if we can calculate milestone transaction confirmed average time.

We can get milestone timestamp and it's confirmed tx (milestone->trunk->branch) timestamp subtract to get the diff time, based on this time to calculate milestone confirmed average time.

[2018-06-19 15:55] yillkid commented on #14
In gitlab by @root on Jan 10, 2018, 16:33

assigned to @louielu

[2018-06-19 15:55] yillkid commented on #14
In gitlab by @jserv on Mar 16, 2018, 23:10

Any update?

[2018-06-19 15:55] yillkid opened #15 "Place holder issue for issue which does not exist probably deleted in Gitlab"
This is to ensure the issue ids in Gitlab and GitHub are the same

[2018-06-19 15:55] #15 closed

[2018-06-19 15:55] yillkid opened #16 "FQDN redirect for issue tracker"
In gitlab by @root on Dec 12, 2017, 00:54

*Created by: yillkid*

Redirect **node0.puyuma.org:10080** to **issue.puyuma.org**

[2018-06-19 15:55] yillkid commented on #16
In gitlab by @root on Dec 14, 2017, 05:11

*Created by: jserv*

Issue tracker only makes sense to invited developers, and we can always use bookmark to locate it.

[2018-06-19 15:55] #16 closed

[2018-06-19 15:55] yillkid opened #17 "Place holder issue for issue which does not exist probably deleted in Gitlab"
This is to ensure the issue ids in Gitlab and GitHub are the same

[2018-06-19 15:55] #17 closed

[2018-06-19 15:56] yillkid opened #18 "TangleID: Use ISS for signature?"
In gitlab by @root on Dec 12, 2017, 00:49

*Created by: louielu*

Milestone using [ISS](https://github.com/iotaledger/iri/blob/dev/src/main/java/com/iota/iri/hash/ISS.java) to verify milestone signature with [public key](https://github.com/iotaledger/iri/blob/dev/src/main/java/com/iota/iri/Snapshot.java#L23).

Not sure if TangleID can use this create it's public/private key, and then is will no ne

[2018-06-19 15:56] yillkid commented on #18
In gitlab by @root on Dec 28, 2017, 11:50

*Created by: HexRabbit*

Is coordinator using one-time signature method or private public key pair?

[2018-06-19 15:56] yillkid commented on #18
In gitlab by @root on Jan 10, 2018, 17:00

assigned to @louielu

[2018-06-19 15:56] yillkid commented on #18
In gitlab by @jserv on Mar 16, 2018, 23:26

changed title from **{-Use ISS to signature tangle ID-}?** to **{+TangleID: Use ISS for signature+}?**

[2018-06-19 15:56] yillkid commented on #18
In gitlab by @jserv on Mar 16, 2018, 23:27

@louielu, how do you think of the feasibility?

[2018-06-19 15:56] yillkid opened #19 "Place holder issue for issue which does not exist probably deleted in Gitlab"
This is to ensure the issue ids in Gitlab and GitHub are the same

[2018-06-19 15:56] #19 closed

[2018-06-19 15:56] yillkid opened #20 "Visualization of latest 10 milestone, confirmed tx and tips"
In gitlab by @root on Dec 12, 2017, 00:30

*Created by: louielu*

Visulization of latest 10 mielstone, confirmed tx and tips can help people to understand the relationship between each milestone and tips.

[2018-06-19 15:56] yillkid commented on #20
In gitlab by @root on Dec 12, 2017, 04:14

*Created by: yillkid*

Found a cool open source project [iota-dashboard](https://github.com/lsquires/iota-dashboard), simple but powerful!

- [demo site](http://node0.puyuma.org:3000/)

[2018-06-19 15:56] yillkid commented on #20
In gitlab by @root on Dec 12, 2017, 13:33

*Created by: louielu*

This is awesome!

[2018-06-19 15:56] yillkid commented on #20
In gitlab by @root on Dec 12, 2017, 14:14

*Created by: louielu*

Some problem about `iota-dashboard`:

1. Settings is somehow painful...
  * No setting files (manual fix the code)
  * No documentation
2. Timeline design will let the diagram floating around, e.g. 1 min, when a tx is out of the 1 min range, it will disappear in the graph, reposition tangle.

3. The direction isn't quite useful. it

[2018-06-19 15:56] yillkid commented on #20
In gitlab by @root on Dec 26, 2017, 02:54

*Created by: yillkid*

How about this tool: https://bl.ocks.org/mbostock/4062045

The idea is just export the transactions we interested to a JSON format (e.g: a_double_spend_example.json), then we can discuss with a visualize sub-tangle output.

[2018-06-19 15:56] yillkid commented on #20
In gitlab by @root on Jan 10, 2018, 18:29

assigned to @louielu

[2018-06-19 15:56] yillkid opened #21 "Place holder issue for issue which does not exist probably deleted in Gitlab"
This is to ensure the issue ids in Gitlab and GitHub are the same

[2018-06-19 15:56] #21 closed

[2018-06-19 15:56] yillkid opened #22 "Base: Implement effective message queue for TX agent"
In gitlab by @root on Dec 11, 2017, 23:33

*Created by: yillkid*

IRI use MessageQ (ZMQ) to broadcast detail information of transaction, we need the same mechanism for transaction agent service.

[2018-06-19 15:56] yillkid commented on #22
In gitlab by @jserv on Feb 2, 2018, 18:19

assigned to @root

[2018-06-19 15:56] yillkid commented on #22
In gitlab by @jserv on Mar 16, 2018, 23:37

changed title from **Implement effective message queue for TX agent** to **{+Base: +}Implement effective message queue for TX agent**

[2018-06-19 15:56] yillkid commented on #22
In gitlab by @jserv on Mar 16, 2018, 23:38

@root, is it a pending or block issue?

[2018-06-19 15:56] yillkid commented on #22
In gitlab by @root on Mar 16, 2018, 23:47

@jserv it's pending...

[2018-06-19 15:56] yillkid commented on #22
In gitlab by @jserv on May 27, 2018, 03:07

We all agree with the transition from transaction agents to functional swarm nodes from the perspectives of mainnet efficiency. Building IOTA Swarm nodes is regarded as top priority.

[2018-06-19 15:56] yillkid commented on #22
In gitlab by @jserv on May 27, 2018, 03:07

closed

[2018-06-19 15:56] #22 closed

[2018-06-19 15:56] yillkid opened #23 "Place holder issue for issue which does not exist probably deleted in Gitlab"
This is to ensure the issue ids in Gitlab and GitHub are the same

[2018-06-19 15:56] #23 closed

[2018-06-19 15:56] yillkid opened #24 "Reconstruct UI interaction/framework of Leaderboard"
In gitlab by @root on Dec 11, 2017, 23:01

*Created by: yillkid*

Dada has design a template base on [SB Admin 2](https://startbootstrap.com/template-overviews/sb-admin-2/) on 2017-07-04 as the below pictures,and he will try to merge into the leaderboard-example.
![leaderboard page](https://media.taiga.io/attachments/2/5/d/0/543e8488cf68ade7a4250ec554f5e26cca5663066e412633d0baf76a0068/000.png "lea

[2018-06-19 15:56] yillkid commented on #24
In gitlab by @jserv on Feb 2, 2018, 18:23

Drop Leaderboard since it is out of fashion. We can always use existing dashboard.

[2018-06-19 15:56] yillkid commented on #24
In gitlab by @jserv on Feb 2, 2018, 18:23

closed

[2018-06-19 15:56] #24 closed

[2018-06-19 15:56] yillkid opened #25 "Place holder issue for issue which does not exist probably deleted in Gitlab"
This is to ensure the issue ids in Gitlab and GitHub are the same

[2018-06-19 15:56] #25 closed

[2018-06-19 15:56] yillkid opened #26 "TangleID UI flow redesign"
In gitlab by @root on Dec 11, 2017, 22:44

*Created by: yillkid*

There is a TangleID outsourcing front-end design with Denny Ku, we deal a con-call on Wednesday 15:00 every week.

* Develop resource:
  * [TangleID demo site (on heroku)](https://tangleid.herokuapp.com)
  * [Source code (private message me)](https://github.com/abalone0204/tangleId)
  * [Develop co-writing](https://hackmd.io/s/HyJVy

[2018-06-19 15:56] yillkid commented on #26
In gitlab by @jserv on Feb 2, 2018, 18:12

Close since WIP.

[2018-06-19 15:56] yillkid commented on #26
In gitlab by @jserv on Feb 2, 2018, 18:12

closed

[2018-06-19 15:56] #26 closed

[2018-06-19 15:56] yillkid opened #27 "Place holder issue for issue which does not exist probably deleted in Gitlab"
This is to ensure the issue ids in Gitlab and GitHub are the same

[2018-06-19 15:56] yillkid opened #28 "TangleID: perform restoration when private key is lost"
In gitlab by @root on Dec 11, 2017, 22:29

*Created by: yillkid*

We need a mechanism for [TangleID](github.com/TangleID/TangleID) private key lost recovery.

We have Primary and Secondary co-signer field when TangleID create a new identity, refer the [TangleID API - Register a new identity](https://hackmd.io/s/BkB03arJz) for detail.

[2018-06-19 15:57] yillkid commented on #28
In gitlab by @jserv on Feb 2, 2018, 18:23

assigned to @HexRabbit

[2018-06-19 15:57] yillkid commented on #28
In gitlab by @jserv on Feb 2, 2018, 18:24

Wait for @HexRabbit to propose an effective use scenario and preliminary implementation.

[2018-06-19 15:57] yillkid commented on #28
In gitlab by @jserv on May 31, 2018, 23:03

Scheduled for splitting this ticket into functional sub-tasks:
1. Evaluate existing models such as `uPort`
2. It might be unlikely implemented in decentralized fashion for identity restoration. Instead, certain mediator would be conceptually present.

Check point on Jun 6, 2016. Then, let's close.

[2018-06-19 15:57] yillkid commented on #28
In gitlab by @jserv on Jun 13, 2018, 03:54

Defer to uPort approach for key management.

[2018-06-19 15:57] yillkid commented on #28
In gitlab by @jserv on Jun 13, 2018, 03:54

closed

[2018-06-19 15:57] #28 closed

[2018-06-19 15:57] yillkid opened #29 "Place holder issue for issue which does not exist probably deleted in Gitlab"
This is to ensure the issue ids in Gitlab and GitHub are the same

[2018-06-19 15:57] #29 closed

[2018-06-19 15:57] yillkid opened #30 "Integrate GPU-accelerated PoW into IRI"
In gitlab by @root on Dec 11, 2017, 21:36

*Created by: yillkid*

Chen Wei (魏禛) focus on rewriting POW function of IRI with OPENCL.

* Resource
  * [develop node](https://hackmd.io/s/SJ3xPQSZG#)
  * [source code (github)](https://github.com/chenweiii/iota-pow-in-c)

[2018-06-19 15:57] yillkid commented on #30
In gitlab by @root on Dec 11, 2017, 21:37

*Created by: yillkid*

**Fwd: 合作提案，和 OpenCL & VM 效能 (2017年11月16日 上午10:23):**

[進度回報]

1. 上週遇到的效能落差，把 Compilation level 改為 -Os，即表現得跟 golang 版本一致

2. iota.lib.go 的開發者尚未回覆關於 AVX implementation Fail 的 issue

3. 這周閱讀完了 ccurl 的 Pow OpenCL 實作，ccurl 本身的設計即可 concurrent 進行多個 Pow 計算，但在改寫之前想先確認之後 Pow 的 workflow

a. 若 IRI 本身改成 multi-thread calling Pow，那我可以拿掉 ccurl 裡面

[2018-06-19 15:57] yillkid commented on #30
In gitlab by @root on Dec 11, 2017, 21:38

*Created by: yillkid*

**Fwd: 合作提案，和 OpenCL & VM 效能 (2017年11月16日 上午10:23):**

12月10日
老師，真是抱歉，重新看了 ccurl 發現，它並沒有達到 concurrent 進行計算 PoW 的功能 Orz

麻煩該封信的第三點先忽略，但 ccurl 裡確實有設計一個 pdcl_node 去代表不同的 Pow 工作，

仍有可能可以改成 concurrent 進行  PoW

[2018-06-19 15:57] yillkid commented on #30
In gitlab by @jserv on Feb 2, 2018, 18:15

Wait for the confirmation of @weichen .

[2018-06-19 15:57] yillkid commented on #30
In gitlab by @chenwei on Mar 10, 2018, 19:33

Now dcurl have integrated SSE and OpenCL PoW, and modified IRI can load dcurl to do `attachToTangle` successfully.

Source code of modified IRI will be reorganized recently and I will create a new pull request to IRI.

[2018-06-19 15:57] yillkid commented on #30
In gitlab by @jserv on Mar 16, 2018, 23:06

Close as prototype is verified.

[2018-06-19 15:57] yillkid commented on #30
In gitlab by @jserv on Mar 16, 2018, 23:06

closed

[2018-06-19 15:57] #30 closed

[2018-06-19 15:57] yillkid opened #31 "Place holder issue for issue which does not exist probably deleted in Gitlab"
This is to ensure the issue ids in Gitlab and GitHub are the same

[2018-06-19 15:57] #31 closed

[2018-06-19 15:57] yillkid opened #32 "Docs: difference of consistency algorithm, whitepaper and IRI"
In gitlab by @root on Dec 11, 2017, 21:22

Expected goals:

1. find the limit of consensus algorithms;
2. find how to attack tangle network;
3. find how to defend attacks mentioned in Tangle whitepaper;

Reference:
https://hackmd.io/c/HyQrzrV0Z/https%3A%2F%2Fwusyong.gitbooks.io%2Fiota-guidebook%2F

[2018-06-19 15:57] yillkid commented on #32
In gitlab by @root on Dec 23, 2017, 19:16

*Created by: proof.K*

Add node state case when node receives new transaction.

[2018-06-19 15:57] yillkid commented on #32
In gitlab by @root on Dec 27, 2017, 13:47

*Created by: proof.K*

Finish node state case when node receives new transaction and the case about weight growth.

[2018-06-19 15:57] yillkid commented on #32
In gitlab by @proof.K on Jan 22, 2018, 16:14

changed title from **{-共識演算法,白皮書與IRI的差異-}** to **{+The difference of Consistent Algorithm , While Paper and IOTA Reference Implementation+}**

[2018-06-19 15:57] yillkid commented on #32
In gitlab by @proof.K on Jan 22, 2018, 16:14

changed the description

[2018-06-19 15:57] yillkid commented on #32
In gitlab by @proof.K on Jan 22, 2018, 16:15

changed title from **The difference of Consistent Algorithm , Whi{-l-}e Paper and IOTA Reference Implementation** to **The difference of Consistent Algorithm , Whi{+t+}e Paper and IOTA Reference Implementation**

[2018-06-19 15:57] yillkid commented on #32
In gitlab by @proof.K on Jan 22, 2018, 16:17

changed the description

[2018-06-19 15:57] yillkid commented on #32
In gitlab by @proof.K on Jan 22, 2018, 16:17

changed the description

[2018-06-19 15:57] yillkid commented on #32
In gitlab by @proof.K on Jan 22, 2018, 16:18

add how to solve Byzantine Generals Problem

[2018-06-19 15:57] yillkid commented on #32
In gitlab by @proof.K on Jan 24, 2018, 20:38

add tittle "lazy tip"

https://hackmd.io/s/HyQrzrV0Z#lazy-tip

[2018-06-19 15:57] yillkid commented on #32
In gitlab by @proof.K on Jan 24, 2018, 20:40

add tittle "Transaction's life cycle"

https://hackmd.io/s/HyQrzrV0Z#一筆交易在node的生命週期

[2018-06-19 15:57] yillkid commented on #32
In gitlab by @proof.K on Jan 24, 2018, 20:43

add the probability analysis　of successful attack White Paper talks about.

https://hackmd.io/s/HyQrzrV0Z#白皮書攻擊成功機率說明

[2018-06-19 15:57] yillkid commented on #32
In gitlab by @proof.K on Jan 24, 2018, 21:17

update content in hypothesis of Consistent Algorithm

https://hackmd.io/s/HyQrzrV0Z#我對共識演算法的看法與假設

[2018-06-19 15:57] yillkid commented on #32
In gitlab by @proof.K on Jan 25, 2018, 16:23

add URL

https://hackmd.io/s/SkPJjZwSG

https://hackmd.io/s/rJsc2bDBz

https://hackmd.io/s/rkuRpbPHf

[2018-06-19 15:57] yillkid commented on #32
In gitlab by @jserv on Feb 2, 2018, 18:14

assigned to @proof.K

[2018-06-19 15:57] yillkid commented on #32
In gitlab by @proof.K on Feb 3, 2018, 18:00

finish case about "double spend".

https://hackmd.io/s/HyQrzrV0Z#有衝突交易的DAG

[2018-06-19 15:57] yillkid commented on #32
In gitlab by @proof.K on Feb 11, 2018, 16:09

modify split attack description.

https://hackmd.io/s/SkPJjZwSG#分裂攻擊

[2018-06-19 15:57] yillkid commented on #32
In gitlab by @proof.K on Feb 13, 2018, 21:01

give a example to analyze　transaction cumulative weight.

[一筆交易最終的權重增長](https://hackmd.io/s/Bk1vw3B8z)

[2018-06-19 15:57] yillkid commented on #32
In gitlab by @proof.K on Feb 25, 2018, 17:15

Build book model.

[共識演算法,白皮書與IRI的差異](https://hackmd.io/c/HyQrzrV0Z/https%3A%2F%2Fgithub.com%2FNONEYMOUS%2FIOTA-CONSENSUS-PRESENTATION)

[2018-06-19 15:57] yillkid commented on #32
In gitlab by @proof.K on Feb 27, 2018, 17:57

add introduction of IOTA system.

[IOTA系統架構簡介](https://hackmd.io/c/HyQrzrV0Z/https%3A%2F%2Fhackmd.io%2Fs%2FH1BCR6JuM)

[2018-06-19 15:57] yillkid commented on #32
In gitlab by @proof.K on Mar 1, 2018, 13:13

modify introduction of IOTA system.

[IOTA系統架構簡介](https://hackmd.io/s/H1BCR6JuM)

[2018-06-19 15:57] yillkid commented on #32
In gitlab by @proof.K on Mar 1, 2018, 19:17

add tittle "how to find bad neighbor node".

[node如何發現不合作的鄰居node](https://hackmd.io/s/Hk5PpxldG#node如何發現不合作的鄰居node)

[2018-06-19 15:57] yillkid commented on #32
In gitlab by @proof.K on Mar 2, 2018, 17:25

add more analysis of checking transaction.

[白皮書提到的交易選取算法問題](https://hackmd.io/s/rkZAX1xuf#白皮書提到的交易選取算法問題)

[2018-06-19 15:57] yillkid commented on #32
In gitlab by @proof.K on Mar 5, 2018, 16:44

add more analysis of non-cooperation neighbor node.

[與鄰居node保持連線的條件](https://hackmd.io/s/Hk5PpxldG#與鄰居node保持連線的條件)

[2018-06-19 15:57] yillkid commented on #32
In gitlab by @proof.K on Mar 6, 2018, 14:59

add more analysis of DOS.

[Dos](https://hackmd.io/s/Hk5PpxldG#兩個都-confirmation)

[2018-06-19 15:57] yillkid commented on #32
In gitlab by @proof.K on Mar 6, 2018, 15:44

discuss different methods to deal with non-cooperation neighbor node.

[知道不合作鄰居node後的應對](https://hackmd.io/s/Hk5PpxldG#知道不合作鄰居node後的應對)

[2018-06-19 15:58] yillkid commented on #32
In gitlab by @proof.K on Mar 16, 2018, 19:22

add "Confirmation" chapter.

[確認](https://hackmd.io/s/HyYil3DYz)

[2018-06-19 15:58] yillkid commented on #32
In gitlab by @jserv on Mar 16, 2018, 23:39

changed title from **{-The difference of Consistent Algorithm , White Paper and IOTA Reference Implementation-}** to **{+Docs: difference of consistency algorithm, whitepaper and IRI+}**

[2018-06-19 15:58] yillkid commented on #32
In gitlab by @proof.K on Mar 20, 2018, 21:16

add analysis of transaction confirmation.

[DAG 加入一筆交易對確認度的影響](https://hackmd.io/s/HyYil3DYz#DAG-%E5%8A%A0%E5%85%A5%E4%B8%80%E7%AD%86%E4%BA%A4%E6%98%93%E5%B0%8D%E7%A2%BA%E8%AA%8D%E5%BA%A6%E7%9A%84%E5%BD%B1%E9%9F%BF)

[2018-06-19 15:58] yillkid commented on #32
In gitlab by @proof.K on Mar 26, 2018, 15:46

add more analysis of transaction confirmation.

[有新的 tip , 對其他 tip 貢獻確認度的影響](https://hackmd.io/s/HyYil3DYz#%E6%9C%89%E6%96%B0%E7%9A%84-tip--%E5%B0%8D%E5%85%B6%E4%BB%96-tip-%E8%B2%A2%E7%8D%BB%E7%A2%BA%E8%AA%8D%E5%BA%A6%E7%9A%84%E5%BD%B1%E9%9F%BF)

[有衝突交易的 DAG , 交易如何指向](https://hackmd.io/s/HyYil3DYz#%E6%9C%89%E8%A1%9D%E7%AA%81%E4%BA%A4%E6%98%93%E7%9A%84-

[2018-06-19 15:58] yillkid commented on #32
In gitlab by @proof.K on Mar 27, 2018, 15:23

add how to calculate confirmation.

[一種確認度的算法](https://hackmd.io/s/HyYil3DYz#%E4%B8%80%E7%A8%AE%E7%A2%BA%E8%AA%8D%E5%BA%A6%E7%9A%84%E7%AE%97%E6%B3%95)

[2018-06-19 15:58] yillkid commented on #32
In gitlab by @proof.K on Apr 1, 2018, 16:34

changed the description

[2018-06-19 15:58] yillkid commented on #32
In gitlab by @proof.K on Apr 1, 2018, 16:38

add an example.

[確認度例子](https://hackmd.io/s/HyYil3DYz#%E4%B8%80%E7%A8%AE%E7%A2%BA%E8%AA%8D%E5%BA%A6%E7%9A%84%E7%AE%97%E6%B3%95)

[2018-06-19 15:58] yillkid commented on #32
In gitlab by @proof.K on Apr 3, 2018, 17:35

More analysis of double-spending.

[對增加衝突交易確認度的交易數量估計](https://hackmd.io/s/HyYil3DYz#%E5%B0%8D%E5%A2%9E%E5%8A%A0%E8%A1%9D%E7%AA%81%E4%BA%A4%E6%98%93%E7%A2%BA%E8%AA%8D%E5%BA%A6%E7%9A%84%E4%BA%A4%E6%98%93%E6%95%B8%E9%87%8F%E4%BC%B0%E8%A8%88)

[2018-06-19 15:58] yillkid commented on #32
In gitlab by @proof.K on Apr 10, 2018, 20:43

Describe property of transaction confirmation.

[DAG 上確認度的偏序關係](https://hackmd.io/s/HyYil3DYz#DAG-%E4%B8%8A%E7%A2%BA%E8%AA%8D%E5%BA%A6%E7%9A%84%E5%81%8F%E5%BA%8F%E9%97%9C%E4%BF%82)

[2018-06-19 15:58] yillkid commented on #32
In gitlab by @proof.K on Apr 14, 2018, 16:25

More analysis of transaction confirmation growth.

[一筆交易最終的確認度增長](https://hackmd.io/s/Sy9iBlgOM#%E4%B8%80%E7%AD%86%E4%BA%A4%E6%98%93%E6%9C%80%E7%B5%82%E7%9A%84%E7%A2%BA%E8%AA%8D%E5%BA%A6%E5%A2%9E%E9%95%B7)

[2018-06-19 15:58] yillkid commented on #32
In gitlab by @proof.K on Apr 19, 2018, 16:33

Analysis of IOTA foundation confirmation confidence.

[基金會的確認度算法](https://hackmd.io/s/HyYil3DYz#%E5%9F%BA%E9%87%91%E6%9C%83%E7%9A%84%E7%A2%BA%E8%AA%8D%E5%BA%A6%E7%AE%97%E6%B3%95)

[2018-06-19 15:58] yillkid commented on #32
In gitlab by @proof.K on Apr 24, 2018, 16:35

Problem of approving two conflicting transactions.

[不收同時指向衝突交易的交易](https://hackmd.io/s/Sk6a7rhnf#%E4%B8%8D%E6%94%B6%E5%90%8C%E6%99%82%E6%8C%87%E5%90%91%E8%A1%9D%E7%AA%81%E4%BA%A4%E6%98%93%E7%9A%84%E4%BA%A4%E6%98%93)

[2018-06-19 15:58] yillkid commented on #32
In gitlab by @proof.K on May 1, 2018, 16:41

More analysis of IOTA foundation confirmation confidence.

[指向一筆交易的 tip 比例](https://hackmd.io/s/HyYil3DYz#%E6%8C%87%E5%90%91%E4%B8%80%E7%AD%86%E4%BA%A4%E6%98%93%E7%9A%84-tip-%E6%AF%94%E4%BE%8B)

[2018-06-19 15:58] yillkid commented on #32
In gitlab by @proof.K on May 8, 2018, 21:01

About confirmation.

[交易如何確認?](https://hackmd.io/s/rkuRpbPHf#%E4%BA%A4%E6%98%93%E5%A6%82%E4%BD%95%E7%A2%BA%E8%AA%8D)

[2018-06-19 15:58] yillkid commented on #32
In gitlab by @proof.K on Jun 7, 2018, 15:19

New question about transactions to approve.

[有疑慮的指向](https://hackmd.io/s/r11BMVLxQ#%E6%9C%89%E7%96%91%E6%85%AE%E7%9A%84%E6%8C%87%E5%90%91)

[2018-06-19 15:58] yillkid commented on #32
In gitlab by @jserv on Jun 13, 2018, 03:58

changed the description

[2018-06-19 15:58] yillkid commented on #32
In gitlab by @jserv on Jun 13, 2018, 04:01

We need verbose tracking for such fundamental tasks. Be transparent when clarifying.

[2018-06-19 15:58] yillkid opened #33 "Place holder issue for issue which does not exist probably deleted in Gitlab"
This is to ensure the issue ids in Gitlab and GitHub are the same

[2018-06-19 15:58] #33 closed

[2018-06-19 15:58] yillkid opened #34 "Evaluate multi-threaded PoW for IRI"
In gitlab by @root on Dec 11, 2017, 21:05

*Created by: yillkid*

[IRI](github.com/iotaledger/iri) used [synchronized method](https://docs.oracle.com/javase/tutorial/essential/concurrency/syncmeth.html) in POW ([attachToTangle](https://github.com/iotaledger/iri/blob/dev/src/main/java/com/iota/iri/service/API.java#L742)) API command that will cause IRI just only can process 1 POW task at the same t

[2018-06-19 15:58] yillkid commented on #34
In gitlab by @root on Dec 14, 2017, 05:14

*Created by: jserv*

@chenweiii is rewriting PoW functions of [iota.lib.go](https://github.com/iotaledger/iota.lib.go) in C along with OpenCL implementation: https://github.com/chenweiii/iota-pow-in-c

Related: #5

[2018-06-19 15:58] #34 closed

[2018-06-19 16:11] yillkid opened #35 "Docs: Traditional Chinese translation for IOTA Whitepaper"
In gitlab by @root on Dec 11, 2017, 20:05

*Created by: jserv*

Prof. Serguei Popov sent IOTA whitepaper v1.4, and we have been involved with Traditional Chinese translation: https://github.com/jserv/iota-whitepaper/tree/zhtw

Action items:
1. Fill Traditional Chinese translation into LaTeX script;
2. Ask community members to revise generated PDF;
3. Publish to official channel;

[2018-06-19 16:12] yillkid commented on #35
In gitlab by @root on Dec 14, 2017, 23:46

*Created by: jserv*

zh_TW translation is quite crucial since IOTA is visible to Taiwan's cryptocurrency community. It is pity that community members do not have common words yet: http://vikingbar.org/2017/12/%E6%95%B8%E4%BD%8D%E8%B2%A8%E5%B9%A3%E7%9A%84%E4%B8%8B%E4%B8%80%E5%80%8B%E7%81%98%E9%A0%AD%E5%A0%A1%EF%BC%9Aiota%E6%B7%B1%E5%BA%A6%E8%A7%A3%E6%9E%90

[2018-06-19 16:12] yillkid commented on #35
In gitlab by @root on Dec 21, 2017, 18:37

*Created by: jserv*

Section 1 to 5 + Acknowledgements: ready for review.

[2018-06-19 16:12] yillkid commented on #35
In gitlab by @jserv on Jan 15, 2018, 14:37

assigned to @jserv

[2018-06-19 16:12] yillkid commented on #35
In gitlab by @jserv on Jan 15, 2018, 14:38

Release schedule:
* Jan 18, 2018: Call for public review
* Jan 25, 2018: Inform IOTA Foundation and ask for appending.

[2018-06-19 16:12] yillkid commented on #35
In gitlab by @jserv on Mar 16, 2018, 23:29

changed title from **Traditional Chinese translation for IOTA Whitepaper** to **{+Docs: +}Traditional Chinese translation for IOTA Whitepaper**

[2018-06-19 16:12] yillkid commented on #35
In gitlab by @jserv on Mar 16, 2018, 23:29

closed

[2018-06-19 16:12] #35 closed

[2018-06-19 16:12] yillkid opened #36 "Get involved of IOTA Data Marketplace"
In gitlab by @root on Dec 11, 2017, 20:03

*Created by: yillkid*

We try to get the invitation from [IOTA Data Marketplace ](https://data.iota.org/) for the API access permission on 2017-12-06. Until today (2017-12-11) we still have no any response from IOTA foundation, @jserv, @lman could you help us to track or contact about the schedule?

The applicant profile we have submit on 2017-12-06 as be

[2018-06-19 16:12] yillkid commented on #36
In gitlab by @root on Dec 11, 2017, 23:24

*Created by: lman*

我剛已經先丟給Lewis等他起床看

[2018-06-19 16:12] yillkid commented on #36
In gitlab by @root on Dec 12, 2017, 14:21

*Created by: lman*

已經收到Lewis回復. 現在因為全世界的反應過於熱烈。他們現在正在消化需求中. 會需要點時間.

[2018-06-19 16:12] yillkid commented on #36
In gitlab by @jserv on Jan 16, 2018, 14:05

Since BiiLabs is signing MOU, we don't really have to follow the generic ways.

[2018-06-19 16:12] yillkid commented on #36
In gitlab by @jserv on Jan 16, 2018, 14:05

closed

[2018-06-19 16:12] #36 closed

[2018-06-19 16:12] yillkid opened #37 "Base: Construct IOTA swarm nodes"
In gitlab by @root on Jan 12, 2018, 23:04

## Introduction

IOTA plans to introduce **swarm nodes** to divide up the work of transaction validation and tangle storage, there is a [the brief description of swarm node](https://www.reddit.com/r/Iota/comments/6le1i6/questions_on_iota_scaling_and_use_cases/djtjwkx/). (But there is not a complete definition and implementation of swarm node yet.)

I will

[2018-06-19 16:12] yillkid commented on #37
In gitlab by @root on Jan 12, 2018, 23:41

changed the description

[2018-06-19 16:12] yillkid commented on #37
In gitlab by @root on Jan 13, 2018, 00:20

changed the description

[2018-06-19 16:12] yillkid commented on #37
In gitlab by @root on Jan 13, 2018, 00:35

changed the description

[2018-06-19 16:12] yillkid commented on #37
In gitlab by @root on Jan 13, 2018, 00:35

changed the description

[2018-06-19 16:12] yillkid commented on #37
In gitlab by @root on Jan 13, 2018, 01:00

changed the description

[2018-06-19 16:12] yillkid commented on #37
In gitlab by @root on Jan 13, 2018, 01:07

changed the description

[2018-06-19 16:12] yillkid commented on #37
In gitlab by @root on Jan 15, 2018, 14:22

changed the description

[2018-06-19 16:12] yillkid commented on #37
In gitlab by @root on Jan 16, 2018, 12:12

changed the description

[2018-06-19 16:12] yillkid commented on #37
In gitlab by @jserv on Jan 18, 2018, 10:52

TODO: validate multi-threaded PoW work done by @weichen .

[2018-06-19 16:12] yillkid commented on #37
In gitlab by @root on Feb 27, 2018, 20:06

I think IOTA change transaction approve algorithm, the status of transaction I paste on above article [GOWOFJUOM9GIJQQPOHQEQXNWWPTQGVDIQGTBRQGOGGUYWXGPXTOYCDBQNLK9SQFEWBNDSTKQEIBGZ9999](https://thetangle.org/transaction/GOWOFJUOM9GIJQQPOHQEQXNWWPTQGVDIQGTBRQGOGGUYWXGPXTOYCDBQNLK9SQFEWBNDSTKQEIBGZ9999) was changed from **pending** to **label.undefined**, a

[2018-06-19 16:12] yillkid commented on #37
In gitlab by @jserv on Mar 16, 2018, 23:41

changed title from **Construct a swarm-like IOTA node** to **{+Base: +}Construct a swarm-like IOTA node**

[2018-06-19 16:12] yillkid commented on #37
In gitlab by @jserv on Mar 17, 2018, 06:55

Is [iota_swarm_like_node](https://github.com/yillkid/iota_swarm_like_node) regarded as `doable`?

[2018-06-19 16:12] yillkid commented on #37
In gitlab by @root on Mar 19, 2018, 16:41

Yes, I am making a API interface for wallet, maybe finish on this week.

[2018-06-19 16:12] yillkid commented on #37
In gitlab by @root on Mar 26, 2018, 20:37

* [Source code](https://github.com/yillkid/iota_swarm_like_node)
* Features:
  * Issue transaction without fully-synced
  * Issue transaction with full-node that support **getTransactionToApprove**(option) and **broadcastTransactions**
  * You can issue transaction with a public full-node (eg. [light wallet](http://www.iotasupport.com/gui-lightwallet.shtm

[2018-06-19 16:12] yillkid commented on #37
In gitlab by @jserv on May 10, 2018, 20:36

Change requests:
* Revise ticket descriptions upon recent discussions. The input from NextDrive is crucial.
* Rename Git repository to `iota-swarm-node`.
* Python prototyping is regarded acceptable at the moment. Eventually, we will rewrite in C/C++ for the sake of concurrency and adoption in embedded devices (such as NextDrive's CubeJ).

[2018-06-19 16:12] yillkid commented on #37
In gitlab by @jserv on May 10, 2018, 20:38

changed title from **Base: Construct {-a swarm-like IOTA node-}** to **Base: Construct {+IOTA swarm nodes+}**

[2018-06-19 16:12] yillkid commented on #37
In gitlab by @jserv on May 20, 2018, 22:31

Integrated test suite was introduced in current Python-based reference implementation.
Let's close this ticket and create new ones on enhancing `iota-swarm-node`.

[2018-06-19 16:12] yillkid commented on #37
In gitlab by @jserv on May 20, 2018, 22:31

closed

[2018-06-19 16:12] #37 closed

[2018-06-19 16:12] yillkid opened #38 "TangleID: Integrate IOTA flash channel"
In gitlab by @root on Jan 15, 2018, 13:19

[jinnerbichler/home-autoflashion](https://github.com/jinnerbichler/home-autoflashion)is a  proof of concept for integrating IOTA flash channels into home automation system which architecture as below:

![](https://i.imgur.com/QuBBaOI.png)

I plan to integrate it into IRI and Transaction Agent Server (TangleID), architecture as below:
![](https://i.imgur.c

[2018-06-19 16:12] yillkid commented on #38
In gitlab by @jserv on Jan 15, 2018, 14:36

We should clarify the following:
* How [home-autoflashion](https://github.com/jinnerbichler/home-autoflashion) interacts with IOTA Flash channels;
* How basic auth communicates to flash server;
* How can we reuse the existing efforts from [home-autoflashion](https://github.com/jinnerbichler/home-autoflashion)?

[2018-06-19 16:12] yillkid commented on #38
In gitlab by @jserv on Jan 16, 2018, 14:03

[home-autoflashion](https://github.com/jinnerbichler/home-autoflashion) is the derived work from Home Assistant.

Demo site: https://home-assistant.io/demo/
(source code is available)

[2018-06-19 16:12] yillkid commented on #38
In gitlab by @jserv on Jan 18, 2018, 10:49

TODO: @twzjwang to evaluate [home-autoflashion](https://github.com/jinnerbichler/home-autoflashion) and think of the use scenario for LASS.

[2018-06-19 16:12] yillkid commented on #38
In gitlab by @root on Jan 19, 2018, 11:04

Home assistant [source code](https://github.com/home-assistant/home-assistant) (front-end of home-autoflashion)

[2018-06-19 16:46] yillkid opened #39 "IRI throws RejectedExecutionException when receive packet from neighbor"
In gitlab by @root on Jan 17, 2018, 11:12

HOST: http://node.deviceproof.org:14265

----

A traceback exception message as below:
[code]
According the above message section, exception occurred [during broadcasting data from neighbor with UDP protocol](https://github.com/iotaledger/iri/blob/6889f59c2ec1e74bb2d6eec68cb3d8c019ff966b/src/main/java/com/iota/iri/network/UDPReceiver.java#L92), but this N

[2018-06-19 16:46] yillkid commented on #39
In gitlab by @jserv on Feb 2, 2018, 18:19

@root, verify for latest IRI?

[2018-06-19 16:46] yillkid commented on #39
In gitlab by @root on Feb 7, 2018, 17:18

Still no idea about how to re-product this issue, but it never happen on IRI 1.4.2.1
I can close it temporarily.

[2018-06-19 16:46] yillkid commented on #39
In gitlab by @root on Feb 7, 2018, 17:18

closed

[2018-06-19 16:46] #39 closed

[2018-06-19 16:46] yillkid opened #40 "Base: Migrate to RocksDB 5.12 branch and apply ARM optimizations"
In gitlab by @jserv on Jan 18, 2018, 11:00

At present, RocksDB 5.8.x is used with our customized IRI. RocksDB 5.10 is the current development branch, and we should migrate and rebase in order to facilitate upstream bug-fixes and contributions.

[2018-06-19 16:46] yillkid commented on #40
In gitlab by @jserv on Feb 7, 2018, 08:29

Rebase to `5.10.fb` branch.

[2018-06-19 16:46] yillkid commented on #40
In gitlab by @jserv on Mar 7, 2018, 14:19

RocksDB `5.12.fb` branch already merged cross-compilation fixes. I might evaluate the feasibility to migrate to `5.12.fb` branch to avoid duplications.

[2018-06-19 16:46] yillkid commented on #40
In gitlab by @jserv on Mar 7, 2018, 14:19

changed title from **Migrate to RocksDB 5.10 branch and apply ARM optimizations** to **Migrate to RocksDB 5.10{+/5.12+} branch and apply ARM optimizations**

[2018-06-19 16:46] yillkid commented on #40
In gitlab by @jserv on Mar 16, 2018, 23:36

changed title from **{-Migrate to RocksDB 5.10/-}5.12 branch and apply ARM optimizations** to **{+Base: Migrate to RocksDB +}5.12 branch and apply ARM optimizations**

[2018-06-19 16:47] yillkid commented on #40
In gitlab by @jserv on May 26, 2018, 14:29

Caution: RocksDB-5.12.x has several API changes. Do track on each release: https://github.com/facebook/rocksdb/tags

[2018-06-19 16:47] yillkid opened #41 "TangleID: Evaluate iotalk and leverage its functionality"
In gitlab by @jserv on Feb 2, 2018, 18:26

[iotalk](https://github.com/xx10t4/iotalk) is privacy-minded messaging system built on the IOTA Tangle. Each message is a transaction bundle stored in the Tangle, just like a value transfer. Messages are encrypted so only the intended recipient can read them. It provides an easy way for users to create a public key that also act as a message address. Othe

[2018-06-19 16:47] yillkid commented on #41
In gitlab by @HexRabbit on Mar 1, 2018, 13:32

I've finished implementation of terminal version. So, I'll start to implement it to TangleID.

[2018-06-19 16:47] yillkid commented on #41
In gitlab by @jserv on Mar 16, 2018, 23:25

changed title from **{-Evaluate iotalk and leverage its functionality in TangleID-}** to **{+TangleID: Evaluate iotalk and leverage its functionality+}**

[2018-06-19 16:47] yillkid commented on #41
In gitlab by @HexRabbit on May 2, 2018, 06:59

I've leveraged basic functionality of MAM to TangleID for testing propose.

Still need more UI/UX improvements.

https://github.com/TangleID/TangleID/commit/e717090248aba0a41f3f37943ce13b14270a5e26

[2018-06-19 16:47] yillkid commented on #41
In gitlab by @HexRabbit on May 2, 2018, 07:01

Should I merge it to master branch now ?

[2018-06-19 16:47] yillkid commented on #41
In gitlab by @HexRabbit on May 2, 2018, 17:15

Because there's a bug while using node0 api, so before I solve the problem I won't push it to master branch.

[2018-06-19 16:47] yillkid commented on #41
In gitlab by @HexRabbit on May 2, 2018, 17:18

@leotsay

Can you take a look at the new MAM functionality?

I need you to improve my bad UX/UI design.

[2018-06-19 16:47] yillkid commented on #41
In gitlab by @HexRabbit on May 2, 2018, 20:57

closed

[2018-06-19 16:47] yillkid commented on #41
In gitlab by @leotsay on May 4, 2018, 07:33

Will give you today

[2018-06-19 16:47] #41 closed

[2018-06-19 16:47] yillkid opened #42 "LASS: Integrate TangleID and manage sensor data"
In gitlab by @twzjwang on Feb 3, 2018, 16:41

# Done
- encoding sensor data
- Python decode function
- integrate TangleID api
- wirelessly updated from Arduino IDE

# Action Items
- verify data correctness

[2018-06-19 16:47] yillkid commented on #42
In gitlab by @twzjwang on Feb 10, 2018, 16:39

Fix casting bug.<br />
`difference = (int)(current_value - previous_value)`<br />
should be<br />
`difference = (int)current_value - (int)previous_value`<br />
in Hack4U.<br />

[2018-06-19 16:47] yillkid commented on #42
In gitlab by @twzjwang on Feb 10, 2018, 16:47

Modify encoding function<br />
1. avoid a skewed binary tree<br />
2. extend the range of symbols to **+-50** <br />
3. reduce **discard ratio** from 1.5 % to **0.04 %** <br />
4. **compression ratio** is changed from 10.51 % to **12.9 %**

[2018-06-19 16:47] yillkid commented on #42
In gitlab by @twzjwang on Feb 10, 2018, 16:50

HackMD : https://hackmd.io/s/SJnlK_8yM#Details

[2018-06-19 16:47] yillkid commented on #42
In gitlab by @jserv on Mar 16, 2018, 23:18

changed title from **{-Integrate LASS with TangleID-}** to **{+LASS: Integrate TangleID and manage sensor data+}**

[2018-06-19 16:47] yillkid commented on #42
In gitlab by @twzjwang on Apr 24, 2018, 11:23

[(IOTA 版本) 空氣盒子教學](https://hackmd.io/s/H1HxM-2hz)

[2018-06-19 16:47] yillkid commented on #42
In gitlab by @twzjwang on May 23, 2018, 15:00

list of UUIDs
https://thetangle.org/tag/LASSUUIDLISTC

[2018-06-19 16:47] yillkid commented on #42
In gitlab by @jserv on Jun 6, 2018, 08:24

[RuuviTag firmware](https://github.com/ruuvi/ruuvitag_fw) comes with statically-linked MAM library compiled for Arm Cortex-M. It would be great if we can adopt the existing work for Airbox.

Check the directory `ruuvi_examples/test_drivers` in repository [RuuviTag firmware](https://github.com/ruuvi/ruuvitag_fw):
* File `libiota_mam_bindings.a` is exactly

[2018-06-19 16:47] yillkid opened #43 "A negative balance sender address transaction but confirmed on Tangle"
In gitlab by @root on Feb 7, 2018, 08:22

* -2.78 Pi transaction issue
    * [-2.78 Pi transaction](https://thetangle.org/bundle/9CERCVIDPDIHRTIATVP9B9GV9OKC9KPYHCQOEG9OLCYKZN9LHST9KUPSEDWUWXCJRHKNKLTCSISPEIYUZ)
    * Same with Issuer and Receiver Address
    * Negative value of sender address
    * Transaction confirmed
      * The reason:
[code]
      * Use case：
        * [How to send data payl

[2018-06-19 16:47] yillkid commented on #43
In gitlab by @root on Feb 7, 2018, 08:24

It's a valid transaction for IOTA bundle check rules:
- Checks if the provided bundle is valid. The provided bundle has to be ordered tail (i.e. `currentIndex`: 0) first. A bundle is deemed valid if it has:

- Valid transaction structure
- Correct `currentIndex`, `lastIndex` and number of bundle transactions
- The sum of all `value` fields is 0
- The bundl

[2018-06-19 16:47] yillkid commented on #43
In gitlab by @root on Feb 7, 2018, 08:24

closed

[2018-06-19 16:47] #43 closed

[2018-06-19 16:47] yillkid opened #44 "A training course for NTC"
In gitlab by @root on Feb 7, 2018, 08:32

Course [page](http://ntc.im/pn/). (大數據技能養成班)

[presentation-1](https://docs.google.com/presentation/d/1HdnaN3S3P4c2eQz9XoyIbBQE249zjbG9_ntUM2Wo7hE/edit#slide=id.g32ff28a37e_0_423)

[presentation-2](https://docs.google.com/presentation/d/1ctoU6B87EA-SqAhW0sd3nN_ecYZGLzv_VH-T3Lu_Rqk/edit?usp=sharing)

[2018-06-19 16:47] yillkid commented on #44
In gitlab by @root on Feb 7, 2018, 08:33

changed the description

[2018-06-19 16:47] yillkid commented on #44
In gitlab by @jserv on Feb 7, 2018, 12:16

assigned to @root

[2018-06-19 16:47] yillkid commented on #44
In gitlab by @jserv on Feb 7, 2018, 12:35

Regarding [Part I](https://docs.google.com/presentation/d/1HdnaN3S3P4c2eQz9XoyIbBQE249zjbG9_ntUM2Wo7hE/edit#slide=id.g32ff28a37e_0_423), here are suggested changes:
* mention the generations of blockchain technologies: Bitcoin -> Ethereum -> IOTA (or ADA);
* M2M micropayment is crucial to IoT and even big data since data acquisition acts its core role;
*

[2018-06-19 16:47] yillkid commented on #44
In gitlab by @root on Feb 8, 2018, 00:17

changed the description

[2018-06-19 16:47] yillkid commented on #44
In gitlab by @root on Feb 8, 2018, 00:18

Add [part-2](https://docs.google.com/presentation/d/1ctoU6B87EA-SqAhW0sd3nN_ecYZGLzv_VH-T3Lu_Rqk/edit?usp=sharing)

[2018-06-19 16:47] yillkid commented on #44
In gitlab by @root on Feb 14, 2018, 11:24

closed

[2018-06-19 16:47] #44 closed

[2018-06-19 16:47] yillkid opened #45 "TangleID: Reconstruct off-tangle user mechanism"
In gitlab by @root on Feb 7, 2018, 17:39

The mechanism of TangleID to [fetch off-Tangle user](https://github.com/TangleID/TangleID/blob/reconstruct-ui-flow/actions/fetchOffTangleUserList.js) for listing and authorize a identity is just load all profile description include private and public keys from a JSON file:
https://tangleidentity.firebaseio.com/users.json

It doesn&#39;t make sense because

[2018-06-19 16:47] yillkid commented on #45
In gitlab by @jkrvivian on Feb 12, 2018, 16:16

assigned to @jkrvivian and unassigned @leotsay

[2018-06-19 16:47] yillkid commented on #45
In gitlab by @jkrvivian on Feb 12, 2018, 16:18

assigned to @leotsay and unassigned @jkrvivian

[2018-06-19 16:47] yillkid commented on #45
In gitlab by @leotsay on Feb 14, 2018, 06:02

How to allow users to connect firebase

[2018-06-19 16:47] yillkid commented on #45
In gitlab by @root on Feb 21, 2018, 14:09

@leotsay any update? or you could discuss with @HexRabbit about firebase connections. :)

[2018-06-19 16:47] yillkid commented on #45
In gitlab by @HexRabbit on Mar 1, 2018, 13:41

I've found lokijs is capable of doing this and trying to implement it, but encountered some bugs.

[2018-06-19 16:48] yillkid commented on #45
In gitlab by @HexRabbit on Mar 14, 2018, 10:51

Finished initial local storage implementation.

https://github.com/TangleID/TangleID/commit/e0166a48247b6260ae49af82b387b82d39bc1353

[2018-06-19 16:48] yillkid commented on #45
In gitlab by @jserv on Mar 16, 2018, 23:17

changed title from **{-Reconstruct TangleID-} off-tangle user mechanism** to **{+TangleID: Reconstruct+} off-tangle user mechanism**

[2018-06-19 16:48] yillkid commented on #45
In gitlab by @jserv on Mar 16, 2018, 23:17

changed the description

[2018-06-19 16:48] yillkid commented on #45
In gitlab by @root on Apr 12, 2018, 01:15

closed

[2018-06-19 16:48] #45 closed

[2018-06-19 16:48] yillkid opened #46 "Integrate LASS-award policy into IOTA Data Marketplace"
In gitlab by @root on Feb 7, 2018, 17:45

@jkrvivian should we integrate LASS award policy into IOTA data marketplace? or just make a independent one?

https://hackmd.io/s/HJtWTlDHM#
![image](/uploads/38c2e65576caa7feb88b22f49af71edb/image.png)

[2018-06-19 16:48] yillkid commented on #46
In gitlab by @jkrvivian on Feb 14, 2018, 13:53

[award policy and data marketplace note](https://hackmd.io/s/HJtWTlDHM#%E7%8D%8E%E5%8B%B5%E6%A9%9F%E5%88%B6-amp-data-marketplace)

[2018-06-19 16:48] yillkid commented on #46
In gitlab by @jserv on Mar 16, 2018, 23:16

changed title from **Integrate LASS{- award policy into IOTA data m-}arketplace** to **Integrate LASS{+-award policy into IOTA Data M+}arketplace**

[2018-06-19 16:48] yillkid commented on #46
In gitlab by @jserv on Mar 16, 2018, 23:24

Since we can operate on Data Marketplace through testnet, this ticket should not keep open anymore.

[2018-06-19 16:48] yillkid commented on #46
In gitlab by @jserv on Mar 16, 2018, 23:24

closed

[2018-06-19 16:48] #46 closed

[2018-06-19 16:48] yillkid opened #47 "Base: Adapt IOTA Visualization tool for further experiments"
In gitlab by @proof.K on Feb 7, 2018, 23:18

The experiment is to illustrate how attacking scenario described in whitepaper works where the attacks should be visualized via [Iota Tangle Visualization](https://simulation1.tangle.works) along with corresponding DAG.

[2018-06-19 16:48] yillkid commented on #47
In gitlab by @proof.K on Feb 7, 2018, 23:20

changed the description

[2018-06-19 16:48] yillkid commented on #47
In gitlab by @proof.K on Feb 8, 2018, 22:28

[repository](https://github.com/KevinKu/iotavisualization)

[2018-06-19 16:48] yillkid commented on #47
In gitlab by @proof.K on Mar 13, 2018, 19:17

browser can access iotavisualization successfully.

[iotavisualization](http://node0.puyuma.org:9000/)

[webpack-dev-server](https://webpack.js.org/configuration/dev-server/#devserver)

[2018-06-19 16:48] yillkid commented on #47
In gitlab by @proof.K on Mar 17, 2018, 21:02

changed title from **modify  iotavisualization's code in order to experiment** to **{+Base: +}modify  iotavisualization's code in order to experiment**

[2018-06-19 16:48] yillkid commented on #47
In gitlab by @proof.K on Mar 17, 2018, 23:29

changed title from **{-Base: -}modify  iotavisualization's code in order to experiment** to **modify  iotavisualization's code in order to experiment**

[2018-06-19 16:48] yillkid commented on #47
In gitlab by @proof.K on May 17, 2018, 13:44

Basic features:

* graph sub-tangle topology.
* paint milestone.
* paint confirmed transaction.

[Tangle分析工具](https://hackmd.io/s/HJmfL5c0f)

[2018-06-19 16:48] yillkid commented on #47
In gitlab by @jserv on May 18, 2018, 12:59

changed title from **{-modify  iotavisualization's code in order to experiment-}** to **{+Base: Adapt IOTA Visualization tool for further experiments+}**

[2018-06-19 16:48] yillkid commented on #47
In gitlab by @jserv on May 18, 2018, 13:01

changed the description

[2018-06-19 16:48] yillkid commented on #47
In gitlab by @proof.K on May 18, 2018, 18:32

add result of tracing code.

[模擬 Tangle 的圖](https://hackmd.io/s/HJmfL5c0f#%E6%A8%A1%E6%93%AC-Tangle-%E7%9A%84%E5%9C%96)

[畫圖參數的格式](https://hackmd.io/s/HJmfL5c0f#%E7%95%AB%E5%9C%96%E5%8F%83%E6%95%B8%E7%9A%84%E6%A0%BC%E5%BC%8F)

[2018-06-19 16:48] yillkid commented on #47
In gitlab by @proof.K on May 25, 2018, 23:13

Can't use "await".Try "curl-request" library.
[Await無法使用](https://hackmd.io/s/HJmfL5c0f#Await%E7%84%A1%E6%B3%95%E4%BD%BF%E7%94%A8)

[2018-06-19 16:48] yillkid commented on #47
In gitlab by @proof.K on May 29, 2018, 22:59

Add transaction test.

[點button新增交易](https://hackmd.io/s/HJmfL5c0f#%E9%BB%9Ebutton%E6%96%B0%E5%A2%9E%E4%BA%A4%E6%98%93)

[2018-06-19 16:48] yillkid commented on #47
In gitlab by @proof.K on Jun 4, 2018, 21:49

Some thinking.

[SubTangle的算法](https://hackmd.io/s/HJmfL5c0f#SubTangle%E7%9A%84%E7%AE%97%E6%B3%95)

[2018-06-19 16:48] yillkid commented on #47
In gitlab by @proof.K on Jun 8, 2018, 18:13

add implement.

[SubTangle的算法](https://hackmd.io/s/HJmfL5c0f#SubTangle%E7%9A%84%E7%AE%97%E6%B3%95)

[2018-06-19 16:48] yillkid opened #48 "prepare IOTA and TangleID document to Dr.wang."
In gitlab by @proof.K on Feb 9, 2018, 22:49

[2018-06-19 16:48] yillkid commented on #48
In gitlab by @proof.K on Feb 11, 2018, 16:18

[TangleID相關資料整理](https://hackmd.io/s/S1HbyP6Lf)

[2018-06-19 16:48] yillkid commented on #48
In gitlab by @proof.K on Feb 11, 2018, 16:28

email IOTA and TangleID document to Dr.wang.

[2018-06-19 16:48] yillkid commented on #48
In gitlab by @proof.K on Feb 11, 2018, 16:28

closed

[2018-06-19 16:48] yillkid commented on #48
In gitlab by @proof.K on Feb 11, 2018, 16:28

closed

[2018-06-19 16:48] #48 closed

[2018-06-19 17:16] yillkid opened #49 "Binding transaction confirmation between TangleID and Bank"
In gitlab by @root on Feb 14, 2018, 11:23

We need a similar transaction confirmation like [BankID](https://www.bankid.com/en/) for processing the fiat money transaction, BankID working flow as below:
![image](/uploads/4310afb8deda74af157b9d2a71e31597/image.png)

* A work flow graphic for IOTA & Taipei City Government

![C2BPaymentFlow](/uploads/4bd46dd4ee68c9ff787cb4b9543a9a5e/C2BPaymentFlow.png)

[2018-06-19 17:16] yillkid commented on #49
In gitlab by @root on Feb 14, 2018, 17:46

changed the description

[2018-06-19 17:16] yillkid commented on #49
In gitlab by @root on Feb 14, 2018, 17:46

changed the description

[2018-06-19 17:16] yillkid commented on #49
In gitlab by @root on Feb 14, 2018, 17:47

changed the description

[2018-06-19 17:16] yillkid commented on #49
In gitlab by @root on Feb 14, 2018, 17:47

changed the description

[2018-06-19 17:16] yillkid commented on #49
In gitlab by @root on Feb 20, 2018, 22:50

changed the description

[2018-06-19 17:16] yillkid commented on #49
In gitlab by @root on Feb 20, 2018, 23:04

changed the description

[2018-06-19 17:16] yillkid commented on #49
In gitlab by @root on Feb 20, 2018, 23:05

closed

[2018-06-19 17:16] yillkid commented on #49
In gitlab by @root on Feb 22, 2018, 10:05

TODO:
Write a simple web demonstration to show the user scenario.

[2018-06-19 17:16] #49 closed

[2018-06-19 17:16] yillkid opened #50 "Docs: Translate Oyster Protocol whitepaper"
In gitlab by @root on Feb 22, 2018, 21:28

[Oyster](https://oysterprotocol.com) is a open source project provide a service to decentralize attaching the website content into IOTA Tangle and an aware mechanism for POW and broker Nodes. I plan to translate the Oyster whitepaper and thinking about any improvement for TangleID.

Reference:
* [Oyster whitepaper 0.7b](https://oysterprotocol.com/assets/p

[2018-06-19 17:16] yillkid commented on #50
In gitlab by @jserv on Mar 16, 2018, 23:28

changed title from **Translate Oyster whitepaper** to **{+Docs: +}Translate Oyster whitepaper**

[2018-06-19 17:16] yillkid commented on #50
In gitlab by @jserv on May 10, 2018, 20:30

assigned to @twzjwang

[2018-06-19 17:16] yillkid commented on #50
In gitlab by @jserv on May 10, 2018, 20:32

Assign to @twzjwang. We don't have to translate the whole whitepaper. Instead, only summarize how Oyster works in existing HackMD page initiated by @root.

[2018-06-19 17:16] yillkid commented on #50
In gitlab by @twzjwang on May 16, 2018, 16:11

[Oyster 筆記](https://hackmd.io/s/B1V2oZt0z)

[2018-06-19 17:16] yillkid commented on #50
In gitlab by @twzjwang on May 16, 2018, 16:12

changed the description

[2018-06-19 17:16] yillkid commented on #50
In gitlab by @twzjwang on May 16, 2018, 16:12

created branch [`35-docs-translate-oyster-whitepaper`](http://node0.puyuma.org:10081/root/general/compare/master...35-docs-translate-oyster-whitepaper)

[2018-06-19 17:16] yillkid commented on #50
In gitlab by @twzjwang on May 16, 2018, 16:12

mentioned in merge request !1

[2018-06-19 17:16] yillkid commented on #50
In gitlab by @jserv on May 16, 2018, 16:12

changed title from **Docs: Translate Oyster whitepaper** to **Docs: Translate Oyster {+Protocol +}whitepaper**

[2018-06-19 17:16] yillkid commented on #50
In gitlab by @jserv on May 16, 2018, 16:12

changed the description

[2018-06-19 17:16] yillkid commented on #50
In gitlab by @twzjwang on May 19, 2018, 23:57

add "Burying Pearls with Broker Nodes"
[由經紀人節點埋藏 Pearls](https://hackmd.io/s/B1V2oZt0z#%E7%94%B1%E7%B6%93%E7%B4%80%E4%BA%BA%E7%AF%80%E9%BB%9E%E5%9F%8B%E8%97%8F-Pearls)

[2018-06-19 17:16] yillkid commented on #50
In gitlab by @twzjwang on May 22, 2018, 12:50

add "Treasure Hunting for Oyster Pearls"
[Oyster Pearls 尋寶](https://hackmd.io/s/B1V2oZt0z#Oyster-Pearls-%E5%B0%8B%E5%AF%B6)

[2018-06-19 17:16] yillkid commented on #50
In gitlab by @twzjwang on May 26, 2018, 15:49

add "Web Node and Broker Node Collaboration"
[Web 節點和經紀人節點的協作](https://hackmd.io/s/B1V2oZt0z#Web-%E7%AF%80%E9%BB%9E%E5%92%8C%E7%B6%93%E7%B4%80%E4%BA%BA%E7%AF%80%E9%BB%9E%E7%9A%84%E5%8D%94%E4%BD%9C)

[2018-06-19 17:16] yillkid opened #51 "LASS: Evaluate IOTA Data Marketplace APIs"
In gitlab by @root on Feb 27, 2018, 14:53

The goal of IOTA data marketplace is to enable a truly decentralized data marketplace to open up the data silos that currently keep data limited to the control of a few entities.

## New a device

#### [Login to IOTA data marketplace dashboard](https://data.iota.org/dashboard) to get the API access token
![](https://i.imgur.com/pFgPlQO.png)
![](https://i.

[2018-06-19 17:16] yillkid commented on #51
In gitlab by @root on Feb 27, 2018, 15:07

assigned to @jkrvivian

[2018-06-19 17:16] yillkid commented on #51
In gitlab by @root on Feb 27, 2018, 15:07

assigned to @twzjwang and unassigned @jkrvivian

[2018-06-19 17:16] yillkid commented on #51
In gitlab by @root on Feb 27, 2018, 15:48

changed the description

[2018-06-19 17:16] yillkid commented on #51
In gitlab by @root on Feb 27, 2018, 20:13

changed the description

[2018-06-19 17:16] yillkid commented on #51
In gitlab by @twzjwang on Mar 5, 2018, 11:52

## Get All Devices

curl
[code]

response (formatted)
[code]

[2018-06-19 17:16] yillkid commented on #51
In gitlab by @twzjwang on Mar 5, 2018, 12:01

## Create New Device
* Description of "Create New Device" seems to be wrong. <br/>
`This endpoint purchases access for a user.` <br/>

* URL in JavaScript is incorrect.
![](https://i.imgur.com/fgti8lv.png)
`https://api.marketplace.tangle.works/newDevice` <br/>
instead of <br/>
`https://api.marketplace.tangle.works/getDevices` <br/>

curl
[code]
respons

[2018-06-19 17:16] yillkid commented on #51
In gitlab by @twzjwang on Mar 5, 2018, 12:05

## Publish Data Packet
* Its description is weird. <br/>
`This endpoint removes a device from the database.` <br/>
* Endpoint `https://api.marketplace.tangle.works/removeDevice` <br/>
should be `https://api.marketplace.tangle.works/newData` (`index.js` line 17)

[2018-06-19 17:16] yillkid commented on #51
In gitlab by @twzjwang on Mar 12, 2018, 22:56

* Get All Devices
[code]

* Purchase Stream

* Query Stream
[code]

* Create New Device

* Publish Data Packet
[code]

* Delete Device
[code]

[2018-06-19 17:16] yillkid commented on #51
In gitlab by @jserv on Mar 16, 2018, 17:25

@twzjwang, can you prepare an all-in-one shell script for batch execution of each commands?

[2018-06-19 17:16] yillkid commented on #51
In gitlab by @jserv on Mar 16, 2018, 23:15

changed title from **{-IOTA Data marketplace API study-}** to **{+Evaluate IOTA Data Marketplace APIs+}**

[2018-06-19 17:16] yillkid commented on #51
In gitlab by @twzjwang on Mar 18, 2018, 16:06

*  Data Marketplace API testing script.
*  `$sh test.sh`  [test.sh](/uploads/da4cc0bebedd9f31a1510130ed219ad5/test.sh)

[2018-06-19 17:16] yillkid commented on #51
In gitlab by @twzjwang on Mar 18, 2018, 16:10

* Get All Devices: HTTP/1.1 200 OK
* Purchase Stream: HTTP/1.1 500 Internal Server Error
    * Error: could not handle the request
* Query Stream: HTTP/1.1 200 OK
* Create New Device: HTTP/1.1 200 OK
* Publish Data Packet: HTTP/1.1 400 Bad Request
    * {"error":"Ensure all fields are included"}
* Remove Device: HTTP/1.1 400 Bad Request
    * {"error"

[2018-06-19 17:26] yillkid opened #60 "Tangle timestamping study and evaluation"
In gitlab by @proof.K on Mar 14, 2018, 16:56

[Equilibria in the Tangle](https://arxiv.org/pdf/1712.05385.pdf)

[2018-06-19 17:27] yillkid opened #62 "Failure when finding transaction by tag"
In gitlab by @root on Apr 2, 2018, 18:54

How to reproduce:

1. Issue a transaction by [web wallet](node0.puyuma.org/iota_wallet/send/) (full-node:http://node.deviceproof.org:14265) (success)

2. Transaction issued success [link](https://thetangle.org/bundle/FHZAYYVGDRNLKOGAVXKWXRHSIYOMZTJVPTQDJWGSXBJDTYFHJQLCO9CIKWGLLKYIAUIUDHRBUFLBPSIJD) (Translation tag: SUSKIND9AB) (success)

3. Search with ta

[2018-06-19 17:27] #62 closed

[2018-06-19 17:27] yillkid opened #63 "OTA: failure when deploying demo images on pi3"
In gitlab by @csielee on Apr 11, 2018, 17:20

run `mender_1.3.1` on node0 and use [mender demo image](https://docs.mender.io/1.3/getting-started/download-test-images)

pi3 boots by `mender-raspberrypi3.sdimg`

deploy with `raspberrypi3_release_1.mender` will fail when rebooting

![](https://imgur.com/8pdWPfJ.png)

[2018-06-19 17:27] yillkid commented on #63
In gitlab by @csielee on Apr 14, 2018, 13:16

#### Reason for failure 1

[code]

server's ip is error

#### Solution for failure 1

Add server host `docker.mender.io` and `s3.docker.mender` at `/etc/hosts`

- example

[code]

#### Reason for failure 2

[code]

Its date is wrong after reboot, and updating status before ntp synchronizing.

#### Solution for failure 2

Modify interval of Mender clien

[2018-06-19 17:27] yillkid commented on #63
In gitlab by @csielee on Apr 14, 2018, 13:18

![2018-04-14_13-17-40_的螢幕擷圖](/uploads/9b8928115d534f8e03bcf219a94c10e3/2018-04-14_13-17-40_的螢幕擷圖.png)

[2018-06-19 17:27] yillkid commented on #63
In gitlab by @csielee on Apr 14, 2018, 13:18

closed

[2018-06-19 17:27] yillkid commented on #63
In gitlab by @jserv on Apr 14, 2018, 17:34

You should prepare an entry to mini HOWTO or HackMD page(s) regarding Mender OTA while closing this ticket.

[2018-06-19 17:27] yillkid commented on #63
In gitlab by @csielee on Apr 15, 2018, 15:28

[如何在 pi 上佈署 Mender Client](https://hackmd.io/s/Bk1W1uxnG)

[2018-06-19 17:27] #63 closed

[2018-06-19 17:27] yillkid opened #64 "TangleID: degradation of web rendering at first load time"
In gitlab by @jkrvivian on Apr 15, 2018, 00:44

TangleID takes really a long time loading each page.
For a better user experience, we should try decreasing the loading time.

[2018-06-19 17:27] yillkid commented on #64
In gitlab by @jkrvivian on Apr 15, 2018, 00:52

TangleID is a server-side rendering APP.
The purpose of server-side rendering service is to speed up page loading speed.

After reading some discussions, I found out that we've been loading webpage on both server and client side. The most crucial part is getting information via calling TangleID APIs, which is really time costing.

Below is a screensh

[2018-06-19 17:27] yillkid commented on #64
In gitlab by @jserv on Apr 15, 2018, 21:20

changed title from **{-Decrease TangleID loading speed-}** to **{+TangleID: degradation of web rendering at first load time+}**

[2018-06-19 17:27] yillkid commented on #64
In gitlab by @jserv on May 31, 2018, 22:55

assigned to @leotsay and unassigned @jkrvivian

[2018-06-19 17:27] yillkid commented on #64
In gitlab by @jserv on May 31, 2018, 22:55

assigned to @ender503 and unassigned @leotsay

[2018-06-19 17:27] yillkid opened #65 "Ask IOTA Foundation to clarify tech question"
In gitlab by @proof.K on Apr 16, 2018, 16:24

[Question](https://hackmd.io/s/BkxgtuhiM)

[2018-06-19 17:27] yillkid commented on #65
In gitlab by @proof.K on Apr 19, 2018, 14:41

IOTA foundation member answered this question.

[2018-06-19 17:27] yillkid commented on #65
In gitlab by @proof.K on Apr 19, 2018, 14:41

closed

[2018-06-19 17:27] #65 closed

[2018-06-19 17:27] yillkid opened #66 "TangleID: select effective signature algorithms"
In gitlab by @HexRabbit on Apr 19, 2018, 01:56

RSA2048 can't sign the size exceed 256bytes, and the `UUID+M` tx's signature + data can't fit in.

Found a signing algorithm "ed25519", but still too large.

[2018-06-19 17:27] yillkid commented on #66
In gitlab by @HexRabbit on May 23, 2018, 14:44

assigned to @HexRabbit

[2018-06-19 17:27] yillkid commented on #66
In gitlab by @jserv on Jun 13, 2018, 16:15

changed title from **{-Seeking for usable signature algorithm-}** to **{+TangleID: select effective signature algorithms+}**

[2018-06-19 17:27] yillkid opened #67 "Base: Compile IRI into native build via GraalVM"
In gitlab by @chenwei on Apr 26, 2018, 13:16

The article [Top 10 Things To Do With GraalVM](https://medium.com/graalvm/graalvm-ten-things-12d9111f307d) illustrated that Java programs can be compiled to a native library for C program to load.

GraalVM lets you take Java library, either off-the-shelf or one you’ve written yourself, and compile it to a standalone native library for use from other na

[2018-06-19 17:27] yillkid commented on #67
In gitlab by @chenwei on Apr 26, 2018, 13:16

changed the description

[2018-06-19 17:27] yillkid commented on #67
In gitlab by @jserv on May 23, 2018, 06:24

changed title from **Base: Compile IRI to a native library** to **Base: Compile IRI to a native library{+ via GraalVM+}**

[2018-06-19 17:28] yillkid commented on #67
In gitlab by @jserv on May 23, 2018, 06:24

changed the description

[2018-06-19 17:28] yillkid commented on #67
In gitlab by @jserv on May 23, 2018, 06:26

changed the description

[2018-06-19 17:28] yillkid commented on #67
In gitlab by @jserv on May 23, 2018, 06:46

Graal is like a compiler library and it can be used in many different ways. One of those is to compile ahead-of-time (AOT), to a native executable image, instead of compiling just-in-time at runtime. This is similar to how a conventional compiler like GCC works.

However, while using `native-image` to generate AOT images, the following error message were

[2018-06-19 17:28] yillkid commented on #67
In gitlab by @jserv on May 23, 2018, 06:49

Once the option `-H:+ReportUnsupportedElementsAtRuntime` was appended to `native-image` (shipped by Community Edition, fully open sourced), ELF `iri-1.4.2.4` was generated as expected, but it failed to proceed:
[code]

[2018-06-19 17:28] yillkid commented on #67
In gitlab by @jserv on May 23, 2018, 06:53

[Substrate VM Java Limitations](https://github.com/oracle/graal/blob/master/substratevm/LIMITATIONS.md) denotes that Substrate VM does not support all features of Java to keep the implementation small and concise, and also to allow aggressive ahead-of-time optimizations. The above `native-image` failure resulted from the fact that Java Reflection is part

[2018-06-19 17:28] yillkid commented on #67
In gitlab by @jserv on May 23, 2018, 07:33

I just switched to GraalVM Enterprise Edition (graalvm-ee) and executed `native-image` again:
[code]

[2018-06-19 17:28] yillkid commented on #67
In gitlab by @jserv on May 23, 2018, 12:17

Insightful note: [Instant Netty Startup using GraalVM Native Image Generation](https://medium.com/graalvm/instant-netty-startup-using-graalvm-native-image-generation-ed6f14ff7692)

[2018-06-19 17:32] yillkid opened #68 "Base: Observe memory usage of IRI in GraalVM"
In gitlab by @chenwei on Apr 26, 2018, 13:17

[2018-06-19 17:32] yillkid commented on #68
In gitlab by @chenwei on Apr 26, 2018, 13:20

changed title from **Base: Observe {-JVM M-}emory usage of IRI in GraalVM** to **Base: Observe {+m+}emory usage of IRI in GraalVM**

[2018-06-19 17:32] yillkid commented on #68
In gitlab by @jserv on May 23, 2018, 16:42

Related: #53

[2018-06-19 17:32] yillkid opened #69 "What kind transaction does node accept?"
In gitlab by @proof.K on May 2, 2018, 16:00

[address](https://thetangle.org/transaction/MJHFNYFKAUOQQWMC9EWPVWSVLZPAMVBHIAEJER9ZXZ9VXGGHSJFXLBMKIMUBMFTTXIIAKQLKOYCCA9999)

[2018-06-19 17:32] yillkid commented on #69
In gitlab by @proof.K on May 3, 2018, 12:14

changed title from **{-Tip trunkTransaction and branchTransaction check-}** to **{+What kind transaction does node  accept?+}**

[2018-06-19 17:32] yillkid commented on #69
In gitlab by @proof.K on May 3, 2018, 15:06

[What kind transaction does node accept?
](https://hackmd.io/s/Hk0GgQuaf)

[2018-06-19 17:32] yillkid commented on #69
In gitlab by @proof.K on May 9, 2018, 16:44

closed

[2018-06-19 17:32] #69 closed

[2018-06-19 17:32] yillkid opened #70 "TangleID: fail to copy secret keys with Chromium browser"
In gitlab by @root on May 2, 2018, 23:28

* Environment (Chromium) - Version 65.0.3325.181 (Official Build) Built on Ubuntu , running on Ubuntu 16.04 (64-bit)

Just show a **}** symbol on [new user page](http://node0.puyuma.org:3000/users/new/)
![0](/uploads/4e0e4f95bdaa9a53f482791ab078f259/0.png)

* Environment (Firefox) - 59.0.2 (64-bit) for Ubuntu
But it works on Firefox (just a little template

[2018-06-19 17:32] yillkid commented on #70
In gitlab by @jserv on May 16, 2018, 16:09

changed title from **{-Cannot copy Secret Key on Chromium-}** to **{+TangleID: fail to copy secret keys with Chromium browser+}**

[2018-06-19 17:32] yillkid commented on #70
In gitlab by @jserv on May 31, 2018, 22:54

assigned to @ender503

[2018-06-19 17:32] yillkid opened #71 "Base: Repeated OutOfMemory GC while building IRI with Java 10"
In gitlab by @jserv on May 9, 2018, 15:56

OpenJDK 10 is shipped with Ubuntu 18.04 by default. The memory mechanisms are quite different in Java 10 from that in Java 8, which was proven to work well on ARM64 servers. Due to several compatibility issues, new Java options are revised as following:
[code]

After apply the changes to IRI launch script, IRI is known to start in expected GC mode. Howeve

[2018-06-19 17:32] yillkid commented on #71
In gitlab by @jserv on May 20, 2018, 22:36

Environment variable `MAVEN_OPTS` is quite useful while switching among several JVM versions.
Reference: [Configuring Apache Maven](https://maven.apache.org/configure.html)

[2018-06-19 17:32] yillkid commented on #71
In gitlab by @jserv on May 20, 2018, 22:47

Using OpenJDK 8, we can manually configure code cache for JIT compilation. However, its size is crucial:
[code]

[2018-06-19 17:32] yillkid opened #72 "Base: Reduce number of tips to improve ctps"
In gitlab by @proof.K on May 9, 2018, 16:47

[提高ctps實驗](https://hackmd.io/s/BkHdrVeRM)

[2018-06-19 17:32] yillkid commented on #72
In gitlab by @jserv on May 10, 2018, 14:59

Fill in proposal and practical methods to perform.

[2018-06-19 17:32] yillkid commented on #72
In gitlab by @proof.K on May 11, 2018, 13:33

[想法](https://hackmd.io/s/BkHdrVeRM#%E6%83%B3%E6%B3%95)

[2018-06-19 17:32] yillkid commented on #72
In gitlab by @proof.K on May 13, 2018, 22:40

[test result](https://hackmd.io/s/BkHdrVeRM#%E6%B8%AC%E8%A9%A6%E7%B5%90%E6%9E%9C)

[2018-06-19 17:32] yillkid commented on #72
In gitlab by @proof.K on May 15, 2018, 19:33

[tip 數目沒有下降的可能原因](https://hackmd.io/s/BkHdrVeRM#tip-%E6%95%B8%E7%9B%AE%E6%B2%92%E6%9C%89%E4%B8%8B%E9%99%8D%E7%9A%84%E5%8F%AF%E8%83%BD%E5%8E%9F%E5%9B%A0)

[2018-06-19 17:32] yillkid commented on #72
In gitlab by @jserv on Jun 8, 2018, 11:28

changed title from **Reduce number of tips to improve ctps** to **{+Base: +}Reduce number of tips to improve ctps**

[2018-06-19 17:33] yillkid opened #73 "Base: Rewrite IOTA Swarm node prototype in C/C++"
In gitlab by @jserv on May 10, 2018, 20:44

The fact that prototype was written in Python prevents swarm nodes from being widely adopted. We would like to have C/C++ native implementation for the safe of concurrency and resource-efficiency.

Reference: [iota.lib.cpp](https://github.com/thibault-martinez/iota.lib.cpp)

[2018-06-19 17:33] yillkid commented on #73
In gitlab by @jserv on May 21, 2018, 17:50

Required IOTA core APIs:
* `get_new_addresses`
* `get_transactions_to_approve`
* `get_tips`
* `get_inputs`
* `broadcast_transactions`
* `find_transactions`
* `get_trytes`

[2018-06-19 17:33] yillkid commented on #73
In gitlab by @root on May 28, 2018, 23:51

Hi @jserv, if we plan to:
* Fully compatible IOTA library (eg. IOTA official wallet)
* Proxy any IRI APIs

swarm-node should support all the IRI API commands, but some command just need forward to full-node without implement. (eg. broadcast_transactions)

I will write a swarm-node API manual later.

Reference:
* [IRI API](https://iota.readme.io/v1.2.0/ref

[2018-06-19 17:33] yillkid commented on #73
In gitlab by @jserv on Jun 6, 2018, 08:34

Conceptually, it would be a cache engine, acting as a server that saves Web pages or other Internet content locally. By placing previously requested information in temporary storage, or cache, a cache server both speeds up access to data and reduces demand on an full node's bandwidth and overhead. Cache servers also allow users to make transactions offlin

[2018-06-19 17:33] yillkid commented on #73
In gitlab by @jserv on Jun 6, 2018, 08:45

Per discussion on Jun 5, @jkrvivian would help the initial transition from Python-based swarm-node prototype to C++, and then @jserv can reconstruct cache engine with [arcus-memcached](https://github.com/naver/arcus-memcached) or [nuster](https://github.com/jiangwenyuan/nuster).

TODO:
* single-threaded Swarm logic on top of [iota.lib.cpp](https://github.

[2018-06-19 17:33] yillkid commented on #73
In gitlab by @jserv on Jun 13, 2018, 03:46

assigned to @jkrvivian and unassigned @jserv

[2018-06-19 17:33] yillkid opened #74 "TangleID: Evaluate web application fuzzer and automated testing tools"
In gitlab by @HexRabbit on May 16, 2018, 16:04

Since we are about to publish Web APIs such as TangleID and Swarm nodes, it is crucial to ensure we can detect and fix vulnerability as soon as possible. Using fuzzer is an approach, and we should evaluate at least the following:
* https://blackarch.org/fuzzer.html
* https://github.com/henshin/filebuster
* https://github.com/xmendez/wfuzz
* https://g

[2018-06-19 17:33] yillkid commented on #74
In gitlab by @jserv on May 16, 2018, 16:07

changed title from **{-Web application fuzzer &-} testing tools** to **{+Evaluate web application fuzzer and automated+} testing tools**

[2018-06-19 17:33] yillkid commented on #74
In gitlab by @jserv on May 16, 2018, 16:07

changed the description

[2018-06-19 17:33] yillkid commented on #74
In gitlab by @root on May 28, 2018, 23:36

Hi @HexRabbit, [TangleID transaction agent API](http://node0.puyuma.org/tangleid_backend/api/) will be deprecated, you can test IOTA Swarm-Node TangleID extension instead of transaction agent.

* [IOTA Swarm-Node TangleID extension source cpde](https://github.com/yillkid/iota-swarm-node)

* Demo node : http://yillkid.tk:8000
  * You can testing this node

[2018-06-19 17:33] yillkid commented on #74
In gitlab by @HexRabbit on May 29, 2018, 09:35

@root Sure. Thanks for reminding me.

[2018-06-19 17:33] yillkid commented on #74
In gitlab by @jserv on Jun 8, 2018, 11:29

changed title from **Evaluate web application fuzzer and automated testing tools** to **{+TangleID: +}Evaluate web application fuzzer and automated testing tools**

[2018-06-19 17:33] yillkid commented on #74
In gitlab by @HexRabbit on Jun 13, 2018, 15:22

changed the description

[2018-06-19 17:33] yillkid commented on #74
In gitlab by @HexRabbit on Jun 13, 2018, 15:23

changed the description

[2018-06-19 17:33] yillkid commented on #74
In gitlab by @HexRabbit on Jun 13, 2018, 15:23

changed the description

[2018-06-19 17:33] yillkid commented on #74
In gitlab by @HexRabbit on Jun 13, 2018, 15:23

changed the description

[2018-06-19 17:33] yillkid commented on #74
In gitlab by @HexRabbit on Jun 13, 2018, 16:11

[BurpSuite](https://portswigger.net/burp) + [Burp-PyJFuzz](https://github.com/mseclab/Burp-PyJFuzz)
This combination may be capable to use for automated testing.

[2018-06-20 06:39] jkrvivian commented on #73
Open issues on [iota.lib.cpp](https://github.com/thibault-martinez/iota.lib.cpp):
* [No install target after building ](https://github.com/thibault-martinez/iota.lib.cpp/issues/297)
* [Fail at running test in run_build.sh script ](https://github.com/thibault-martinez/iota.lib.cpp/issues/299)

[2018-06-20 06:51] yillkid opened #75 "OTA: claim OTA status on Tangle"
when one [Mender Client](https://docs.mender.io/1.4/troubleshooting/mender-client) reboots new rootfs image successful, it is supposed to perform the following actions:

- get device UUID
- get device Artifact version
- get device information
- use `TangleID` API `new_claim`

[2018-06-20 06:52] yillkid commented on #75
Put [TangleID.lib.sh](https://github.com/csielee/tangleid-pi-shell-scripts/blob/master/TangleID.lib.sh) in `Mender pi rootfs image`.

Use `Mender-Artifact` to add [ArtifactCommit_Leave_99](https://github.com/csielee/tangleid-pi-shell-scripts/blob/master/ArtifactCommit_Leave_99) which is a `Mender state script` in `Mender Artifact` and deploy it to pi.

The pi will claim OTA status by `TangleID`.

[2018-06-20 06:52] yillkid commented on #75
Check the report [Firmware / Software Update over the Air Proof of Concept](https://iota-news.com/volkswagen-over-the-air-update-with-iota-at-cebit-2018/) and think of the approaches that Volkswagen performed OTA via IOTA.

[2018-06-20 06:59] yillkid opened #76 "Base: construct private IOTA testnet for evaluation and Demo Kit purpose"
Potential partners or collaborators would like to evaluate Tangle-based services such as `iota-swarm-node` or `TangleID`. However, uncertainty resulting from mainnet prevents people from being confident to move forward. Instead, we expect to construct effective private IOTA testnet for the sake of closed-environment evaluation. Also, it is crucial for Demo Kit.

Expected output:
* Follow the steps

[2018-06-20 07:00] yillkid commented on #76
Since we got new Intel Xeon E5 class server online, we would construct private testnet on `node10` host.

[2018-06-20 07:01] yillkid opened #77 "Base: Adapt `getTips` for exploit DAG structure to improve CTPS"
In order to improve CTPS, especially with IOTA Swarm nodes, we intend to exploit DAG structure or internal representation as further suggestions of tip selections.

[2018-06-20 07:02] yillkid opened #78 "Base: Construct Oyster Protocol private testnet"
[Oyster Protocol](https://github.com/oysterprotocol) recently switched to [private IOTA testnet](https://github.com/oysterprotocol/private-iota-testnet) instead of mainnet or official IOTA testnet. We are supposed to construct Oyster Protocol broker nodes, hook nodes, and web nodes from GitHub.

Expected output:
1. Build and run Oyster Protocol private testnet on `node0`
2. Deploy broker/hook node

[2018-06-20 07:02] yillkid commented on #78
build failure after changing IOTA Testnet Tools version on [commit 9051861](https://github.com/oysterprotocol/private-iota-testnet/commit/90518611667b8cdf0a640965c0aed46beb441e92)

[code]

success for IOTA Testnet Tools 0.1-SNAPSHOT
[code]

[2018-06-20 07:02] yillkid commented on #78
@twzjwang, If you can reproduce, just file bugs in Oyster Protocol GitHub.

[2018-06-20 07:03] yillkid opened #79 "Base: customize IRI to host node.deviceproof.org"
`node.deviceproof.org` has been served for almost 1 year, and we wish to maintain more IOTA full nodes. It is necessary to automate the build and deployment process.

Expected output:
* move IRI Git repository to `github.com/deviceproof`;
* add `rocksdb` and `dcurl` as Git submodules;
* build IRI and its dependencies;
* validate IRI before actual deployment;

[2018-06-20 16:17] #51 closed

[2018-06-21 03:11] yillkid commented on #74
@HexRabbit Should we move this issue to [TangleID](https://github.com/tangleid/tangleid).

[2018-06-21 03:12] yillkid commented on #73
@jkrvivian Should we move this issue to [IOTA swarm-node](https://github.com/yillkid/iota-swarm-node) ? C.c. @jserv

[2018-06-21 03:20] yillkid commented on #70
Move to [TangleID issue 34](https://github.com/TangleID/TangleID/issues/37) already, I will close this issue.

[2018-06-21 03:20] #70 closed

[2018-06-21 04:37] KevinKu commented on #32
The topic belongs to IOTA whitepaper.So,I close it.

[2018-06-21 04:50] jserv commented on #20
We can host web-based tools such as [iota-dashboard](https://github.com/lsquires/iota-dashboard) on `node0` or `node10`, and then @KevinKu might benefit from it when analyzing how Tangle works in details.

[2018-06-21 04:51] jserv commented on #14
Let's prepare tools in advance.

[2018-06-21 04:51] #14 closed

[2018-06-21 04:55] jserv commented on #67
GraalVM developer chatroom on `native-image`: https://gitter.im/graalvm/native-image

[2018-06-21 06:59] #32 closed

[2018-06-21 08:45] #64 closed

[2018-06-21 09:42] #74 closed

[2018-06-21 09:42] #66 closed

[2018-06-21 11:08] KevinKu commented on #77
Wait for [Iota Tangle Analyst](https://github.com/KevinKu/iotavisualization/tree/remove_unnecessary_code).
Doing  experiment  After analyzing milestone feature .

[2018-06-21 11:08] #77 closed

[2018-06-21 11:13] KevinKu commented on #72
Wait for Iota Tangle Analyst.
Doing experiment After analyzing node's tips state .

[2018-06-21 11:13] #72 closed

[2018-06-22 06:30] yillkid commented on #38
We have deprecated Transaction Agent Server already, so I will close this issue and issue a new one in [iota-swarm-node](https://github.com/yillkid/iota-swarm-node) repository.

[2018-06-22 06:30] #38 closed

[2018-06-24 15:53] jserv commented on #79
This task is expected to catch up with IRI 1.5.0+ as well.

[2018-06-25 17:31] jserv opened #80 "Docs: Illustrate how tip selection algorithm works"
IRI version `1.5.0` comes with a complete rewrite of the tip selection algorithm. There are several informative entries:
* [The Tangle: an Illustrated Introduction](https://blog.iota.org/the-tangle-an-illustrated-introduction-4d5eae6fe8d4)
* [TipSelection Algorithm Documentation](https://hackmd.io/s/Skow-8Hb7)

Wayne translated [TipSelection Algorithm Documentation](https://hackmd.io/s/Skow-8Hb7)

[2018-06-26 21:46] jserv commented on #47
Considering to host our own fork of [iotavisualization](https://github.com/iotaledger/iotavisualization) at @DLTcollab, we should clarify the following:
* general descriptions about `Tangle Analysis` package. NOTE: we prefer to use `Tangle` over `IOTA Tangle` since `IOTA` is a registered trademark while `Tangle` is meant to the network;
* expected output and features;

[2018-06-27 03:02] twzjwang commented on #42
"ERROR opening socket" after 15 records
[code]

[2018-06-28 03:57] KevinKu commented on #47
The issue should be moved to [Tangle-Analysis](https://github.com/DLTcollab/Tangle-Analysis)

[2018-06-28 03:57] #47 closed

[2018-06-29 09:55] KevinKu commented on #80
Write a document to explain.

[1.5.0 TipSelection Algorithm](https://hackmd.io/s/HyddgJGGX)

[2018-06-29 09:55] #80 closed

[2018-07-03 08:16] KevinKu opened #81 "Base: Improve CTPS and reduce confirmation time"
Merge [#77](https://github.com/DLTcollab/general/issues/77) and [#72](https://github.com/DLTcollab/general/issues/72)

Doc:[提高ctps實驗](https://hackmd.io/s/BkHdrVeRM)

[2018-07-03 08:17] KevinKu commented on #81
Describe thinking about second goal.

[縮短交易確認的時間](https://hackmd.io/s/BkHdrVeRM#%E7%B8%AE%E7%9F%AD%E4%BA%A4%E6%98%93%E7%A2%BA%E8%AA%8D%E7%9A%84%E6%99%82%E9%96%93)

[2018-07-05 06:44] KevinKu opened #82 "Base: IOTA Consensus Algorithm Introduction"
[IOTA Consensus Algorithm Introduction](https://hackmd.io/s/SJRDHEoz7)

The document will be used in 7/11 meeting and 7/15 book club.

[2018-07-05 16:51] chenwei-tw commented on #68
Subsequent progress updates will be recorded in this notes:  https://hackmd.io/s/By57t6iG7#

[2018-07-06 08:46] KevinKu commented on #82
Finish.

[IOTA Consensus Algorithm Introduction
](https://hackmd.io/s/SJRDHEoz7)

[2018-07-06 08:46] #82 closed

[2018-07-06 18:57] chenwei-tw commented on #68
I write a tool to observe memory usage of JVM.

https://github.com/chenwei-tw/jvm-nmt-tracing

[2018-07-07 14:30] twzjwang commented on #42
Add an experiment for compression ratio

| | compressed / uncompressed size | uncompressed / compressed size |
| -- | -- | -- |
| Theoretical value | 12.94 % | 7.73 |
| Experimental value | 9.984 % | 10.02 |

![figure_1](https://user-images.githubusercontent.com/11258501/42411730-99583886-8233-11e8-9ca5-722968798b69.png)

[2018-07-07 22:59] jserv commented on #42
Avoid using the same color while plotting histogram, otherwise we can not distinguish.

[2018-07-08 06:47] twzjwang commented on #50
Add [內容消費權利](https://hackmd.io/s/B1V2oZt0z#%E5%85%A7%E5%AE%B9%E6%B6%88%E8%B2%BB%E6%AC%8A%E5%88%A9)

[2018-07-10 07:13] KevinKu commented on #81
problem:[有疑慮的指向](https://hackmd.io/s/r11BMVLxQ#%E6%9C%89%E7%96%91%E6%85%AE%E7%9A%84%E6%8C%87%E5%90%91)

Add solution:
[處理辦法
](https://hackmd.io/s/r11BMVLxQ#%E8%99%95%E7%90%86%E8%BE%A6%E6%B3%95)

[2018-07-10 21:14] ender503 opened #83 "Deploy tools to monitor and visualize Tangle real-time behaviour"
[Prometheus](https://prometheus.io/) is a great monitoring tool, that can help with the following:
 - Gather the matrix data from nodes.
 - Provide the API to query the matrix data.
 - Great visualization tool with Grafana.
 - Make notification when service is down.

With the [iota-prom-exporter](https://github.com/crholliday/iota-prom-exporter), we can gather following information from IOTA node.

[2018-07-10 21:16] jserv commented on #83
You shall mention "expected output" in this task, otherwise we could not realize the impact and its importance.

[2018-07-11 07:20] jserv commented on #73
[entangled](https://github.com/iotaledger/entangled) is used for the construction of `tangle-accelerator`.

[2018-07-12 11:12] KevinKu opened #84 "Doc : The difference of consistency algorithm and IRI"
[Doc](https://hackmd.io/s/rJN51lGXQ)

[2018-07-13 07:04] KevinKu commented on #84
add it in [collections](https://hackmd.io/c/rkpoORY4W/https%3A%2F%2Fhackmd.io%2Fs%2FryriSgvAW).

[2018-07-13 07:04] #84 closed

[2018-07-14 02:20] jserv commented on #50
[Simplified Chinese translation](https://oysterprotocol.com/assets/pdf/OysterWhitepaper_CN.pdf) is available on Oyster Protocol website.

[2018-07-19 06:21] KevinKu opened #85 "Base: problem about side tangle"
IRI issue:[846](https://github.com/iotaledger/iri/issues/846)

First problem : getTransactionsToApprove freezes
Second problem : ctps down

[2018-07-19 10:53] jserv commented on #85
@KevinKu, summarize IRI discussions as well.

[2018-07-19 12:57] KevinKu commented on #85
[Doc](https://hackmd.io/s/Hye2qhamm)

[2018-07-20 12:04] KevinKu commented on #85
[最近 mainnet 的 Tangle](https://hackmd.io/s/Hye2qhamm#%E6%9C%80%E8%BF%91-mainnet-%E7%9A%84-Tangle)

[2018-07-20 12:59] jserv commented on #85
You shall write down some words here in order to improve traceability.

[2018-07-20 15:13] KevinKu opened #86 "Base: IRI with local snapshot (coordinator exists)"
From [doc](https://hackmd.io/s/rJN51lGXQ) , we know transaction referenced by milestone is confirmed.
So , I think IRI can delete these transaction and compute these addresses balance.

I think it has other problems.

Let's discuss it.

[2018-07-23 12:03] KevinKu commented on #85
Solution about getTransactionsToApprove freezes.

[IF solution](https://hackmd.io/s/Hye2qhamm#getTransactionsToApprove)

[2018-07-25 06:52] KevinKu opened #87 "Base: IRI auto-peering"
Cfb talked about [paper](https://www3.nd.edu/~mhaenggi/pubs/jstsp11.pdf).

The problem of Nelson is neighbor rotation.
Neighbor rotation let node be non-syn.

[2018-07-27 08:58] KevinKu commented on #85
Describe IRI 1.5.2 change about  issue 846.

[IRI 1.5.2](https://hackmd.io/s/Hye2qhamm#IRI-152)

[2018-07-29 13:47] KevinKu commented on #83
I think testing API in higher TPS(like TPS > 20 or some number) is needed.
Logging API response can help us know IRI performance in high TPS.

[2018-07-31 08:08] KevinKu commented on #86
Describe how to do local snapshot and related problem.

[Doc](https://hackmd.io/s/BJoJSjNV7)

[2018-08-02 08:36] KevinKu commented on #86
Modify problem description.

[驗證到被 local snapshot 的交易](https://hackmd.io/s/BJoJSjNV7#%E9%A9%97%E8%AD%89%E5%88%B0%E8%A2%AB-local-snapshot-%E7%9A%84%E4%BA%A4%E6%98%93)

[2018-08-03 02:42] jserv commented on #18
@HexRabbit, @ender503: Evaluate the feasibility. If it is not worthy, let's close this.

[2018-08-04 21:44] jserv commented on #79
Sync with IRI `1.5.3`

[2018-08-08 10:16] jserv commented on #79
[dcurl integration](https://github.com/chenwei-tw/iri/commits/external-pow-interface) is verified out of box. We expect to enable AVX2 and GPU for hardware accelerated IRI.

[2018-08-14 11:55] KevinKu commented on #87
Describe what is eclipse attack and problem Nelson cause

[IRI auto-peering](https://hackmd.io/s/S1-_EOT47)

[2018-08-19 05:18] KevinKu opened #88 "Base: problem about "broadcastTransactions""
The command "broadcastTransactions" has a problem.
If node don't limit the command after coordinator doesn't exist.  Then , attacker can use the command to broadcast problematic transaction.
Further , some address balance will be modified.

[2018-08-19 08:04] KevinKu commented on #87
Describe how to do auto-peering.
[個人對於 auto-peering 的想法](https://hackmd.io/s/S1-_EOT47#%E5%80%8B%E4%BA%BA%E5%B0%8D%E6%96%BC-auto-peering-%E7%9A%84%E6%83%B3%E6%B3%95)

[2018-08-19 08:31] KevinKu commented on #88
add more detail about "broadcastTransactions" problem.

[problem about “broadcastTransactions”](https://hackmd.io/s/rJFnwKLUm)

[2018-08-19 20:58] ender503 commented on #18
Defer to @HexRabbit .

[2018-08-21 05:37] KevinKu commented on #88
add more analysis.

[個人的想法](https://hackmd.io/s/rJFnwKLUm#%E5%80%8B%E4%BA%BA%E7%9A%84%E6%83%B3%E6%B3%95)

[2018-08-21 09:19] KevinKu commented on #87
Describe how to do auto-peering without IRI team.

[BiiLabs 暫時的解法](https://hackmd.io/s/S1-_EOT47#BiiLabs-%E6%9A%AB%E6%99%82%E7%9A%84%E8%A7%A3%E6%B3%95)

[2018-08-21 11:25] HexRabbit commented on #18
There's a problem, I've said wrong about that use case.
ISS only provide a **one-time** connection between

**address**(by hash(hash(private key & tx data))) and **signature**(by hash((private key & tx data)),

in this case we cannot know **who owned** this address, the only thing we know is that this tx address is used by its owner, but what we want is a connection between a authenticated, **not

[2018-08-22 19:02] #18 closed

[2018-08-23 06:53] KevinKu opened #89 "Base: Neighbor Node Management"
Last week , we discussed [NBPoW](https://hackmd.io/s/r1TnwjCrQ). And , I introduced "Neighbor Node Management" in the article.
I think it should be researched more detail.

[2018-08-24 14:25] KevinKu commented on #89
Add neighbor node bandwidth analysis.

[鄰居 node 分到頻寬的上限](https://hackmd.io/s/rytqoRiUm#鄰居-node-分到頻寬的上限)

[2018-08-28 13:06] KevinKu commented on #81
Spammer test.

[最近的CTPS](https://hackmd.io/s/BkHdrVeRM#%E6%9C%80%E8%BF%91%E7%9A%84CTPS)

[2018-08-30 23:52] yillkid opened #90 "Load balancer for Tangle-accelerator"
We should deploy a load balancer for `Tangle-accelerator` to dispatch incoming application-aware traffic across multiple targets,  followed by a brief description:

![arc](https://user-images.githubusercontent.com/185872/44885218-38372000-acf2-11e8-94e0-ce3805e47eda.png)

The solution of load balancing is [Nginx](https://www.nginx.com/) [ngx_http_upstream_module](http://nginx.org/en/docs/http/ngx_

[2018-08-31 00:37] yillkid opened #91 "Study powsrv PoWaaS (PoW-as-a-service)"
[Powsrv](https://powsrv.io/) is a PoWaaS (PoW-as-a-service) powered by [pidiver](https://ecosystem.iota.org/projects/iota-pearl-diver-pow-fpga-raspberry-pi) for IOTA wallet, MAM-stream or any IOTA usecase requiring fast transaction turnout. I am studying the implementation and evaluate if it can be a reference for [iota-swarm-node](https://github.com/yillkid/iota-swarm-node) or not. The key points

[2018-08-31 04:27] csielee opened #92 "Test XDK2MAM"
[XDK2MAM](http://xdk2mam.io/)
Open source code for the Bosch XDK 110 to interact with Tangle through MAM

- Transfer data of XDK with IOTA MAM.
- Expect querying data at MAM Explorer.

Note : [Test XDK2MAM](https://hackmd.io/s/SJ8ugCdDm)

[2018-08-31 10:43] KevinKu opened #93 "Base: DoS attack experiment with FPGA accelerator"
The experiment is about coordinator and normal IRI.

[experiment introduction](https://hackmd.io/s/SkffgwLw7)

[2018-09-02 12:47] csielee commented on #92
Successfully get root address and XDK data
But find error : MAM attach time out

environment :

[code]

error message:

[code]

[2018-09-04 08:05] KevinKu commented on #86
Problem about synchronizing ledger.

[node 同步](https://hackmd.io/s/BJoJSjNV7#node-同步)

[2018-09-04 09:18] KevinKu commented on #93
Dos attack starts from milestone.

[MCMC 起點](https://hackmd.io/s/SkffgwLw7#MCMC-起點)

[2018-09-06 07:29] yillkid commented on #90
Service log - https://hackmd.io/bs-DQryNRA2Xv5KxcKGYtg?view#Service-file

[2018-09-07 12:44] KevinKu commented on #93
Attack Architecture.

[架構](https://hackmd.io/s/SkffgwLw7#%E6%9E%B6%E6%A7%8B)

[2018-09-08 13:04] csielee commented on #92
Successfully upload XDK data with MAM

Solve is changing iri node

[code]

[MAM explorer for this test](https://mam.tangle.army/fetch?address=VCYLPQQ9HPO9KEYU9INYPGYMVVHL9BWIEUKGKUNYEWILIDYVGBYY9PXGPGGQQQOZHZUNOIGHFSJAFYYYK)

[2018-09-10 06:22] yillkid opened #94 "Base: User authentication for load balancer"
User authentication and access for mobile applications and IoT devices, followed by a brief description:

![arc_auth](https://user-images.githubusercontent.com/185872/45278814-55919880-b501-11e8-91de-131b7599afbc.png)

The auth server provide a login provider authentication token for different applications (mobile or IoT device), the auth seriver collects a user's profile attributes into directori

[2018-09-12 04:44] jserv commented on #79
We are about to maintain our own IRI branch `sid`, inspired by [Debian unstable](https://www.debian.org/releases/sid/), to incubate several experimental features:
* [external PoW interface](https://github.com/chenwei-tw/iri/commits/external-pow-interface)
    - We shall package `dcurl` JNI into single JAR as [rocksdbjni](https://github.com/facebook/rocksdb/tree/master/java) does.
* Allow GNU make

[2018-09-12 04:46] jserv commented on #40
Targeting Cavium [ThunderX2](https://www.cavium.com/product-thunderx2-arm-processors.html).
Memory configurations will be adviced in advance.

[2018-09-12 04:51] jserv commented on #79
Maintenance policy:
1. Changes specific to `DLTcollab` should appear with "DO NO MERGE".
2. Changes which are worth upstream contributions should be kept in dedicated branches for public review.

[2018-09-12 04:54] jserv commented on #79
Related: #68, #40

[2018-09-12 05:13] jserv commented on #40
[LITE configurations](https://github.com/facebook/rocksdb/blob/master/ROCKSDB_LITE.md) of RocksDB do not work with JNI.

[2018-09-15 14:46] jserv commented on #90
[iri-lb-haproxy](https://github.com/nuriel77/iri-lb-haproxy) is meant for private IRI nodes cluster.

It is based on Consul and HAproxy, the latter being a robust, feature rich load balancer. In addition to Consul, Consul Template is used to watch services in Consul and update Haproxy.

@yillkid, confirm feasible solutions in advance.

[2018-09-16 08:31] KevinKu commented on #87
One of method which resists eclipse attack.

[均勻分佈隨機選鄰居 node](https://hackmd.io/s/S1-_EOT47#%E5%9D%87%E5%8B%BB%E5%88%86%E4%BD%88%E9%9A%A8%E6%A9%9F%E9%81%B8%E9%84%B0%E5%B1%85-node)

[2018-09-16 12:59] jserv opened #95 "Trinity Desktop can not work with node.deviceproof.org"
Reported by Twitter user @sascha1337:

* [source](https://twitter.com/sascha1337/status/1041292406581223424)

[2018-09-16 13:40] yillkid commented on #95
There is an article: [Node configuration for Trinity wallet support](https://blog.iota.org/node-configuration-for-trinity-wallet-support-4f7d48a9f7f3) describe this issue, we should set up SSL following the [guide](https://enable-cors.org/server) instead of this [tutorial](https://www.iotachina.com/iota-iri-node-https.html).

Section of [Node configuration for Trinity wallet support](https://blog.

[2018-09-17 06:46] csielee commented on #92
`deviceproof` iri node also can upload data with MAM

[code]

[2018-09-19 04:40] csielee opened #96 "Deploy Toaster that is web interface of bitbake"
Toaster :

Reference [toaster-manual](https://www.yoctoproject.org/docs/2.5.1/toaster-manual/toaster-manual.html) to deploy on `node0`

Expect to use yocto build system( bitbake ) more easily and  don't have to put huge yocto build system on the local

[deploy note](https://hackmd.io/s/SJl1TbRKQ)

[tutorial note](https://hackmd.io/s/BJH2Qa497)

[2018-09-21 12:46] KevinKu opened #97 "Base: Economic Cluster"
Opinion of EC.

[Economic Cluster](https://hackmd.io/s/rk9lq-UK7)

[2018-09-21 12:55] KevinKu commented on #93
The issue should be moved to [DOS-attack-with-FPGA-accelerator](https://github.com/DLTcollab/DOS-attack-with-FPGA-accelerator).

[2018-09-21 12:55] #93 closed

[2018-09-30 10:42] csielee commented on #96
Toaster Web UI error on http://node0.puyuma.org:9000/toastergui/project/2/layer/1

Web UI raises `TypeError` when click layer info link.

[code]

[2018-10-01 04:58] csielee commented on #96
`TypeError` is triggered because call class method without instance in python2

solution:

add `@staticmethod` on prefix of this method

[code]

Toaster GUI can view the layer's detail 、 recipes of layer、machines provided by layer
http://node0.puyuma.org:9000/toastergui/project/2/layer/1

[2018-10-01 05:01] csielee commented on #96
Build image error :
http://node0.puyuma.org:9000/toastergui/build/3#errors

[code]

Because `bitbake` runs on `python3` not `python2`.

[2018-10-02 04:32] csielee commented on #96
Build image success:
http://node0.puyuma.org:9000/toastergui/build/6

solution:
let `Toaster` use `python3`.
And modify link path of `python3`  to `/usr/bin/python3.6` not `/usr/bin/python3.5`

[2018-10-07 02:50] yillkid commented on #90
A study note can be found [here](https://hackmd.io/s/B1VnrCj_X)

* DONE
  * Register/Deregister service for IOTA full-node
  * Health check for IOTA full-node
* TODO
  * IOTA API Proxy
  * Prometheus integration
  * Tangle Accelerator extension

[2018-10-08 05:19] csielee commented on #96
Add tutorial note and video

[tutorial note](https://hackmd.io/s/BJH2Qa497)
[tutorial video](https://www.youtube.com/watch?v=gwkMVea3_YU)

[2018-10-08 05:19] #96 closed

[2018-10-10 05:34] ender503 commented on #95
The Nginx forward response from the IRI(14265) to the HTTPS(443), and append duplicate `Access-Control-Allow-Origin` in the HTTP Header.
After removing this line in the Nginx config file and restart the Nginx, the wallet can use DeviceProof correctly.
[code]

![img_1531](https://user-images.githubusercontent.com/1849431/46715090-1639a180-cc91-11e8-960b-69a26dcba5ed.PNG)

[2018-10-10 05:34] #95 closed

[2018-10-10 07:40] ender503 opened #98 "Trinity Desktop cannot fetch the transaction history"
After connected with the `https://node.deviceproof.org:443`, the Trinity Desktop cannot fetch the transaction history and show the following error.

![image](https://user-images.githubusercontent.com/1849431/46720122-2dcd5600-cca2-11e8-95ce-75aa2e73b67e.png)

In the Enginx access log, one of the response status code is 500.

[code]

[2018-10-10 08:07] ender503 opened #99 "Tangle: DeviceProof getBalances API Internal Server Error"
Use the following command to request balances, will get the HTTP response with status code 500 (Internal Server Error).

[code]

[code]

[2018-10-14 07:27] KevinKu opened #100 "Base: The theory of random walk"
This issue discusses probability of confirmation and tip selection.

[Attack analysis - the simple parasite chain](https://hackmd.io/s/B1z3l8gsX)

[2018-10-20 10:50] ender503 commented on #99
Thenode10.puyuma.org(mainnet) has the same problem.
It's weird and I can't figure out, here is the output from node10.

[code]

[code]

[2018-10-20 11:00] ender503 commented on #99
Since the response status code is 500, it's unused error.
The error exception is not generated by the `ErrorResponse.create()`. [Link](https://github.com/iotaledger/iri/blob/dev/src/main/java/com/iota/iri/service/API.java#L1170)

[2018-10-22 04:40] yillkid commented on #94
We can use [iri-lb-haproxy](https://github.com/nuriel77/iri-lb-haproxy) as load balancer solution! Reading my [note](https://hackmd.io/s/B1VnrCj_X) for detail.

TODO:

* Full-node deploy plans
* Prometheus integration
* Tangle Accelerator integration

[2018-10-28 15:35] yillkid commented on #90
#### MAINNET
Load balancing - http://node0.puyuma.org:8002

TESTNET
Load balancing - http://node0.puyuma.org:8000

[2018-10-29 10:38] wusyong opened #101 "Disable HTTPS requirement for nodes when building Trinity"
* On desktop:
https://github.com/iotaledger/trinity-wallet/blob/develop/src/shared/containers/settings/Node.js#L48

* On mobile:
https://github.com/iotaledger/trinity-wallet/blob/develop/src/mobile/src/ui/views/wallet/AddCustomNode.js#L192

[2018-11-04 05:31] KevinKu commented on #100
The basic theory of random walk.

[random walk 中 , 走到每筆交易的機率](https://hackmd.io/s/B1z3l8gsX#random-walk-%E4%B8%AD--%E8%B5%B0%E5%88%B0%E6%AF%8F%E7%AD%86%E4%BA%A4%E6%98%93%E7%9A%84%E6%A9%9F%E7%8E%87)
[增加 1% 確認度的機率](https://hackmd.io/s/B1z3l8gsX#%E5%A2%9E%E5%8A%A0-1-%E7%A2%BA%E8%AA%8D%E5%BA%A6%E7%9A%84%E6%A9%9F%E7%8E%87)

[2018-11-05 08:23] KevinKu opened #102 "Base: Evaluate the effect of performing local snapshot with IRI"
LS maybe influences some IRI commands.
So,I write a document describes how to effect this commands.

[Local Snapshot 對 IRI command 的影響](https://hackmd.io/s/H19fDdIPQ)

[2018-11-09 08:53] ender503 commented on #101
Thanks, @wusyong. I disable the HTTPS checks successfully. 👍

[2018-11-09 08:53] #101 closed

[2018-11-11 14:50] jserv commented on #99
@yillkid, It is time to narrow down the problem. I have merged latest upstream `dev` to [our own IRI](https://github.com/DLTcollab/iri). Please check.
NOTE: you have to package without running tests. That is, `mvn package -Dmaven.test.skip=true`

[2018-11-13 10:43] yillkid commented on #99
OK, upgrade finish on node10 and devorg, the nodes work fine ... I will begin to trace this issue after fully synced.

[2018-11-14 07:56] yillkid opened #103 "Error during IRI Latest Milestone updating"
## Description
`IndexOutOfBounds` exception on IRI init.

## Environment
* Full-node
  * node10
  * devorg
* IRI version
  * 1.5.5 - [DLTLab dev branch](https://github.com/DLTcollab/iri)
## Steps To Reproduce
It can't reproduce this issue on vanilla IRI.

IRI launch script
[code]

Output:
[code]

GetNodeInfo API response
[code]

[2018-11-14 13:46] jserv commented on #103
By the way, @marktwtn, please rebase to upstream/dev:
[code]

You can rebase on `dev-rebase` and verify first and then force push to `testing` branch.

[2018-11-14 13:47] jserv commented on #103
@yillkid, you shall mention if vanilla IRI can reproduce or not.

[2018-11-18 14:45] marktwtn commented on #103
I've rebased the `dev-rebase` to upsteam/dev.

The `dev-rebase` version of **IRI** never updates the latest milestone, hence the `IndexOutOfBounds` exception can not be observed.

[2018-11-18 18:08] yillkid opened #104 "latestSolidSubtangleMilestoneIndex stuck with incorrect transaction type"
## Description
IRI `getNodeInfo` API return value `latestSolidSubtangleMilestoneIndex` stuck over 1 hour after iri launched.
## Environment
* Full-node
  * devorg
* IRI version
  * 1.5.5
    * Vanilla
    * DLTLab dev/testing branch
* IRI launch script
[code]
## Steps To Reproduce
Lanuch iri and wait 1 or 2 hours.
[code]
## Tracing
The IRI variable `latestSolidSubtangleMilestone` updated on functi

[2018-11-21 07:30] yillkid opened #105 "OutOfMemoryError: GC overhead limit exceeded"
## Description
GC overhead limit exceeded in IRI log as below [(full-log)](https://github.com/DLTcollab/general/files/2603136/log.txt) :
[code]

## Environment
* Full-node
  * devorg
* IRI version
  * 1.5.5
    * Vanilla
    * DLTLab dev/testing branch
* IRI launch script
[code]

[2018-11-21 07:56] yillkid commented on #105
Can't determine any memory leak issue from the log file, try to set Xmx (maximum memory allocation) and Xms (initial memory) from 6GB to 12GB and see.

[2018-11-21 13:11] yillkid commented on #104
duplicate with [Crash on attempting to --rescan #371](https://github.com/iotaledger/iri/issues/371).

[2018-11-22 02:04] jserv commented on #105
We might have to change the GC implementations: https://www.javacodegeeks.com/2017/11/minimize-java-memory-usage-right-garbage-collector.html

[2018-11-25 16:14] yillkid commented on #104
Works fine (no need rescan) after download [3rd party IRI database](https://hackmd.io/s/ryI92GgZX), but still cannot funny-synced (`latestSolidSubtangleMilestoneIndex` grow very slowly)

[2018-11-25 19:08] marktwtn opened #106 "Base: Parallelize API GTTA invocations of IRI"
( Initiated by @yillkid )

The IRI `getTransactionsToApproveStatement (GTTA)` is a synchronized function.
The duration becomes longer and longer with the frequent requests.

We must analyze and discuss the way to do the parallel execution.

I wrote a simple `python` script to prove the behaviour.
The script would run several threads and send the `GTTA` request to full-node.

The following are the

[2018-11-26 07:43] KevinKu opened #107 "Trace cliri"
We should trace cliri code for future experiment.

This article is [cliri追蹤紀錄](https://hackmd.io/s/Skk06luAQ).

[2018-11-26 18:03] jserv commented on #90
@yillkid, can you transfer this ticket to @jkrvivian ? So that, you can focus on other maintenance issues.

[2018-11-26 18:04] jserv commented on #71
We would stick on OpenJDK 8 for IRI 1.5.x

[2018-11-26 18:04] #71 closed

[2018-11-30 16:01] KevinKu commented on #107
The key section in [this request](https://github.com/iotaledger/cliri/pull/49/commits)

[11/30](https://hackmd.io/s/Skk06luAQ#1130)

[2018-12-02 15:46] marktwtn commented on #106
Here comes the experiment result with the `testnets` updating to the newest milestone and being fully-synced.

IOTA IRI v1.5.3
![gtta parallel test on testnet - 2](https://user-images.githubusercontent.com/6748200/49341653-b4435a00-f68b-11e8-88af-bce1b56d8c21.png)

DLTLab IRI - without `synchronization` keyword
![gtta parallel test on testnet](https://user-images.githubusercontent.com/6748200/4934

[2018-12-04 12:19] KevinKu commented on #107
The record.

[12/4](https://hackmd.io/s/Skk06luAQ#124)

[2018-12-04 12:21] KevinKu commented on #107
@wusyong
The article has commits/PRs.
I don't discuss every PRs.

[2018-12-05 07:51] yillkid commented on #106
Will you plan to move all the testing to the `mainnet` network? You need a testing full-synced IRI on `mainnet`, right?

[2018-12-05 07:59] yillkid commented on #104
I close the script for restart IRI every 4 hours and wait for any issues.

[2018-12-05 12:36] KevinKu commented on #107
[12/5](https://hackmd.io/s/Skk06luAQ#125)

[2018-12-05 16:47] marktwtn commented on #106
The following charts are the resource consumption while sending the `GTTA` http request 1000 times at the same time.

IOTA IRI v1.5.3
(`GTTA` request 1000 times) x 2
![iri-testnet-1](https://user-images.githubusercontent.com/6748200/49527573-2e264e00-f8ed-11e8-87f7-39404a3274bc.png)

DLTLab IRI - without `synchronization` keyword
(`GTTA` request 1000 times) x 7
![no-sync-3](https://user-images.git

[2018-12-07 09:14] marktwtn commented on #106
The `latestSolidSubtangleMilestone` would not be updated if there are lots of `GTTA` coming in a short period.

**milestone**
MilestoneTracker.java
[code]
LedgerValidator.java
[code]

**GTTA**
TipSelectorImpl.java
[code]

The update of milestone uses write lock, while `GTTA` uses read lock.
Hence if there are intensive `GTTA` requests coming, the milestone(latest solid subtangle) would not be upda

[2018-12-10 02:12] jserv commented on #104
The message `std::bad_alloc` stands for out-of-memory happening in JVM. @marktwtn, can you follow the instructions by [Minimize Java Memory Usage with the Right Garbage Collector](https://www.javacodegeeks.com/2017/11/minimize-java-memory-usage-right-garbage-collector.html) to pick up appropriate strategies with @yillkid ?

[2018-12-10 06:17] marktwtn commented on #106
There are two behaviour I observed:

1.
The performance looks promising.
However, if the total GTTA requests are too many and sent at the same time, there would be some requests never be responded.

(In our full-node, it would be around 4000 requests.)

2.
The returned trunk and branch transactions would be referenced by the future milestone.
The transactions of the original version look fine.
But

[2018-12-10 07:00] yillkid commented on #104
@jserv I have launch IRI with `-XX:+PrintGCDetails` parameter to keep watching the GC management.

[2018-12-12 15:50] yillkid commented on #104
Add 2 neighbors on Asia, we got lower `transactionsToRequest` in `getNodeInfo` API means we got less nonsolid request queue.

[code]

[2018-12-12 15:54] yillkid commented on #104
Total transaction counts is `3631721` after I add `-XX:+PrintGCDetails` paremater and disable the restarting script. I think it's the better workaround before we upgrade IRI to 1.6.0(local snapshot support).

[code]

[2018-12-13 01:42] jserv commented on #106
Cc. @wusyong

[2018-12-13 12:42] KevinKu commented on #107
[12/13](https://hackmd.io/s/Skk06luAQ#1213)

[2018-12-13 12:59] jserv commented on #91
It is not a feasibly technical thing. Pity.

[2018-12-13 12:59] #91 closed

[2018-12-13 13:00] jserv commented on #73
Cc. @wusyong

[2018-12-14 08:48] marktwtn commented on #106
Change the readWriteLock to `fair mode` may solve the problem.
The `fair mode` would let the longest waiting thread to get the lock first.

I will use the `jMeter` to send intensive `GTTA` requests,
make sure the milestone won't update and change the lock to `fair mode` to see the result.

[2018-12-14 12:30] KevinKu commented on #107
[12/14](https://hackmd.io/s/Skk06luAQ#1214)

[2018-12-14 15:08] jserv commented on #106
@marktwtn, do we have to configure acquire timeout for readWriteLock manually?

[2018-12-15 08:13] jkrvivian opened #108 "Base: Trace MAM"
We will trace [MAM/v2](https://github.com/iotaledger/entangled/tree/develop/mam) to see if we can relay the calculation of merkle tree to tangle accelerator.

[2018-12-15 10:12] yillkid commented on #104
Now all the full-node (devorg, node10) are fully synced with following conditions:
* 19~25 neighbors
* Launch IRI with -XX:+PrintGCDetails parameter (just for monitoring)

I will close this issue.

[2018-12-15 10:12] #104 closed

[2018-12-15 10:44] jserv commented on #104
Use `sync'd` rather than `synced`: https://english.stackexchange.com/questions/25725/what-is-the-past-tense-of-sync

[2018-12-15 15:39] yillkid commented on #103
The issue never occurs since @marktwtn upgrade to the latest version (27 days). I will close this issue.

[2018-12-15 15:39] #103 closed

[2018-12-16 03:32] yillkid commented on #94
nuriel77, the main contributor of [iri-lb-haproxy](https://github.com/nuriel77/iri-lb-haproxy) invite me to test the feature via the new iri/dockerized version.

This is the overview document: [https://iri-playbook.readthedocs.io/en/feat-docker/loadbalancer.html](https://iri-playbook.readthedocs.io/en/feat-docker/loadbalancer.html)
The quick installation steps are here: [https://iri-playbook.readt

[2018-12-17 05:53] marktwtn commented on #106
Under the intense `GTTA` requests with `jMeter`

1. There are failed requests because of the `connection timeout(can not setup connection)` or `connection reset(does not get response data)`.
2. The milestone updates normally.

The limitation of IRI handling the http requests makes it hard to do the intense `GTTA`.
However, if we do not consider the ability of handling the http requests, the milest

[2018-12-17 09:08] wusyong opened #109 "dcurl: Integrate with bazel"
Due to tangle-accelerator dependency and also consider supporting entangled in the future, we should integrate dcurl into bazel. Right now we have two options:

* Edit BUID files in tangle_accelerator
* Support bazel directly in dcurl repo

[2018-12-17 12:19] jkrvivian commented on #109
We also have an issue in tangle-accelerator, [Core: Import dcurl](https://github.com/DLTcollab/tangle-accelerator/issues/1)

[2018-12-18 13:07] wusyong commented on #109
Consider we are going to integrate dcurl to entangled, I would prefer making dcurl repo support dcurl directly (or at least a branch).

[2018-12-19 03:30] jserv commented on #73
Defer to the issues listed in [tangle-accelerator](https://github.com/DLTcollab/tangle-accelerator).

[2018-12-19 03:30] #73 closed

[2018-12-19 03:31] jserv commented on #78
We can set up official IOTA testnet with coordinator without problems.

[2018-12-19 03:31] #78 closed

[2018-12-19 03:32] jserv commented on #76
It is not feasible to have Aarch64-based full-functioned nodes at the moment.

[2018-12-19 03:32] #76 closed

[2018-12-19 03:34] jserv commented on #20
Discard the old fashions.

[2018-12-19 03:34] #20 closed

[2018-12-19 03:34] wusyong commented on #86
@jserv IRI with local snapshot is still in RC version. Better wait until full release in case of there may be some issues like recent hot fixes.

[2018-12-19 03:34] jserv commented on #81
Let's close this and split into several executive action items.

[2018-12-19 03:34] #81 closed

[2018-12-19 03:35] jserv commented on #88
Still valid for IRI 1.5.5?

[2018-12-19 03:36] wusyong commented on #86
[Documentation of local snapshot](https://github.com/jakubcech/documentation/blob/master/LS-preview.MD)

[2018-12-19 03:36] jserv commented on #99
Solution confirmed.

[2018-12-19 03:36] #99 closed

[2018-12-19 03:37] jserv commented on #94
@yillkid, please make a comprehensive tickets regarding iri/dockerized and close this accordingly.

[2018-12-19 03:38] jserv commented on #98
This problem was resolved.

[2018-12-19 03:38] #98 closed

[2018-12-19 03:41] jserv commented on #83
Function verified. Let's split into dedicated tickets.

[2018-12-19 03:41] #83 closed

[2018-12-19 03:42] jserv commented on #85
Still valid?

[2018-12-19 03:53] jserv opened #110 "Base: packaging IRI + dcurl with our customizations"
We would like to invite our partners such as Laboratory for Machine Tools and Production Engineering (WZL) of RWTH Aachen to take our customized IRI for better performance and scalability. However, the current build process is a bit confusing, and we might introduce a straightforward way to execute "make all" and/or "make check" without having to care about different build systems.

Here is my pro

[2018-12-19 03:54] jserv commented on #110
Reference: https://github.com/muXxer/rock64-docker-iota-fullnode/blob/master/dockerfiles/Dockerfile_iri

[2018-12-19 04:00] jserv commented on #110
Related: #106

[2018-12-19 04:09] jserv opened #111 "Base: RocksDB tweaks"
There are some community efforts to introduce RocksDB tweaks as following:
* [IRI + RocksDB 5.17](https://github.com/iotaledger/iri/pull/1206/files)
* [RocksDB thread options](https://github.com/iotaledger/iri/pull/405)
* [Parallel reading and writing](https://github.com/iotaledger/iri/issues/1006)
* [Improve performance when reading long values from the DB](https://github.com/iotaledger/iri/issue

[2018-12-19 08:10] ender503 commented on #98
Thanks @jserv 👍
The Trinity Desktop worked pretty well with `https://node.deviceproof.org:443`.

![image](https://user-images.githubusercontent.com/1849431/50207084-65decc80-03a8-11e9-98e9-e4aed6ffd7f1.png)

[2018-12-19 14:39] KevinKu commented on #88
Yes.
Because commands aren't changed.

[2018-12-19 14:47] KevinKu commented on #85
I don't know if it is valid at IRI 1.5.5 or later.
But it can be tested by [DOS-attack-with-FPGA-accelerator](https://github.com/DLTcollab/DOS-attack-with-FPGA-accelerator).
I think the issue can be closed and move it to DOS-attack-with-FPGA-accelerator's issue.

[2018-12-19 14:47] #85 closed

[2018-12-19 14:51] KevinKu commented on #86
@wusyong
Agree.

[2018-12-21 03:57] marktwtn commented on #106
Here is the brief conclusion.

The performance of GTTA is better when the **synchronized** keyword is removed.
GTTA is thread safe by using the Java `readWriteLock`.
We do not bother from the lock contention since the milestone update (write lock) happens every 30 sec to 1 min.
Even under the intense GTTA requests coming, the milestone is updated normally.

I have updated the result in [Test paral

[2018-12-21 06:09] jserv commented on #106
Let's update `dev-rebase` branch to reflect this change along with full nodes we maintain.

[2018-12-21 06:31] jserv commented on #111
Release branch [5.18.fb](https://github.com/facebook/rocksdb/commits/5.18.fb) is what we concentrate on.

[2018-12-21 13:16] jserv commented on #111
Highlight [upstream RocksDB features](https://github.com/facebook/rocksdb/blob/5.18.fb/HISTORY.md), which would be effective to IRI from the perspective of overall performance:
* jemalloc: [scalable memory allocator](https://www.facebook.com/notes/facebook-engineering/scalable-memory-allocation-using-jemalloc/480222803919/)
* ZSTD dictionary trainer: better compression ratio
* Add a new tool: trac

[2018-12-23 06:56] marktwtn commented on #110
I have created a Makefile in IRI, it does the following things:

1. Download the repositories of rocksdb and dcurl, then build them.
- dcurl
  If the hardware does not support AVX2, it would use AVX instead.
- rocksdb
  The current rocksdb can not be built successfully without some modifications.
    - rocksdb Makefile
      `BZIP2_DOWNLOAD_BASE ?= http://www.bzip.org -> https://web.archive.org/we

[2018-12-23 09:58] jserv commented on #110
Send pull request(s) to RocksDB for the review from Facebook's engineering team.
Prepared patch against rocksdb could be acceptable during build process.

[2018-12-23 10:09] jserv opened #112 "Base: incorporate IRI v1.5.6 and deploy"
The changes of IRI release version 1.5.6 have been merged into `dev` branch, and it is time to incorporate and deploy to all nodes we maintain for both mainnet and testnet.

[2018-12-23 10:10] jserv commented on #112
It is crucial to take global snapshot as well. Cc. @yillkid

[2018-12-23 16:49] marktwtn commented on #110
Sorry for my bad description.
"The current rocksdb" means the rocksdb repository of DLTCollab.
I use `BUILD.sh` to build it.

The official rocksdb repository has not been tested for building by me.
But I'm sure the `BZIP2_DOWNLOAD_BASE` variable of the official rocksdb is correct.

[2018-12-23 23:15] yillkid commented on #105
Change GC solution from `-XX:+UseParallelGC` to `-XX:+UseShenandoahGC` on `node10` and I will halve scaling step (Xms) every 72 hours.

[2018-12-24 00:00] yillkid commented on #105
* Test shenandoah support:
`$ docker run --rm -it shipilev/openjdk-shenandoah java -XX:+UnlockExperimentalVMOptions -XX:+UseShenandoahGC -version
openjdk version "12-testing" 2019-03-19
OpenJDK Runtime Environment (build 12-testing+0-builds.shipilev.net-openjdk-shenandoah-jdk-b388-20181216-jdk-1223)
OpenJDK 64-Bit Server VM (build 12-testing+0-builds.shipilev.net-openjdk-shenandoah-jdk-b388-201812

[2018-12-24 08:17] KevinKu opened #113 "Base: The behavior of cliri in Sync."
Problem:[Define how to know if a node is in sync.](https://github.com/iotaledger/cliri/issues/13)

We need an article how to do sync in cliri.

[The behavior of cliri in Sync.](https://hackmd.io/s/BkwzEMCgV)

[2018-12-24 13:08] wusyong commented on #109
The choice is add BUILD files in tangle-accelerator. Further discussion goes to [Core: Import dcurl](https://github.com/DLTcollab/tangle-accelerator/issues/1)

[2018-12-24 13:08] #109 closed

[2018-12-24 15:38] yillkid opened #114 "Deploy IRI local snapshots"
Deploy IRI local snapshot branch to `node0` and analysis memory consumption.

[2018-12-24 21:22] jserv opened #115 "Base: Double-spending and (possible) solution"
In [wunder3605/iri](https://github.com/wunder3605/iri), there are various commits mentioning double-spending:
* [Description for reproducing double spend issue](https://github.com/wunder3605/iri/commit/c8266977be1076f56f5da9303e1989a74c356a8b)
* [Reproduce double spend and check if Edge weight calculator works](https://github.com/wunder3605/iri/commit/64119c77b3677f4f44a6c22b4486f60799ec07f1)

Che

[2018-12-24 21:44] jserv commented on #113
FYI: https://www.trias.one/article/287

Repository of Trias Lab: https://github.com/trias-lab/iri/commits/dev

[2018-12-25 04:08] jserv commented on #111
A comprehensive Chinese article about RocksDB: [RocksDB 筆記](https://hk.saowen.com/a/6140aaf77263ce04881b5e24d4f47a3de1c772fae5da1f0405e3997521034755).

[2018-12-25 10:10] yillkid commented on #114
[code]

[2018-12-25 10:18] jserv commented on #114
Can you summarize what you suffered from?

[2018-12-25 13:41] yillkid commented on #114
[Deploy IRI dev-localsnapshots branch (RC12)](https://hackmd.io/s/Hyd4xhkb4)

[2018-12-26 10:31] jserv commented on #106
Transition to IF upstream.

[2018-12-26 10:31] #106 closed

[2018-12-31 12:35] KevinKu commented on #107
Another method to release disk capacity.

[12/30](https://hackmd.io/s/Skk06luAQ#1231)

[2019-01-02 18:03] yillkid commented on #114
### Know Issue:

RC12 評估 local snapshot 進入點功能正常，詳見[筆記 - local snapshot without pruning (17:39)](https://hackmd.io/s/Hyd4xhkb4#local-snapshot-without-pruning-1739) log 節錄所示，但  RC12 `LOCAL_SNAPSHOTS_PRUNING_DELAY` 最小值為 50k，使得觸發下一次的 local snapshot 日期過長（如下圖所示），正在評估 patch RC12 或是 downgrade IRI 版本。

![pruning-2](https://user-images.githubusercontent.com/185872/50604955-b0f5f500-0efb-11e9-8a90-1e30682509

[2019-01-03 01:31] marktwtn commented on #111
The pull request of [IRI + RocksDB 5.17](https://github.com/iotaledger/iri/pull/1206/files) works well on rocksdb 5.18.0 with small modification.
Except those having been fixed in the pull request, there are no other deprecated functions used in IRI.
I setup a mainnet on device `node10` with IRI + rocksdb 5.18.0.
It seems no problems at all.

IF says that after doing the proper tests, they will me

[2019-01-03 01:39] yillkid commented on #114
依照 `LOCAL_SNAPSHOTS_PRUNING_DELAY` 預設最小值 `50000` 的設定，下次執行 local snapshot 的時間點在於 `2019-01-28`，在此之前無法做任何的實驗。

如果要加快測試速度，可以考慮 patch IRI RC12 `LOCAL_SNAPSHOTS_PRUNING_DELAY` 參數的預設最小值，將設定為小於 `50000`，優缺點如下：

### 優點：
* 能夠加快 local snapshot 的測試時間
* 能夠加快測試 local snapshot 執行時候的時間成本

#### 缺點：
* 正常的 `LOCAL_SNAPSHOTS_PRUNING_DELAY=50000` 刪減資料庫後的大小約為 60 GB，此數值與 IF 計算過後的可信賴確認度有關係，任意修改 `LOCAL_SNAPSHOTS_PRUNING_DEL

[2019-01-03 08:56] KevinKu commented on #113
I add section which I said last week.

[The behavior of cliri in Sync.](https://hackmd.io/s/BkwzEMCgV)

[2019-01-04 11:40] marktwtn opened #116 "Base: RocksDB performance tuning and result comparison"
In RocksDB, there are several configuration options being used for performance tuning.
For example, the compression algorithm can be changed for less main memory usage.

I would start from changing the compression algorithm and record the value of CPU, main memory and hard disk usage.

RocksDB wiki reference:
[Setup Options and Basic Tuning](https://github.com/facebook/rocksdb/wiki/Setup-Options-a

[2019-01-04 11:42] jserv commented on #111
Related: #116

[2019-01-06 05:10] jserv commented on #111
Right now, [our custom IRI](https://github.com/dltcollab/iri) supports RocksDB v5.18.x

[2019-01-06 18:18] yillkid commented on #114
We can modify [LOCAL_SNAPSHOTS_PRUNING_DELAY](https://github.com/iotaledger/iri/blob/dev-localsnapshots/src/main/java/com/iota/iri/conf/BaseIotaConfig.java#L808) and [LOCAL_SNAPSHOTS_PRUNING_DELAY_MIN](https://github.com/iotaledger/iri/blob/dev-localsnapshots/src/main/java/com/iota/iri/conf/BaseIotaConfig.java#L809) default value to speed up local snapshot coming. But we will get a trustless Tangl

[2019-01-07 03:08] marktwtn commented on #111
The rest of the pull request is mainly for code refinement.
Since this pull request has been postponed for a year(2017/12),
the modifications are useless.
RocksDB has already included these modifications with a better and elegant version.

[2019-01-08 10:05] marktwtn commented on #116
Base on the recommendation of the [rocksDB wiki](https://github.com/facebook/rocksdb/wiki/Compression), I changed the compression algorithm to `Zstd`.
[code]

CPU - observed with command `ps -p <pid> %cpu`, unit: %
main memory - observed with command `ps -p <pid> %mem`, unit: %
hard disk - observed with command `$ du -h <directory>`

---

Here are some issues to be mentioned:
1. We can not create

[2019-01-09 11:51] yillkid commented on #114
It's different  between local snapshot document and IRI implement, and the newest architecture as below:

#### Architecture:
![](https://i.imgur.com/P9xqQNm.png)

#### Pruning duration test:
(Duration will very dynamic if the SPAM occur!)
| milestone start | milestone end | duration (sec) |
|:------ |:----------- |:----------- |
| 937074 | 937075 | 0.016 |
| 937075 | 937076 | 0.01 |
| 937076 | 937

[2019-01-09 13:00] KevinKu opened #117 "Trace IRI"
For feature experiment , I not only  trace cliri but also trace IRI.
I record key part of IRI .

[Trace IRI](https://hackmd.io/s/Hy8de87zE)

[2019-01-10 05:41] wusyong commented on #114
I think we can use [Snapshot.ixi](https://github.com/iotaledger/Snapshot.ixi) to export the metadata. This is used when global snapshot taken to make everyone can participate to validate afaik.

[2019-01-12 04:30] wusyong commented on #114
InitialSnapshotInex will be [modified](https://github.com/iotaledger/iri/blob/dev/src/main/java/com/iota/iri/service/snapshot/impl/SnapshotProviderImpl.java#L187) whenever a new local snapshot is taken.
So it's slightly different from what it states but not that far.
Official documentation can be found at [here](https://docs.iota.org/iri/usage/local-snapshot).

[2019-01-12 04:43] jserv commented on #114
Since IRI `v1.6`, local snapshot is officially integrated. Let's concentrate on the adoption and verification.

[2019-01-13 02:09] marktwtn commented on #112
The IRI now releases the version 1.6.0.

Shall we close the issue and open another one for v1.6.0,
or just change the title and I can record the incorporation of v1.6.0 here?

[2019-01-13 03:41] jserv commented on #112
Let's split local snapshots (LS) specific issues into dedicated ones.

[2019-01-13 03:41] #112 closed

[2019-01-13 13:44] marktwtn commented on #111
The last two issues:

* [Parallel reading and writing](https://github.com/iotaledger/iri/issues/1006)

    The parallel reading and writing had been implemented in the default features of `rocksDB`.
Hence the problem should be focusing on how to make read from `rocksDB` has better performance.
The conclusion is we need to change the configuration like thread number to improve it.

    The performa

[2019-01-13 17:55] yillkid commented on #114
1.6.0 running on `node0` already:
Highlighted some important different with RC 12, [note (WIP)](https://hackmd.io/3PGzFzEDQ_ejTW_iZnwQPw).

[code]

[2019-01-14 02:29] ajblane opened #118 "Enhance data security design for IOT applications based on IOTA"
In some IOT applications, sensor-collected data is private. Therefore, we plan to propose a solution to enhance data security based on IOTA with FPGA-accelerated TrustZone-enabled IOT devices in order to protect and distributively store sensor-collected **private data**. FPGA acceleration is used to compute PoW and TrustZone technique is used to protect private data. In addition, in all existed IO

[2019-01-14 07:58] KevinKu opened #119 "Base: cliri experiment"
[cliri experiment](https://hackmd.io/s/H1gUWTKG4)

[2019-01-14 12:49] #118 closed

[2019-01-16 03:19] marktwtn commented on #111
The conclusion of **RocksDB thread options** pull request:

There are three subjects in the pull request.
1. Add re-interruption but does not affect the thread execution.
2. Close resource in the removed Java file.
3. Code refinement which had been integrated into IRI.

I suggest that this pull request can be closed without merging.
The more detailed explanation is recorded in the [comment](https:

[2019-01-16 09:55] KevinKu commented on #107
Replenish an issue.

[1/16](https://hackmd.io/s/Skk06luAQ#116)

[2019-01-17 08:38] KevinKu commented on #117
Fix view of 12/13.

[1/17](https://hackmd.io/s/Skk06luAQ#117)

[2019-01-20 13:38] yillkid opened #120 "Resetting corrupted milestone"
#### Dscription
IRI print the INFO log message `INFO  c.i.i.s.m.impl.MilestoneServiceImpl - resetting corrupted milestone #969488`, the message trigger on the function [resetCorruptedMilestone](https://github.com/iotaledger/iri/blob/a23d55a958f6dd0bc61adeed9f32db62a2e0ee2d/src/main/java/com/iota/iri/service/milestone/impl/MilestoneServiceImpl.java#L515)

It gets called when a milestone could not b

[2019-01-22 09:55] ender503 opened #121 "TangleID: TangleID Core monorepo"
We need to create a single repository to maintain multiple NPM packages, otherwise we had to maintain these NPM package in each repository.

[2019-01-22 09:57] ender503 commented on #121
I create a new repository in [TangleID/tangleid-core: TangleID JavaScript monorepo](https://github.com/TangleID/tangleid-core).

Since we had this repo, the `tangleid-connect` and `tangleid-did` are archived.

[2019-01-22 10:09] jserv commented on #121
Will `SemVer` be applied to `tangleid-core`? If so, how can we manage these versions?

[2019-01-22 10:11] jserv commented on #114
Close as we work on `v1.6`.

[2019-01-22 10:11] #114 closed

[2019-01-22 10:13] jserv commented on #97
Since ICT is actively developed, we just follow IF to figure out how ICT can do.

[2019-01-22 10:13] #97 closed

[2019-01-22 10:13] jserv commented on #90
In favor of #94

[2019-01-22 10:13] #90 closed

[2019-01-22 10:15] jserv commented on #50
No further upstream changes. DONE.

[2019-01-22 10:15] #50 closed

[2019-01-22 10:16] jserv commented on #42
Firmware and its documentation are landed: [airbox-with-iota](https://github.com/DLTcollab/airbox-with-iota).

[2019-01-22 10:16] #42 closed

[2019-01-22 12:51] ender503 commented on #121
Yes, we will use `SemVer`, just like [facebook/react](https://github.com/facebook/react/releases).

And I will write the tutorial for managing the version with `lerna`.

[2019-01-22 12:56] KevinKu commented on #117
Record how to generate doc.

[產生doc](https://hackmd.io/s/Hy8de87zE#產生doc)

[2019-01-22 15:20] jserv commented on #110
The feature is absent in branch `dev-rebase`. We have to automate the build process and prepare elegant ways to deploy JAR file + native library as well.

[2019-01-22 15:59] ajblane opened #122 "Improve data integrity for sensors via hardware-assisted signing and verification"
I assume we prefer to care sensor data reliability and not care that adversary steals sensor data in our IOTA applications. we identify signed data as data reliability. However, we need to provide some techniques to resist some attacks, e.g. driver rootkit attack. In this assumption, we do not port sensor driver from REE to TEE.  To ensure sensor data reliability, we need to sign sensor data by TA

[2019-01-22 16:14] jserv opened #123 "Base: Revise monitor and deploy script"
[scripts/iota_deploy](https://github.com/wunder3605/iri/blob/dev/scripts/iota_deploy/iota_deploy.py) provides an elegant implementation to deploy IRI instances. We shall refactor the current methods to ensure consistent deployment.

Expected output:
1. Every full node has the same file system hierarchy;
2. New deploy script can be applied for each full node;
3. Run IRI instances after proper trigg

[2019-01-22 16:14] jserv commented on #110
Related: #123

[2019-01-22 16:48] jserv commented on #122
TODO: prepare proposal to OpenFog Security WG

[2019-01-22 17:22] jserv commented on #50
Oyster Protocol Revamps as Opacity by the end of 2018.

[2019-01-27 16:35] yillkid opened #124 "Benchmark of Tangle-accelerator"
#### Tangle-accelerator MAINNET benchmark load banalcing (without tips selection)
[code]

Number of requests to perform: 10000
Number of multiple requests to make at a time: 100

#### Result
[code]

[result_post_1000_100.txt](https://github.com/BiiLabs/engineering/files/2792459/result_post_1000_100.txt)

[2019-01-27 16:44] yillkid commented on #124
### Know issue: apr_socket_recv: Connection reset by peer (104)

#### Log:

[code]

#### Root cause
  - [apache ab test report（apr_socket_recv: Connection reset by peer (104)](https://www.cnblogs.com/felixzh/p/8295471.html)

`apr_socket_recv: Connection reset by peer (104)` is a Linux kernel protect mechanism for SYN attack, set the config `net.ipv4.tcp_syncookies=0`  to disable it.

#### Solution

[2019-01-27 16:53] yillkid opened #125 "Benchmark of Tangle-accelerator"
#### Tangle-accelerator MAINNET benchmark load banalcing (without tips selection)
[code]

Number of requests to perform: 10000
Number of multiple requests to make at a time: 100

#### Result
[code]

[result_post_1000_100.txt](https://github.com/DLTcollab/general/files/2800257/result_post_1000_100.txt)

[2019-01-27 16:54] yillkid commented on #125
### Know issue: apr_socket_recv: Connection reset by peer (104)

#### Log:

[code]

#### Root cause
  - [apache ab test report（apr_socket_recv: Connection reset by peer (104)](https://www.cnblogs.com/felixzh/p/8295471.html)

`apr_socket_recv: Connection reset by peer (104)` is a Linux kernel protect mechanism for SYN attack, set the config `net.ipv4.tcp_syncookies=0`  to disable it.

#### Solution

[2019-01-28 02:03] ender503 commented on #125
Is this a benchmark report of `yillkid/iota-swarm-node`?

[2019-01-30 06:42] yillkid commented on #125
yes, legacy accelerator

[2019-02-10 14:56] KevinKu commented on #107
spontaneous splitting issue.

[1/28~1/31](https://hackmd.io/s/Skk06luAQ#128131)

[2019-02-10 14:57] KevinKu commented on #107
[2/4 and 2/7](https://hackmd.io/s/Skk06luAQ#24)

[2019-02-11 12:06] jserv commented on #110
Preliminary work was verified. I'll invite WZL of RWTH Aachen for trial. Cc. @yillkid and @lmanchu

[2019-02-11 12:06] #110 closed

[2019-02-11 12:20] jserv commented on #105
@yillkid, we need the corresponding investigations for IRI 1.6 or `dev` branch.

[2019-02-12 02:53] wusyong opened #126 "Explore confirmation rate metrics"
We should find ways to evaluate confirmation rate like [confbox ](https://github.com/luca-moser/confbox) and [tanglebeat](http://tanglebeat.com/) do. Multiple end points may be needed for better overview metrics.

[2019-02-12 13:47] KevinKu commented on #119
add more detail about network  topology and gTTA/broadcast times/time .

[網路拓樸](https://hackmd.io/s/H1gUWTKG4#%E7%B6%B2%E8%B7%AF%E6%8B%93%E6%A8%B8)

[每單位時間內 gTTA/broadcast 次數](https://hackmd.io/s/H1gUWTKG4#%E6%AF%8F%E5%96%AE%E4%BD%8D%E6%99%82%E9%96%93%E5%85%A7-gTTAbroadcast-%E6%AC%A1%E6%95%B8)

[2019-02-13 07:14] yillkid commented on #94
The latest commit of [iri-lb-haproxy](https://github.com/nuriel77/iri-lb-haproxy) was 8 months ago and still have many [TODO](https://github.com/nuriel77/iri-lb-haproxy#todo) and issues.

My suggestion is change solution to [Nginx](http://nginx.org/en/docs/http/load_balancing.html), I have deploy a IOTA full-node load balancing service on node0:

- HOST
  - node0.puyuma.org:8002
- BACKEND
  - serv

[2019-02-13 07:28] jserv commented on #94
Let's deprecate `[iri-lb-haproxy` and concentrate on nginx approach. @yillkid, write down corresponding issues.

[2019-02-13 07:28] #94 closed

[2019-02-13 08:20] yillkid opened #127 "Base: Load balancing for Tangle-accelerator"
Balancing the Tangle-accelerator requests from mobile applications and IoT devices and IOTA full-node broadcast request from Tangle-accelerator followed by a brief description:

![arc_iri_load_balancer 1](https://user-images.githubusercontent.com/185872/52696763-c8b8a280-2faa-11e9-9885-4fa565213db9.png)

The load balancer improves the distribution of workloads across multiple computing endpoints,

[2019-02-13 15:21] yillkid opened #128 "Devorg full-node MilestoneIndex stuck after SPAM"
There is a SPAM attack on 2019-02-13 makes 86.7 TPS

![image](https://user-images.githubusercontent.com/185872/52721336-6da3a180-2fe4-11e9-8534-bfca23a0b921.png)

That cause 1 of 2 full-synced IOTA full-node stuck, service log summary as below:

## HOST
http://node.deviceproof.org:14265

## GetNodeInfo

#### node10
[code]

#### devorg:
Both of the `latestMilestone` and `latestSolidSubtangleMilesto

[2019-02-13 15:59] ajblane opened #129 ""Invalid command" occurred while launching PoWbox"
I have built [PoWbox](https://github.com/alexkvak/powbox/tree/make-it-work)  and need to test it. I use [ab](https://httpd.apache.org/docs/current/programs/ab.html) (Apache HTTP server benchmarking tool) to send the [JSON file](https://github.com/alexkvak/powbox/blob/make-it-work/test/sandbox.js.postman_collection.json) to PoWbox.

`ab` is executed as following:
[code]

However, there is an error.

[2019-02-13 16:25] ajblane commented on #129
I use the curl command to send a JASON file with IOTA attachToTangle command as follows:
[code]
The PoWbox response:
[code]

[2019-02-13 16:28] yillkid commented on #129
You should set `minWeightMagnitude` to 9 on devnet, refer the [API reference](https://github.com/iotaledger/iota.js/blob/next/api_reference.md#module_core.attachToTangle) for detail.

[2019-02-13 16:40] ajblane commented on #129
I set `minWeightMagnitude` to 9. The PoWbox response is as the following:
[code]
In PoWbox
[code]
It seems to be workable.

[2019-02-13 16:42] ajblane commented on #129
I guess that the PoWbox-provided JASON file need to be modified or is wrong.

[2019-02-13 23:25] yillkid commented on #128
- SPAM cause too many access request to DB files, we add 2 parameters on launch script
[code]
- SPAM cause transaction packet losting, I remove the local snapshot file `spent-addresses-db` and restart IRI service.

- We can't replace DB with other full-node or 3rd party DB files because of `devorg` is a permanode, we can't find any public resource from the community.

Now this node was synced.
[co

[2019-02-13 23:25] #128 closed

[2019-02-13 23:32] ender503 opened #130 "Base: Avoid MAM transactions not confirmed"
The transactions of MAM messages may keep pending and not be confirmed, and it comes to uncertainty since the sender can not invalidate specific MAM stream.

To make these MAM transaction confirmed, we need to find an appropriate way to reattached these transactions.

[2019-02-14 01:29] jserv commented on #128
The deploy script should reflect the changes accordingly.

[2019-02-14 01:57] jserv commented on #129
It is "JSON" rather than "JASON".

[2019-02-14 12:32] wusyong commented on #129
Error came from non solid transaction index and POWbox had default maximum mwm limit with 9 for testnet.

[2019-02-14 12:32] #129 closed

[2019-02-15 03:36] ender503 commented on #130
https://www.reddit.com/r/Iota/comments/agd5u5/psa_unconfirmed_data_mam_transactions_are_not/

[2019-02-15 07:19] KevinKu commented on #130
I think this issue should be closed.

This is [reason](https://hackmd.io/s/BkwVNoMH4?fbclid=IwAR2lqSo3hVs8qgk0FMtFP_nfziwp2d0b0Sx2jTCEYqqNJZ_yrqZ-VBFtEFg).

[2019-02-15 11:51] wusyong commented on #60
There an ixi module for ict to implement the method described in "[On the timestamps in the tangle](https://assets.ctfassets.net/r1dr6vzfxhev/4XgiKaTkUgEyW8O8qGg6wm/32f3a7c28022e35e4d5d0e858c0973a9/On_the_timestamps_in_the_tangle_-_20182502.pdf)
":
https://github.com/iotaledger/timestamping.ixi

[2019-02-15 14:06] #130 closed

[2019-02-16 07:45] jserv opened #131 "Base: append explicit version information to IRI"
Since we already build a customized variant of IRI to accelerate certain operations, it would be necessary to distinguish the original build (so called [vanilla](https://wiki.debian.org/vanilla) in Linux kernel) and our customized one, otherwise it causes problems for deployment.

Expected output:
1. Generate final package as `iri-1.6.0-COACH` rather than `iri-1.6.0-RELEASE`. Here "coach" means [c

[2019-02-16 07:45] jserv commented on #131
Cc. @yillkid, it should be informative for your deployment scripts.

[2019-02-17 05:17] yillkid opened #132 "Revise monitor and deploy scripts for DLTColab nodes"
## Legacy monitors and deploy script architecture:
![delme](https://user-images.githubusercontent.com/185872/52908715-38ce6d80-32b6-11e9-9aac-6d097053b6e5.png)

IOTA full-node and Tangle-accelerator monitoring solution:

## Introduction

Monitor and deploy Full-node and Tangle-accelerator and manage service logs on Prometheus platform.

Including

- Monitor all Full-node and Tangle-accelerator of

[2019-02-17 05:44] yillkid commented on #123
## Legacy monitors and deploy script architecture:
![delme](https://user-images.githubusercontent.com/185872/52908715-38ce6d80-32b6-11e9-9aac-6d097053b6e5.png)

IOTA full-node and Tangle-accelerator monitoring solution:

## Introduction

Monitor and deploy Full-node and Tangle-accelerator and manage service logs on Prometheus platform.

Including

- Monitor all Full-node and Tangle-accelerator of

[2019-02-17 05:44] yillkid commented on #132
duplicate with #123

[2019-02-17 05:44] #132 closed

[2019-02-17 07:47] marktwtn commented on #131
The expected output 1 has been achieved with the new commit of our IRI.

[2019-02-22 15:54] yillkid opened #133 "Connection timed out on building IRI 1.6.1"
## Repo.
- https://github.com/dltcollab/iri

## Host
- node.deviceproof.org

## Build log
[code]

## DEBUG log
[code]

[2019-02-22 16:35] yillkid commented on #133
The same situation on IRI official repo, I submit an [issue(1356](https://github.com/iotaledger/iri/issues/1356) on IRI official repo.

[2019-02-24 23:04] yillkid commented on #123
[Prometheus deploy note](https://hackmd.io/s/BJoJXTiB4)

TODO:
- [ ] Monitor exporter base on [iota-prom-exporter](https://github.com/crholliday/iota-prom-exporter)

[2019-02-24 23:14] yillkid commented on #127
Tangle-accelerator available on ```http://node0.puyuma.org:8003```

Backend
[code]

[2019-02-24 23:24] yillkid commented on #133
Build again and success!
[code]

[2019-02-24 23:24] #133 closed

[2019-02-24 23:39] yillkid opened #134 "Base:Upgrade IRI to 1.6.1-COACH"
We will try to run the IRI on node10 for up to 48 hours. If everything works fine, we will deploy the IRI  into devorg.

- [x] Deploy on node10
- [ ] Deploy on devorg on 2-27

## Node10 IRI node info
#### 1.6.0
[code]
#### 1.6.1-COACH
[code]

[2019-02-27 08:02] marktwtn opened #135 "Base: Create IRI continuous integration"
Do the continuous integration of IRI when:

- New pull request
- New commit in the `dev-rebase` branch
- Everyday

The testing should run the Makefile for building `IRI` + `rocksDB` + `dcurl` and regression test.
And the CI pipeline should be included in the version control system.

[2019-02-28 03:06] wusyong commented on #108
Example of mam v2: [both send and receive](https://github.com/iotaledger/entangled/tree/develop/mam/v2/examples)

[2019-03-03 16:04] #134 closed

[2019-03-04 02:53] wusyong commented on #126
Visualization may also has some benefit, we currently have a visualizer on node0 with port 32768.

[2019-03-04 02:55] #75 closed

[2019-03-04 02:55] #60 closed

[2019-03-04 03:51] yillkid commented on #123
![](https://i.imgur.com/XLVAzQa.png)

![temp](https://user-images.githubusercontent.com/185872/53709472-75cc5f80-3e73-11e9-9699-0ac1cb281c9a.png)

Deploy scripts (notify webhook):
- Start/restart/stop system service
- Revise neighbor list
- Revise load balancing backend
  - full-node
  - tangle accelerator

[2019-03-04 06:16] yillkid commented on #123
![](https://i.imgur.com/XLVAzQa.png)

![temp](https://user-images.githubusercontent.com/185872/53709472-75cc5f80-3e73-11e9-9699-0ac1cb281c9a.png)

Deploy scripts (notify webhook):
- Start/restart/stop system service
- Revise neighbor list
- Revise load balancing backend
  - full-node
  - tangle accelerator

[2019-03-05 06:26] wusyong commented on #125
Since `apr_socket_recv` issue still remains, I reduce total request to 100 and here's initial result. This is Tangle-accelerator MAINNET benchmark becnchmarch **with** tips selection:

[code]

[code]

[2019-03-06 14:36] yillkid commented on #123
#### Notify protocol

![notify](https://user-images.githubusercontent.com/185872/53888710-2ac36f80-4060-11e9-90e9-1c97a3803584.png)

[2019-03-08 03:37] marktwtn opened #136 "Base: Package IRI + dcurl jar file and use the dcurl library correctly"
Based on the issue: https://github.com/DLTcollab/dcurl/issues/106, `dcurl` can generate the jar file of library easily.

However, to use the `dcurl` library successfully, the `IRI` dependency configuration file and source code should be modified as well.

Expected output:
- `pom.xml`: add the dependency of `dcurl` jar file.
- `PearlDiver.java`: load the `dcurl` library successfully. (We can refere

[2019-03-10 07:23] yillkid commented on #123
#### Notification flow (ver. 2)
![notify_1](https://user-images.githubusercontent.com/185872/54081907-ec6fce00-4347-11e9-9b17-542de6fb18f5.png)
####
- [Prometheus alert (webhook) deploy note](https://hackmd.io/FJNI8iz1SY24Z1Zyg2faXg?view#Alert---webhook)
- [Ansible seploy note](https://hackmd.io/YjH_mujdSCGCzRaulQmn-Q?view)
- [Ansijet](https://github.com/hiddentao/ansijet)

[2019-03-11 13:51] jserv opened #137 "Base: IPFS + Tangle as storage"
IOTA Foundation recently prepare a new PoC: [ipfs](https://github.com/iotaledger/poc-ipfs), which demonstrates the combining IOTA with IPFS for data storage. For DID usage, reliable storage is necessary to implement Hub facilities, and this PoC might be a good starting point.

[2019-03-19 10:57] wusyong commented on #123
I think this issue is too large to track off. Maybe @yillkid can open some minor issue and reference them from here.

[2019-03-19 10:57] #126 closed

[2019-03-22 15:53] jserv commented on #117
Concentrate on detailed sub-tasks.

[2019-03-22 15:53] #117 closed

[2019-03-22 15:53] jserv commented on #131
Verified and deployed.

[2019-03-22 15:53] #131 closed

[2019-03-22 15:56] jserv commented on #127
At the moment, the host name of load balancer is changed to `tangle.biilabs.io`.

[2019-03-22 15:58] jserv commented on #105
Close and focus on IRI 1.6.x

[2019-03-22 15:58] #105 closed

[2019-03-22 16:02] jserv commented on #86
Duplicated with #102

[2019-03-22 16:02] #86 closed

[2019-03-22 16:08] jserv commented on #107
We should interoperate upstream cliri.

[2019-03-22 16:08] #107 closed

[2019-03-22 16:40] jserv opened #138 "Base: apply proposed enhancements to IRI"
There are some proposed enhancements for IRI, not yet merged:
* [Use xxHash instead of SHA-256 on incoming transaction hashes cache](https://github.com/iotaledger/iri/pull/1326) (Merged)
* [Adds batched binary-encoded-trinary Curl](https://github.com/iotaledger/iri/pull/1372)
* [Add spam prevention strategy](https://github.com/iotaledger/iri/pull/1303)

Since our IRI branch is designed for Coachbu

[2019-03-24 07:55] yillkid commented on #123
Got a dependency issue (build gulp with node@v11.12.0) when deploy Ansijet, reproduct flow as below:
#### Write and test Ansible-playbook on `node0`
  - ``` $ cd /home/ubuntu/ansible-fullnode```
  - ``` $ vi fullnode.yml```
[code]
  - ```$ ansible-playbook fullnode.yml```
[code]

#### Upgrade nodejs to 11.2
- Refer [https://github.com/tj/n](https://github.com/tj/n)

#### Install Ansijet
[code]

Ou

[2019-03-24 08:16] ender503 commented on #123
Maybe we should evaluate another solution.
The Ansijet latest updated is at `6 Nov 2014`, it seems like not maintain anymore.
And it has lots of vulnerabilities.
[code]

[2019-03-25 10:28] ender503 commented on #123
@yillkid  Prometheus can be integrated with the following services, we could consider them.
https://victorops.com
https://www.pagerduty.com
https://www.opsgenie.com

[2019-03-27 15:58] wusyong commented on #108
Some [notes ](https://hackmd.io/s/HkFNQCO_4)from @HowJMay

[2019-03-27 15:59] wusyong commented on #108
Some [notes ](https://hackmd.io/s/HkFNQCO_4)from @HowJMay

[2019-03-29 05:31] yillkid commented on #123
Evaluating [RUNDECK](https://www.rundeck.com/what-is-rundeck):

## Standard Operating Procedures
![image](https://user-images.githubusercontent.com/185872/55211272-33096780-5226-11e9-8638-3bb2a3dee8d7.png)
![image](https://user-images.githubusercontent.com/185872/55211275-36045800-5226-11e9-84e2-89be6e20b0f3.png)
![image](https://user-images.githubusercontent.com/185872/55211285-3866b200-5226-11e9

[2019-03-29 07:01] ender503 opened #139 "Base: Evaluate the service to receiving the alert messages from AlertManager"
Since the Prometheus alert manager will send the alert messages when service is broken, we need a service to receives these message to trigger the scripts to restart the broken service automatically.

Since Prometheus can be integrated with the following services, we could consider them.
https://victorops.com
https://www.pagerduty.com
https://www.opsgenie.com

[2019-03-29 07:02] ender503 commented on #123
@yillkid please discuss the solution to the #139 .
This thread is too long.

[2019-03-29 07:07] ender503 commented on #139
@yillkid find out a service named RUNDECK.
It looks pretty well to manage Ansible scripts with a beautiful user interface.
But I don't know how it could be integrated with AlertManager, please give me more information, thanks. 😃

See also: https://www.rundeck.com/ansible

[2019-03-29 07:13] ender503 commented on #139
@yillkid you could change this issue as you like, the modification is welcome. 👍

[2019-03-29 07:50] yillkid commented on #139
Evaluating [RUNDECK](https://www.rundeck.com/what-is-rundeck):

## Standard Operating Procedures
![image](https://user-images.githubusercontent.com/185872/55211272-33096780-5226-11e9-8638-3bb2a3dee8d7.png)
![image](https://user-images.githubusercontent.com/185872/55211275-36045800-5226-11e9-84e2-89be6e20b0f3.png)
![image](https://user-images.githubusercontent.com/185872/55211285-3866b200-5226-11e9

[2019-03-29 07:53] yillkid commented on #139
#### Integrate Rundeck with deploy script
![0](https://user-images.githubusercontent.com/185872/55217335-3dcdf780-523a-11e9-99f7-08c187781116.png)

#### Integrate Rundeck with Ansible playbook
![1](https://user-images.githubusercontent.com/185872/55217358-4faf9a80-523a-11e9-80bf-0b6f167e3924.png)

#### Refer the documentation as below:
- Rundeck official documentation
  - Creating jobs
      - [Cr

[2019-03-30 05:19] ender503 commented on #139
Rundeck can be an alternative solution of Ansible or Integrated with Ansible.
I'll prefer to integrate it with Ansible if we are going to use it.
Because Rundeck manages its scripts with the website interface, it will be hard to move to another solution if someday we don't want to use it.

[2019-03-30 05:37] ender503 commented on #139
To use the Rundeck with the AlertManager, we could use the [routes](https://prometheus.io/docs/alerting/configuration/#route) section to define which alert message should be sent to which `receiver`, then each `receiver` will point to the [Rundeck job API](https://docs.rundeck.com/docs/api/#running-a-job).

[2019-04-03 03:04] yillkid commented on #139
A [simple Rundesk deploy note (WIP)](https://hackmd.io/s/BJblNdlt4)

[2019-04-11 06:53] yillkid opened #140 "Base: Upgrade fullnode to 1.7.0-RELEASE"
Upgrade all fullnode to 1.7.0-RELEASE

#### Devideproof
- Repo. : iotaledger/iri
- Status : 1.7.0-RELEASE

[code]

#### Node10
- Repo. : DLTcollab/iri
- Status : 1.6.1-COACH (wait for upgrade)

#### TODO
- [ ] Node10: Rebase repo. & build / test for 24~48 hr
- [ ] Devorg: Switch repo. to `DLTcollab/iri`

[2019-04-11 14:22] marktwtn commented on #140
The `DLTcollab/iri` has been updated to version 1.7.0.
The generated jar would be named as `iri-1.7.0-COACH-[current commit ID].jar`.

[2019-04-14 16:18] yillkid commented on #140
Unlike the official iri, in `DLTcollab/iri` repository the parameter `--remote` has been replaced by `API_HOST` . Refer the pull request `--remote` flag will enable API interface to all hosts [#953](https://github.com/iotaledger/iri/pull/953) for detail.

[2019-04-14 17:18] yillkid commented on #140
TPS stuck node 'node10', issue decription as below:

#### Process
ubuntu   28225  182  4.3 32155552 2846468 ?    Sl   00:07 108:03 java -server -Xmx18g -Xms18g -Xss1m -Xmn512m -XX:ReservedCodeCacheSize=1843200k -XX:CodeCacheMinimumFreeSpace=200m -XX:MaxHeapFreeRatio=20 -XX:MinHeapFreeRatio=10 -XX:+UseCompressedOops -Djava.awt.headless=true -Djava.library.path=. -jar /home/ubuntu/mainnet-iri/iri-1.

[2019-04-16 04:58] yillkid commented on #139
Finish all evaluate work, I will create the other issue for deploy rundesk to node0  and write the first Ansible job.

[2019-04-16 04:58] #139 closed

[2019-04-16 06:08] yillkid opened #141 "Base: Develop deploy and monitoring jobs for nodes"
This issue depends on #123.

Discuss and develop all the deploy and monitoring jobs (Both of Ansible and Rundeck jobs) of IOTA full-node and Tangle-accelerator.

## Expected Outputs
- [ ] Deploy scripts
  - [ ] Start/restart/stop system service
  - [ ] Revise neighbor list
  - [ ] Revise load balancing backend
    - [ ] full-node
    - [ ] tangle accelerator

## Hook rules (WIP):

[2019-04-16 09:19] ender503 opened #142 "Base: Prometheus Exporters for IOTA Full Nodes"
## Architecture and Flow
![Arc (3)](https://user-images.githubusercontent.com/185872/57350555-194a3100-7191-11e9-8965-25911c75889a.png)
[Edit me...](https://docs.google.com/drawings/d/1VcRazLn0O7RlFWGorePAe14hBZ92u22XGrnJE-Rb7Tw/edit?usp=sharing)

## Expected Outputs
- [ ] Monitor exporters
  - [ ] GetNodeInfo
    - [ ] Response (success/limit from remote)
    - [ ] latestSolidSubtangleMilestoneIn

[2019-04-16 09:20] ender503 commented on #141
@yillkid Because the `Monitor exporters` is quite a large task, I move them into another issue #142. 😃

[2019-04-16 11:21] marktwtn commented on #136
Although the loading steps of `rocksdb` seems useful, it can not be applied to our `dcurl`.
The reason is:
`rocksdb`
The jar file includes the `rocksdb` classes and the shared library.
The loading steps are written in the classes, and the skill it uses must require the classes and the library to be together in the jar file.
`dcurl`
The jar file only includes the shared library.

Unless it is accep

[2019-04-19 09:28] yillkid commented on #140
Since the database was replaced by a local snapshot file, we could not reproduce this issue again.

We shall test the `DLT/CoLab` branch IRI for 48 hours on node10 and deploy to all nodes.

[code]

[2019-04-19 09:38] yillkid commented on #140
Deploy  to  `node1`, `node10` and `devorg` and test all API already, I will close this issue.

[2019-04-19 09:38] #140 closed

[2019-04-20 13:25] ajblane opened #143 "dcurl: Implement details for remote interface"
Here is remote interface implementation, https://github.com/ajblane/dcurl/commit/6fb19b906d3369b9d6b042295e2b3aa89bcb371c. However, there are some issues as follows:

Issue 1: Design makefile for remote interface
---
In the scenario of remote interface, we use the build command, make BUILD_REMOTE=1, for providing the library, libdcurl.so, for IRI or TA use. Here dcurl interface is remote interface

[2019-04-21 01:49] #143 closed

[2019-04-21 13:07] yillkid opened #144 "Base: Cold boot node0"
I will cold boot `node0` on 2019-04-22 13:40, action items as below:
- [x] Get the keyboard, mouse, HDMI converter and 4F, 8F keys
- [x] Cold boot `node0`
- [x] Mark hostname on all servers
- [x] Update server list document

[2019-04-23 03:09] #144 closed

[2019-04-29 03:37] marktwtn commented on #136
The issue can be closed since the implementation is done in the pull requests [#3](https://github.com/DLTcollab/iri/pull/3) and [#141](https://github.com/DLTcollab/dcurl/pull/141).

[2019-04-29 07:32] jserv commented on #136
Checked.

[2019-04-29 07:32] #136 closed

[2019-05-06 13:58] ender503 opened #145 "Base: Data Type Definition"
| Project            | Name         | Subject          | Exchange / Storage | Data Format                                       | Signature                            | Description                                                |
| ------------------ | ------------ | ---------------- | ------------------ | ------------------------------------------------- | ------------------------------------ | -

[2019-05-06 14:17] ender503 opened #146 "Create EVM-Lite API"
Create an API to interact with the EVM-Lite node.

#### Expected Output
- [x] EVM-Lite API
- [x] EVM-Lite API Reference, [link](https://hackmd.io/K3x4I_CIRx6RibWRzs0N0w)
- [x] Crowdfunding Campaign uses EVM-Lite API

[2019-05-08 04:02] yillkid opened #147 "Base: Setup router for accessing FPGA nodes"
Setup router (equip: [ASUS RT-AC58U](https://24h.pchome.com.tw/prod/DRAF01-A9007OX3J?fq=/S/DRAF01)) on `node1` to allow accessing FPGA nodes interoperably.

- [x] Checking NCKU MIS policy
- [x] Procurement
- [ ] Deploy

[2019-05-08 04:47] yillkid commented on #141
The description of this issue could merge into #142, including:
1. Exporters rules
2. Webhook module
3. Ansible playbook task

[2019-05-08 04:51] #141 closed

[2019-05-08 07:18] ender503 opened #148 "Evaluate utilities to compile solidity contract"
To implement the Deploy Contract API in #146, we need to evaluate utilities to compile the solidity contract.

[2019-05-08 07:50] marktwtn opened #149 "Base: IRI attachToTangle API parallelism investigation"
An incoming feature of dcurl is allowing the PoW calculation to be distributed to the remote FPGA boards through the network.

However, the current `attachToTangleStatement()` API has the keyword `synchronized`.
It means that it only allows one transaction bundle to be handled by the `dcurl` at the same time.
That is, `dcurl` only handles one PoW calculation at the same time.

The issue focuses on

[2019-05-08 08:08] jserv commented on #149
The investigation should be quite typical and well addressed.
Related information: https://www.confluent.io/blog/transactions-apache-kafka/

[2019-05-09 06:55] yillkid opened #150 "Base: Read-only file system on ARM server"
## Description
Error log as below when ssh login:
[code]

## Reproduction
1. SSH login
2. Or write any data to file system

## Affected server
- node4 (140.131.178.246)
- node5 (140.131.178.247)
- node6 (140.131.178.22)

## Log
- dmesg  [(full log: dmesg.txt)](https://github.com/DLTcollab/general/files/3160745/dmesg.txt)

[code]

[2019-05-10 05:48] ender503 commented on #148
Let the user compile the contract locally will be tough, and we'll need to tell the user how to compile the contract and suggest which solidity compiler that we recommend.

[2019-05-10 05:52] ender503 commented on #148
Since the `byte code` and `ABI interface` are large, sending these large data to API will cost lots of time. 🤔

[2019-05-10 06:07] jserv commented on #148
IMHO, compiling contract should not block the further development. Any informative document about solc should work out of box.

[2019-05-10 06:36] ender503 commented on #148
The rest of the undone EVM API are:
1. contract deployment API
  - Need to compile the received contract first, then we could deploy to the EVM nodes.
2. interact with contract API
  - Depend on 1.

After discussing with @mushroom0117 yesterday, we are planned to use the `solc-js` to compile the contract on the server-side.

And using the [loadRemoteVersion()](https://github.com/ethereum/solc-js#u

[2019-05-10 07:31] yillkid commented on #150
We should rebuild the cloud instance because we could not scan the unmounted partition by booting with LiveCD or serial port, this operation needs to go to the server room of the Aletheia University but network administrator (黃宇強) no time recently.

[2019-05-10 07:39] yillkid commented on #150
The snapshot function seems broken:

- Instance list
![](https://i.imgur.com/tLlm5p9.png)

- 建立 Snaphost
![](https://i.imgur.com/iu5cS6l.png)

![](https://i.imgur.com/GVZ5iqw.png)

- No items to display
![](https://i.imgur.com/bRAJRpr.png)

[2019-05-10 07:54] yillkid commented on #150
Cannot rebuild the instance from the existing OS image because we need to set SSH `authorized_keys` on control center but it's is unavailable.

![image](https://user-images.githubusercontent.com/185872/57511418-daa4aa00-733b-11e9-8953-200f358ea00a.png)

[2019-05-10 07:54] yillkid commented on #150
Report to the network administrator (黃宇強) already.

[2019-05-13 02:55] yillkid commented on #150
Fixed as following steps:

- Rebuild all the instance
- Login with `venux` host (with SSH key)
- copy `authorized_keys` from `node2`

[2019-05-13 02:55] #150 closed

[2019-05-13 05:54] wusyong commented on #145
Could Iot data viewed as recipient?

[2019-05-13 07:55] mushroom0117 commented on #148
Based on [loadRemoteVersion()](https://github.com/ethereum/solc-js#using-the-latest-development-snapshot), the smart contract below solidity v0.5.8 (latest) can be supported, the user only needs to  specifying the [version numbers](https://ethereum.github.io/solc-bin/bin/list.js). The uploading contract will be compiled on the server-side.

[2019-05-13 07:55] #148 closed

[2019-05-15 01:07] ajblane opened #151 "Base: Survey wallets using TEE"
Here are short summaries from papers and slides

2017, [Improving the Security and Efficiency of Blockchain-based Cryptocurrencies](https://pdfs.semanticscholar.org/442a/d0d4c4c58ba4803f3206a94b81d84836aa25.pdf)
* Bitcoin payment are made form/to cryptographic key
* TEE-protected key
* TEE-provided attestation

2017, [Teechan: Payment Channels Using Trusted Execution Environments](https://www.cs.c

[2019-05-17 03:19] yillkid commented on #147
![router](https://user-images.githubusercontent.com/185872/57900899-4c797800-7895-11e9-9298-20764328118b.jpg)

@ajblane, The product you have ordered have just arrived at NCKU CSIE office, please pick up with @jkrvivian on Monday.

[2019-05-20 06:49] mushroom0117 opened #152 "Construct EVM-Lite API monorepo"
To make the developer easier to use the EVM-Lite, create an EVM-Lite API monorepo.

**Expected Include**

- [ ]  EVM-Lite Docker Environment Setup Script ( Experience )
- [ ]  EVM-Lite Golang Deployment Script
- [ ]  EVM-Lite API Service
- [ ]  EVM-Lite API Reference ( Typescript )

[2019-05-21 01:28] #146 closed

[2019-05-21 08:07] #147 closed

[2019-05-21 08:08] yillkid commented on #147
Deployed success on 2019-05-21.

[2019-05-22 10:57] ender503 opened #153 "TangleID: Evaluate the Universal Resolver"
Decentralized Identity Foundation releases a [universal resolver](https://github.com/decentralized-identity/universal-resolver) for resolving DID from different DID methods, we'll need to evaluate how to integrate it with TangleID.

Online universal resolver: https://uniresolver.io/

[2019-05-24 04:38] marktwtn commented on #149
After reading the source code of [API.java](https://github.com/DLTcollab/iri/blob/dev-rebase/src/main/java/com/iota/iri/service/API.java#L1437) ,it seems like the `synchronized` keyword of `attachToTangleStatement()` can be removed safely.
I do not recognize any data race and it simply does the **PoW** of the bundle one by one, then return the final transaction result.

I guess the main reason of

[2019-05-24 04:43] jserv commented on #149
Is it vital to rewrite the logic behind `attachToTangleStatement`? Is there any performance metric indicating how the time takes in typical configurations?

[2019-05-24 18:45] marktwtn commented on #149
We do not have to rewrite the logic.
We just need to modify the logging part of the consumed time of every 100 **PoW**, which is just an extra and small calculation code in `attachToTangleStatement()`.

Currently, I do not know any performance metric.
I might investigate for it.

[2019-05-27 02:02] yillkid opened #154 "Monitor rule - Health check for IOTA full-node"
##  Health check for IOTA full-node
A monitor rule hosts on Prometheus, Rundeck, and Ansible, the workflow as below:
- Health check for Host server by [blackbox_exporter](https://github.com/prometheus/blackbox_exporter)
- Health check for IOTA full-node by [iota-prom-exporter](https://github.com/crholliday/iota-prom-exporter)

#### Architecture and WorkFlow:
![Arc](https://user-images.githubuserco

[2019-05-27 06:32] yillkid commented on #142
Duplicate with issue #154, I will close this issue.

[2019-05-27 06:32] #142 closed

[2019-05-28 03:12] ender503 opened #155 "Base: Monitor the RabbitMQ service"
To monitor the RabbitMQ service, we'll need to use the [rabbitmq_exporter](https://github.com/kbudde/rabbitmq_exporter) and restart the container `rabbitmq:3-management` on the node1.puyma.org.

Expected Output:
- [x] Add the `rabbitmq_exporter`
- [x] Restart RabbitMQ container
- [x] Sending message to slack when RabbitMQ and FPGA-accelerated remote workers are failed

[2019-05-30 03:05] ender503 commented on #155
For now, we are monitoring the number of RabbitMQ consumers.
![image](https://user-images.githubusercontent.com/1849431/58604615-9582f080-82c7-11e9-8c1f-37e0fb91ac3a.png)

If the number of consumers is less than 2, it will send a notification to Slack channel.

[2019-05-30 03:10] #155 closed

[2019-05-30 11:23] jserv opened #156 "Base: Register all available IOTA full node to Trintiy"
[IOTA Node List](https://iota-nodes.net) maintain informative listing for specific IOTA nodes. It is important for people to discover full nodes. This task is to register the nodes maintained at NCKU to the listing.

[2019-05-30 19:16] wusyong commented on #156
Change target to Trinity since it will has most views from majority.

[2019-05-31 11:03] mushroom0117 commented on #156
`devorg` has successfully added to Trinity node list.

[2019-05-31 11:24] #156 closed

[2019-06-03 05:30] ajblane commented on #122
## Open Trusted Protocol
* OPTEE/ Intel SGX
* [Visual Studio 15](https://github.com/dthaler/OTrP/blob/master/OTrP.sln)
* vexpress-qemu_armv8a
* Receiving a request to install a new Trusted Application
![image](https://user-images.githubusercontent.com/5338746/58777961-401a4c80-8603-11e9-9b2b-50c3b780175c.png)

[2019-06-03 11:07] ender503 commented on #153
I set up an universal resolver on the node0:
http://node0.puyuma.org:8080/1.0/identifiers/did%3Asov%3AWRfXPg8dantKVubE3HX8pwTh

[2019-06-03 11:18] ender503 commented on #153
For the real world use cases, the client may receive the credential that signed by an entity which was registered to another DLT, using the universal resolver will give us the ability to verify these credentials.

[2019-06-03 11:21] jserv commented on #153
Should be "a universal"

[2019-06-03 11:25] ender503 commented on #153
Oh ... there are some exceptions. 👍
[When to Say "a" or "an" | Pronunciation | EnglishClub](https://www.englishclub.com/pronunciation/a-an.htm)

[2019-06-03 11:38] ender503 commented on #153
Add another issue to integrate the document loader with the universal resolver.

https://github.com/TangleID/TangleID/issues/142

[2019-06-03 11:38] #153 closed

[2019-06-04 07:04] ender503 opened #157 "Base: Move prometheus to node1"
Since the node0.puyuma.org will be used for development usage, the whole monitor services should move to the node.puyuma.org.

The monitor service includes the following items:
 - prometheus
 - grafana
 - blackbox-exporter

[2019-06-04 07:11] ender503 opened #158 "Base: Setup account to manage monitor services"
Since the monitor services will contain lots of services to be managed, it would be great to create another account `ikaros` to manage these services in the following servers:
 - node1.puyuma.org
 - node10.puyuma.org
 - node.deviceproof.org

Expected Output:
 - Create an account in each server
 - Setup the SSH key (Same RSA Key)
 - Add account to `sudo` group

[2019-06-04 07:16] ender503 opened #159 "Base: Setup the iota-prom-exporter to monitor the IRI service"
To monitor the IRI service, set up the `iota-prom-expoter` to servers that have running IRI service.

- [x] node1.puyyuma.org
- [x] node10.puyyuma.org
- [x] node.deviceproof.org

[2019-06-04 14:33] marktwtn commented on #135
The CI pipeline of **IRI** is recorded in the [ci-pipelines](https://github.com/DLTcollab/ci-pipelines) repository.
The goal is fully achieved.

[2019-06-04 14:33] #135 closed

[2019-06-05 07:30] yillkid commented on #120
The reason is the "inconsistent balances" problem between milestones, therefore IRI removes parts of ledgers(sub-Tangle) from rockdDB. If the problem won't fix, IRI will reset milestone continuously.

## Workaround

#### Full-node:
- Download the [local snapshot file](https://db.iota.partners/iri-mainnet-snapshot.tar.gz) from IF.
- Stop IRI service
  - ``` $ sudo systemctl stop iri-mainnet ```
- R

[2019-06-05 09:24] ender503 opened #160 "Base: Expose port for the Prometheus on node1"
To move the Prometheus from node0 to node1, we need to expose the following port on the node1.
 - [ ] Prometheus(9090)
 - [ ] Grafana(9300)
 - [ ] black-box-exporter(9115)
 - [x] iota-prom-exporter(9311)

[2019-06-05 09:44] yillkid commented on #120
## Workaround
[code]

/etc/cronatb
[code]

[2019-06-05 10:09] ender503 commented on #159
![image](https://user-images.githubusercontent.com/1849431/58948497-d645a280-87bc-11e9-95c1-d7172965c5b8.png)

The `iota-prom-exporter` is already set up on `node.deviceproof.org` and `node10.puyyuma.org`

[2019-06-05 10:12] #158 closed

[2019-06-05 10:17] ender503 opened #161 "Base: Backup IRI Mainnet database periodically"
To backup IRI Mainnet database periodically, add the systemd service and timer to do that.

#### Reference
 - [Using systemd as a better cron – Horrible Hacks – Medium](https://medium.com/horrible-hacks/using-systemd-as-a-better-cron-a4023eea996d)
 - [Systemd 中的timer单元 | Fython's Blog](https://www.fythonfang.com/blog/2018/8/16/systemd-timer-unit)

[2019-06-05 14:28] wusyong commented on #151
@ajblane Is it still under survey? Or it's good to close?

[2019-06-05 14:36] #87 closed

[2019-06-05 14:36] #88 closed

[2019-06-05 14:37] #120 closed

[2019-06-05 14:37] #89 closed

[2019-06-05 14:37] #92 closed

[2019-06-05 14:37] #100 closed

[2019-06-05 14:38] #102 closed

[2019-06-05 14:39] #108 closed

[2019-06-05 14:39] #113 closed

[2019-06-05 14:39] #115 closed

[2019-06-05 14:40] #119 closed

[2019-06-06 03:03] #68 closed

[2019-06-06 03:22] #145 closed

[2019-06-06 04:24] ender503 commented on #157
Since the `node1.puyuma.org` sometimes crash and unable to be connected, this issue will wait until the `node1.puyuma.org` stable enough.

[2019-06-06 05:09] #161 closed

[2019-06-06 06:39] ender503 commented on #159
![image](https://user-images.githubusercontent.com/1849431/59011921-b53a8b80-8868-11e9-95b5-8cd28f65b144.png)

[2019-06-06 06:39] #159 closed

[2019-06-06 06:45] ender503 commented on #154
![image](https://user-images.githubusercontent.com/1849431/59012185-70632480-8869-11e9-81ba-de6e3fea844e.png)

The Grafana will send the notification to the Slack channel if `coordinator_milestone - subtangle_milestone > 1`.

[2019-06-06 06:45] #154 closed

[2019-06-06 06:58] #151 closed

[2019-06-10 03:14] marktwtn opened #162 "Base: Evaluate performance increment of parallel attachToTangle API"
After the `dcurl` introduces remote interface, `IRI` can benefit from it with parallelizing **attachToTangle** API.
However, the performance increment is still unknown.
And the parallelism should be measured.

Goal:
- [x] Stable `dcurl` remote interface with multiple FPGA boards.
- [x] Source code modification of parallel **attachToTangle** API [#4](https://github.com/DLTcollab/iri/pull/4).
- [x]

[2019-06-10 04:19] yillkid opened #163 "Switch devorg from full-node to permanode"
We have changed `devorg` IRI service from `permanode` to `full-node(with snapshot)` for fixing issue #120.

Now we should rollback IRI to `permanode` as following steps:
- Stop IRI service on `devorg`
- Revise `LOCAL_SNAPSHOTS_ENABLED` config to `False`
- Remove all local snapshot files
  - mainnet.snapshot* and spent-addresses*
- Start IRI service on `devorg`

Risk:
The local snapshot file is a s

[2019-06-10 05:10] ender503 opened #164 "Base: Evaluate Envoy Load Balancer"
Because the current Nginx load balancer doesn't include the healthy-check feature, the load balancer will forward the request to the upstream node which is not responsive and return the
 502 Bad Gateway response.

The Envoy is a service proxy which supports the healthy-check and it can be used as the load balancer, so we need to evaluate that it is suitable for our need.

[2019-06-10 05:12] ender503 commented on #164
The main-net IRI load balancer is established in `node0.puyuma.org:14260`.

[code]

[2019-06-10 05:51] ender503 opened #165 "Base: Add documentation for monitor service"
Expected Output:
- [x] describe the file structure
- [x] describe how to start/stop the services

[2019-06-12 03:30] ender503 commented on #165
Add documentation to [HackMD](https://hackmd.io/ZJpyTJqJQjK6t4Bmf9VSjw).

[2019-06-12 03:31] #165 closed

[2019-06-12 23:18] ajblane commented on #122
For [dthaler/OTrP](https://github.com/dthaler/OTrP), it runs on Windows OS and links Microsoft library for the REE part, e.g.: httpapi.lib. Therefore, we need to port dthaler's OTrP project form Windows to Linux.

[2019-06-13 04:58] marktwtn commented on #149
The parallel `attachToTangleStatement()` modification https://github.com/DLTcollab/iri/pull/4 is merged.

However, if the `dcurl` remote interface is not introduced, the parallel `attachToTangleStatment()` may make the hardware have a great loading because of the multiple PoW at the same time.

[2019-06-13 04:58] #149 closed

[2019-06-14 11:56] yillkid commented on #163
## Before the switching
[code]

## After the switching
[code]

[code]

The `latestSolidSubtangleMilestoneIndex` stuck on 1086189 for 72:03.
Back to the full-node mode.
[code]

[2019-06-14 12:20] yillkid opened #166 "Ansible playbook for restoring database files"
An Ansible playbook for restoring database files when the `latestSolidSubtangleMilestoneIndex` be stuck or reset.

#### Architecture and WorkFlow:
![Arc](https://user-images.githubusercontent.com/185872/59508695-5e285c80-8ee1-11e9-995f-ed658e5e01b5.png)

1. stop iri-mainnet service
2-1 full-node: restore local snapshot files
2-2 permanode: restore mainnet database files
3. start iri-mainnet servic

[2019-06-14 21:14] jserv opened #167 "Base: Bump RocksDB dependency to 5.18.3 for IRI"
RocksDB `v5.18.3` is the latest release of `v5.18` branch, which fixed possible LSM corruption.

https://github.com/facebook/rocksdb/releases

[2019-06-14 21:15] jserv commented on #138
The above PR were identified and evaluated.

[2019-06-14 21:15] #138 closed

[2019-06-14 21:18] jserv commented on #111
RocksDB `v6.1.2` is the latest release. We shall consider to align with RocksDB `v6.1` branch.

[2019-06-16 17:22] marktwtn commented on #162
I wrote a python script to send **attachToTangle** http requests.
Steps:
- Obtain the tips from the previous **getTips** http request.
- Get a transaction bundle with 2 zero value transaction.
- Create N threads for sending **attachToTangle** http requests:
    - Substitute the trunk and branch transaction hash of the zero value transaction with randomly selected tips.

There are some code need to

[2019-06-17 03:00] jserv commented on #167
Merged.

[2019-06-17 03:00] #167 closed

[2019-06-20 21:50] ender503 commented on #164
### no-passive-healthy-check
![image](https://user-images.githubusercontent.com/1849431/59883576-1d03e100-93e8-11e9-9a52-207c7e47b04f.png)

### passive-healthy-check
![image](https://user-images.githubusercontent.com/1849431/59883644-59cfd800-93e8-11e9-88a3-c4eed8238189.png)

[2019-06-20 21:51] ender503 commented on #164
Moved the Envoy Load Balancer to http://node0.puyuma.org

[2019-06-20 22:01] ender503 commented on #164
To establish passive healthy checks, we are using outlier detection feature.

When the endpoint(IRI) is unreachable, it will be temporarily removed and add back again after the specific time.

[Envoy Proxy - Healthy Hosts in Envoy](https://www.envoyproxy.io/learn/health-check)
[Outlier detection — envoy 1.11.0-dev-cb7fca documentation](https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/clus

[2019-06-20 22:04] #164 closed

[2019-06-20 22:06] ender503 commented on #164
The envoy log path: /var/log/envoy/access.log

[code]

[2019-06-22 23:17] jserv commented on #152
@mushroom0117, any update?

[2019-06-22 23:39] jserv opened #168 "Track HTTPS availability of node.deviceproof.org"
While running `/opt/letsencrypt/letsencrypt-auto`, Nginx Web Server plugin is not working:
[code]

[2019-06-22 23:55] jserv commented on #168
After apply security fixes and rebooting, nginx works again. However, it implies the lack of sanity checks of HTTPS enforcement for available machine. We still have to figure out the solutions.

[2019-06-24 02:49] ender503 opened #169 "Infra: Apply AutomaticSecurityUpdates"
Apply the [AutomaticSecurityUpdates](https://help.ubuntu.com/community/AutomaticSecurityUpdates) on the following servers:

- [ ] node0.puyuma.org
- [ ] node1.puyuma.org
- [ ] node10.puyuma.org
- [ ] node.deviceproof.org

[2019-06-24 03:49] wusyong opened #170 "Infra: Auto deployment for IRI and monitoring"

[2019-06-24 04:39] ender503 commented on #168
Because the `https://node.deviceproof.org` is IRI API endpoint, we could furthermore test the IRI service with `getNodeInfo`, so we are using the blackbox_exporter with Prometheus to check the HTTPS is reachable.

The following configuration is added to the blackbox_exporter:
[code]

And we are using this module to testing the https://node.deviceproof.org
[code]
Grafana Dashboard:

![image](https:

[2019-06-24 04:40] #168 closed

[2019-06-24 04:45] yillkid commented on #166
Deploy a `hello-world.service` on node0 :

$ systemctl status hello-world.service
[code]

[2019-06-24 06:15] #160 closed

[2019-06-24 08:27] mushroom0117 commented on #152
@jserv [Library](https://github.com/mushroom0117/EVM-Engine-Lib) has been completed and deployed to [npmjs](https://www.npmjs.com/package/evm-engine-lib).
This will make users easier to start a transaction or deploy the contracts via evm-lite.

[2019-06-24 08:45] jserv commented on #152
Let's close this issue first and split into several functional subtasks.

[2019-06-24 08:45] #152 closed

[2019-06-24 09:10] #169 closed

[2019-06-25 06:23] wusyong opened #171 "Base: Evaluate mimalloc"
[mimalloc](https://github.com/microsoft/mimalloc) is a compact general purpose allocator with excellent performance. We wish to evaluate it with other alternatives and improve our performance.

Benchmark of mimalloc is separate as [mimalloc-bench](https://github.com/daanx/mimalloc-bench). Comprehensive investigate is required.

[2019-06-25 06:48] wusyong commented on #171
I still wish to make bazel rule for mimalloc. If it's too difficault for you I can handle this and integrate it to TA.

[2019-06-25 15:41] #170 closed

[2019-06-25 15:42] yillkid commented on #170
Could you share the document or Ansible-playbook for me?

[2019-06-25 15:44] wusyong commented on #170
https://iri-playbook.readthedocs.io/en/master/
But only IRI is installed. I believe `iric` is already straight forward and easy to use.

[2019-06-25 15:50] wusyong commented on #170
Or do you wish to discuss this tomorrow? @yillkid

[2019-06-25 15:53] yillkid commented on #170
Sure, I will invite you, thank you. :dancer:

[2019-06-26 04:45] wusyong opened #172 "ansible: Role configuration in playbook."
There are several roles available in iri-playbook. We should decide which should be maintained and what new role could be added. Here's current roles in iri-playbook:

- iri: Main role to setup IRI
- iotapm: A peer manager to add/remove neighbors for IRI
- nelson: Should be deprecated
- monitoring: Setup monitor tools like prometheus and grafana, currently not compatible with us.
- loadbalance: Se

[2019-06-26 07:50] wusyong commented on #172
I'm going to remove nelson. Others will remain but won't be set in `site.yml`.

[2019-06-26 10:17] wusyong commented on #172
Commit has been pushed. Roles and scripts are also updated on node10. For example, `iric` no longer provide nelson option.

[2019-06-26 10:17] #172 closed

[2019-06-30 13:08] yillkid commented on #166
Change IRI database backup scheduler from `crontab` to `systemd` timer, the advantage as below:
- Automatic log rotation
- Easy to debug: systemctl lets you view logs, exit codes, and timer history
- Easy to stop by Ansible-playbook

To add one backup systemd service and correspond timer:
/etc/systemd/system/iri-mainnet-backup.service:
[code]
iri-mainnet-backup.timer:
[code]

TODO:
- [ ] Add `iri-

[2019-07-01 06:44] ender503 commented on #166
### Note
 - This playbook only takes care of restoring the IRI database from snapshot files.
 - We need another playbook to install the IRI database backup timer.
 - The IRI database backup timer shall run by another account which also runs the IRI service.
 - Playbook has lots of useful modules, the shell scripts(e.g. backup_iri_db, recovery_iri_db) may migrate to the playbook.

[2019-07-01 14:20] wusyong commented on #166
@yillkid Would you like to integrate into iri-playbook? I think what @ender503 said can be done there.

[2019-07-01 14:23] ender503 commented on #166
@yillkid The iri-playbook repository already moved to the [DLTcollab/iri-playbook](https://github.com/DLTcollab/iri-playbook), thanks @wusyong . 👍

[2019-07-02 05:48] wusyong opened #173 "Implement ansible role task for DB backup"

[2019-07-02 05:48] wusyong opened #174 "Implement DB recovery script in iric"

[2019-07-02 07:11] yillkid opened #175 "Switch connect protocol to TCP for all neighbors"
The IRI release with the network rewrite is scheduled for the 10th of July, and will deprecated UDP protocol in neighbors' connection. We shall change all UDP protocol neighbors to TCP, affect nodes as below:

- Devorg (7/20 neighbors need to be changed):
  - [ ] udp://140.116.247.123:14600
  - [ ] udp://node0.capjupiter.com:14600
  - [x] udp://node10.puyuma.org:14265
  - [x] udp://xeevee.net:1460

[2019-07-02 15:07] #173 closed

[2019-07-03 15:16] #174 closed

[2019-07-04 06:41] wusyong opened #176 "Permanode: seek for alternatives"
As permanode is still under developing, we might need to find alternative in short term to help commercial usage. One of possible solution is distributed database deployment. With permanode using scyllaDB, we shall also adapt to it and integrate to TA or cIRI/IRI. Or maybe it can be a microservice!

Here are some references might help:
- ScyllaDB documentation: https://docs.scylladb.com/
- CQL C/C

[2019-07-04 07:24] locke2833 opened #177 "Base: ScyllaDB Feasibility Study"
ScyllaDB Feasibility Study for adapting it to cIRI/IRI for permanode.

[2019-07-06 21:23] locke2833 opened #178 "Base : Chronicle specification explanation"
Explain the system Architecture of Chronicle project for permanode with scyllaBD.

[2019-07-08 03:51] ender503 opened #179 "Infra: Duplicate NCKU based services to NCTU"
To move servers from NCKU to NCTU, I will write a proposal and discuss with @yillkid  and @wusyong to check what we need.

[2019-07-08 03:52] jserv commented on #179
Clarification: not *moving*. Instead, the task is to duplicate existing and refine existing infrastructure.

[2019-07-08 03:55] ender503 commented on #179
@jserv So NCTU will provide the servers and we need to set up the services to their servers?

[2019-07-08 04:01] jserv commented on #179
There are expectedly new servers hosted in NCTU. We shall concentrate on service duplications and migrations.

[2019-07-08 04:02] ender503 commented on #179
Sounds great 👍

[2019-07-09 07:48] ender503 commented on #179
After discussing with @yillkid and @wusyong, here are our requirements and questions about NCTU.
https://hackmd.io/D2u2MiL2STy736BASayNpA

It needs to be check with the NCTU.

[2019-07-10 16:03] yillkid commented on #175
I have changed the protocol with all the neighbors that contactable.

[2019-07-10 16:03] #175 closed

[2019-07-14 07:05] yillkid opened #180 "Base: Upgrade IRI to 1.8.0-COACH"
Upgrade IRI from 1.7.0-COACH to 1.8.0-COACH:

## Action items
- [x] Deploy to every node (braking upgrade)
- [x] Deploy with DltColLab [iri-playbook](https://github.com/dltcollab/iri-playbook)

## New features
#### Auto-tethering nodes maintain by IF:
IOTA foundation provides 3 auto-tethering nodes.

[code]

#### MAX_PEERS:
Defines the max number of connected neighbor. Default 5.

#### Batching sa

[2019-07-15 12:58] #180 closed

[2019-07-15 13:01] #166 closed

[2019-07-17 08:45] wusyong opened #181 "permanode: Install CQL driver package on target system"

[2019-07-18 07:37] wusyong commented on #181
Installation of C/C++ driver has been described in [hackmd note](https://hackmd.io/@yinghan/rydRm9MWB#Install-Scylla-CC-driver).

[2019-07-18 07:37] #181 closed

[2019-07-18 07:42] wusyong opened #182 "permanode: compile and run from source code"

[2019-07-18 07:43] yillkid commented on #163
I have switch 'devorg' to permanode, the configuration as below:
[code]

NofeInfo on devorg:
[code]

NodeInfo on normal full-node:
[code]

We can see the valuee `milestoneStartIndex` of permanode is `1050381`, but `1102075` on full-node.

[2019-07-18 07:43] #163 closed

[2019-07-18 10:08] ender503 opened #183 "Base: Write College Credential Example"

[2019-07-18 11:49] #182 closed

[2019-07-19 04:53] yillkid commented on #123
Since we choice [iri-playbook](https://github.com/DLTcollab/iri-playbook) as the deploy framework. We can close this issue and focus on the Ansible role and playbook development dor DevOps.

[2019-07-19 04:53] #123 closed

[2019-07-19 05:06] ender503 opened #184 "Infra: Setup Smart Plug"
To power on/off the DE10-Nano board remotely, we will plug our three DE10-Nano board to a power strip, and connect the power strip to a smart plug, then we could use App to control the smart plug.

[2019-07-19 05:11] ender503 opened #185 "Base: Use systemd to manage the dcurl remote-worker"
Since the remote-worker might encounter unexpected unavailability, it would be great to use the `systemd` to manage remote-worker service, and automatically restart the service during its downtime.

[2019-07-19 05:56] yillkid opened #186 "Infra: Integrate NCKU servers"
We plan to integrate all NCKU servers in one place for deploying the IOTA backend service:
1. Load balancing for FPGA accelerator
2. Load balancing for IOTA full-node
3. Easier to maintain

## Architecture
![Arch](https://user-images.githubusercontent.com/185872/61512529-d1674600-aa2c-11e9-8545-1bf2777f32d9.png)
- [Source](https://docs.google.com/drawings/d/1scFQR6NTEkcxuYjpb0WbISquC_jhmISMhYYLMrQ

[2019-07-19 06:18] yillkid opened #187 "Buy DE10-Nano Kit (8 pieces)"
* [x] Prepare [DE10-Nano Kit](https://www.terasic.com.tw/cgi-bin/page/archive.pl?Language=Taiwan&CategoryNo=173&No=1047)
- Quantity: 8 pieces

[2019-07-19 06:52] yillkid opened #188 "Check IOTA full-node healthy before running the backup service"
The automatic IRI backup script will be triggered at 01:00 every day by systemd timer. But we don't have any full-node healthy checking before backup the Rocksdb directory, it may cause the broken data to cover the backup target. We could make sure the IRI is fully-synced from the response of `getNodeInfo` API before running the backup script.

[2019-07-19 22:53] ender503 opened #189 "Infra: Statically assign MAC addresses of FPGA boards"
Since the FPGA boards change its MAC address every time on the startup, we could not allocate the IP address depending on its MAC address.

To make FPGA boards MAC address static, use the `macchanger`.

Reference:
 - [How to change the MAC address of an Ethernet interface](https://blog.sleeplessbeastie.eu/2013/01/11/how-to-change-the-mac-address-of-an-ethernet-interface/)

[2019-07-22 03:53] wusyong opened #190 "Base: Benchmark getTransactionsToApprove in cIRI"
With cIRI network refactoring done, it would be great to see the change and performance between IRI and cIRI. Benchmark some basic API request like gTTA might be a good start.

[2019-07-22 04:35] ender503 commented on #185
Replace the sysvinit with systemd on `fpga-1` and it works, so we could apply to all FPGA devices.
[How to replace sysvinit with systemd in a Debian based distribution? - Unix & Linux Stack Exchange](https://unix.stackexchange.com/questions/115231/how-to-replace-sysvinit-with-systemd-in-a-debian-based-distribution)

[2019-07-22 05:00] marktwtn commented on #162
A simple performance measurement:

Sending 100 **attachToTangle** http requests to IRI with sleeping 2 second every 50 requests.
The data is the duration from the response of the http requests.
![graph](https://user-images.githubusercontent.com/6748200/61607136-e4be1f80-ac7f-11e9-8830-692af8e3bd01.png)

The **IRI-RELEASE** is the worst since its **attachToTangleStatement()** function is synchroniz

[2019-07-22 05:55] wusyong commented on #190
Here's gTTA with depth 3 on cIRI, 10 concurrencies with 100 requests each(1000 requests total):
![](https://imgur.com/GVlabc9)

And here's IRI on node1:
![](https://imgur.com/kvJhflB)

[2019-07-23 13:36] marktwtn opened #191 "Base: Measure the time of attachToTangle API request through the different stage of IRI"
Our DLTCollab IRI can integrate with the dcurl to distribute the time consuming PoW to the remote FPGA boards.
Although the power of the FPGA boards are strong, the time for transferring the data to remote FPGAs is unknown.

Goal:
- Get the consumed time of the attachToTangle request through the different stage
    - [x] IRI
    - [x] local dcurl
    - [x] network
    - [x] remote dcurl with FPGA

[2019-07-24 04:57] #190 closed

[2019-07-24 06:49] ender503 commented on #184
Many thanks to @yillkid

[2019-07-24 06:49] #184 closed

[2019-07-24 07:15] yillkid commented on #189
@marktwtn , since you could set the fixed MAC address value at system startup, could you provide the MAC address of 3 piece FPGA board? :)

[2019-07-24 09:00] marktwtn commented on #189
After the discussion with @ender503 , I decide to give it a try by modifying the file `/etc/network/interfaces`.
If it does not work at all, I will use the original method of modifying `/etc/rc.local` and give you the MAC addresses.

[2019-07-25 06:31] yillkid commented on #188
Use [jq](https://stedolan.github.io/jq/) to parse the response of `getNodeInfo` API and compare the different value of `latestSolidSubtangleMilestoneIndex` and `latestMilestoneIndex`.

[code]

[2019-07-25 07:57] yillkid commented on #188
Merged on Add health check before executing the backup command [#14](https://github.com/DLTcollab/iri-playbook/pull/14).

[2019-07-25 07:57] #188 closed

[2019-07-25 10:44] marktwtn commented on #189
I add the line `hwaddress ether xx:xx:xx:xx:xx:xx` after the
[code]
in **/etc/network/interfaces**.
It turns out we still need to enter the command `$ dhclient -v eth0` to activate the `eth0`.
Otherwise, we would have `lo` only.

The current workaround is adding the `dhclient` command in `/etc/rc.local`.
@yillkid do you have any suggestion?

[2019-07-26 05:52] ender503 commented on #189
Seems like this is the only way to run the `dhclient` on startup for now.

See also: [Run dhclient on Startup in Ubuntu 18.04](https://gist.github.com/mohamadaliakbari/1cb9400984094541581fff07143e1c9d)

[2019-07-26 05:55] yillkid commented on #189
Seems we have a setting problem on interfaces configuration, but we can open a new issue to trace it.
We still can use `rc.local` to fixed the MAC address then I will MAP IP/MAC mapping in DHCP server.

[2019-07-26 09:54] ender503 opened #192 "Stuck on using Send Transfer Message API"
When using the `Send Transfer Message` API, the API request sometimes takes too long and even stuck, I try to restart the Tangle Accelerator, but it still stuck.
We need to narrow down this problem is occurred by Tangle Accelerator or upstream full nodes.

For example:
[code]

In this example, it is stuck and terminated by the `Ctrl+C`.

[2019-07-26 10:29] ender503 commented on #192
This issue also occurs in the `develop` branch.

[2019-07-26 14:22] #192 closed

[2019-07-26 14:22] ender503 commented on #192
Issue moved to [DLTcollab/tangle-accelerator #254](https://github.com/DLTcollab/tangle-accelerator/issues/254) via [**ZenHub**](https://www.zenhub.com/)

[2019-07-27 20:32] ender503 opened #193 "IRI: Could not find transactions by `findTransactions` API"
It is weird that could not get the transactions by using the `findTransactions` API.

The transaction can be found in the [TheTangle.org](https://thetangle.org/transaction/DHCBXQXRBVYLZPQ9KAWZ9FRXUQCHADDCW9BEIIZTWAOIQJCQIUKMNNUJSSNWDXD9SORVLGHKSGMK99999).

[code]

The `node0.puyuma.org:14265` is IRI load-balancer, the `node100.puyuma.org:14265` and `node.deviceproof.org:14265` return the same resu

[2019-07-27 20:33] ender503 commented on #193
@marktwtn could you help me trace this issue? 🙏

[2019-07-28 01:37] marktwtn commented on #193
@ender503 I think you should not put the transaction hash in the addresses parameter.
Ref: [findTransactions API](https://docs.iota.org/docs/node-software/0.1/iri/references/api-reference#findtransactions)

[2019-07-28 12:52] ender503 commented on #193
Thanks for point out 🙈

[2019-07-28 12:52] #193 closed

[2019-07-28 14:08] marktwtn commented on #162
**jstack** - Prints Java thread stack traces for a Java process

We can get the instant thread information with **jstack**:
[code]

The full print out messages show that there are a lot of threads running the `attachToTangle` function.
However, not all of them are really using the FPGA remote worker to calculate the PoW.
Since the FPGA board resource is limited, the other threads are waiting for t

[2019-07-28 15:02] jserv commented on #162
I am curious about the quantitative approach to analyze the workers powered by FPGA accelerator. Would you audit the transactions along with them?

[2019-07-31 03:26] ender503 commented on #189
The settings are applied on all the FPGA boards, and MAC addresses are static.
Let's close this issue.

[2019-07-31 03:27] #189 closed

[2019-08-01 02:52] marktwtn opened #194 "CI: Fix the failure of the IRI regression test"
Our CI runs the **DLTcollab IRI** with the **IRI** regression test offered by IOTA.

However, it failed with the output message `[Neighbor Router] ERROR NeighborRouter:246 - error occurred in the neighbor router`.
On my desktop, the error does not happen.

[2019-08-01 04:46] yillkid commented on #194
Could you describe the reproduce environment?  e.g. server domain name.

[2019-08-01 05:06] jserv opened #195 "Correct IOTA full node information provided by community"
Community sites such as [IOTA Node List](https://iota-nodes.net/) provide partial listing of IOTA full node. However, some of them might be incorrect. For example, [IOTA Node List](https://iota-nodes.net/) mentions `node.deviceproof.org` as no SSL, that is not true. We shall communicate to IOTA community members to correct the full node information.

[2019-08-01 05:07] jserv commented on #195
Check list: all attributes about PoW, SSL, and IRI versions.

[2019-08-01 09:53] marktwtn commented on #194
The error happens on the `node1`.

The steps would look like this:
- `$ git clone https://github.com/iotaledger/iri-regression-tests.git`
- `$ cd iri-regression-tests`
- `$ git clone https://github.com/DLTcollab/iri.git`
- `$ cd iri`
- `$ make check`
- `$ cd -`
- `$ bash -x run_all_stable_tests.sh [version]`. (The current version is **1.8.0-COACH**)

[2019-08-02 07:35] yillkid commented on #195
I found the account in discord (kevmiota#7421), and have sent message to him:

I am the administrator of node.deviceproof.org on https://iota-nodes.net/,
and found some incorrect attribute about the node as below,
could you correct the information for me? :-)

[2019-08-02 08:28] yillkid commented on #187
@jserv , we will have a total of 11 FPGA board after buying 8 new ones. Therefore we need to buy a new router to manage these target boards, the requirement as below:

1. 16 ports at least: 12 FPGA boards and 4 servers
2. VLAN: To plan the virtual local area network for loading balancing
3. DHCP: Management IP and VLAN for target boards and servers
4. Rack-mounted: For hardware deploy policy

My s

[2019-08-02 08:55] yillkid commented on #195
Hi there, thank you for your feedback. I'm currently on holidays. I ll check when I m back later this week

[2019-08-02 10:18] jserv commented on #187
Be aware of the fact that one of existing servers in NCKU will be taken to NCTU after we decide the configurations for FPGA boards. So, the old switch might be still functioned as well. Go ahead to proceed order.

[2019-08-02 15:56] jserv commented on #171
@JulianATA, once you are proceeding, please update this issue accordingly.

[2019-08-02 15:57] jserv commented on #177
Close as we are about to work on the prototyping.

[2019-08-02 15:57] #177 closed

[2019-08-03 02:44] marktwtn commented on #191
The consumed time of the `IRI` and the local `dcurl` on the same machine can be measured without much effort.
- IRI: **log** class (self-implemented) + **System.nanoTime()** function
- local dcurl: **ddprint()** function (self-implemented) + **clock_gettime()** function

However, when it comes to network and remote `dcurl`, it would be much harder.
The transfer time of the transaction message queu

[2019-08-03 05:08] marktwtn commented on #194
The verbose output message:
[code]

I think the `Address already in use` problem is caused by the existed `IRI` running on node1.

[2019-08-03 05:34] jserv commented on #194
Can we assign random port number for each IRI instance for CI purpose?

[2019-08-03 05:37] marktwtn commented on #194
There are two new configuration in **IRI** version 1.8.0:
- NEIGHBORING_SOCKET_ADDRESS
- NEIGHBORING_SOCKET_PORT

The default value are written in `src/main/java/com/iota/iri/conf/BaseIotaConfig.java`.

The CI error did not happen in the past since the network configuration did not exist before version 1.8.0.
I'll send a pull request to the github repository: https://github.com/iotaledger/iri-regr

[2019-08-03 15:41] yillkid commented on #187
![0](https://user-images.githubusercontent.com/185872/62413941-04722200-b648-11e9-8bf3-98801e41a653.png)

[DE10-Nano] DE10-Nano Board (教育版) x 8 pieces
total: $32,360

C.c @jserv

[2019-08-04 01:09] marktwtn commented on #194
The **NEIGHBORING_SOCKET_PORT** works as the previous **TCP_RECEIVER_PORT** port, which is 15600 in default.
Hence the configuration is not a new one, it is just renamed.

The failure is caused by the **iri-regression-tests** since its new commit does not take care of the **TCP** port correctly.

[2019-08-04 12:51] yillkid commented on #187
DE10-Nano Kit ordered already.

[2019-08-05 02:52] locke2833 opened #196 "Scalability testing for scyllaDB"
test the performance when data scaled up.